<div class="heading-sec">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 column">
      <div class="heading-profile">
        <h2>Event Link</h2>
      </div>
    </div>
  </div>
</div>

<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailAdForm" role="form" class="sec">
            <div class="row">
              <!--  HEADER -->
              <div class="col-md-12">
                <div class="form-group">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="createEntry('', 'new')">Add</button>
                  </div>
                  <!-- <label>CONTACT DETAILS</label> -->
                </div>
              </div>
              <!--  HEADER END -->
              <div class="col-md-12">
                <div class="form-group table-responsive table-font reduce-tablepadding">
                  <table class="table table-striped">
                    <thead>
                      <th>
                        <div>
                          City
                        </div>
                      </th>
                      <th>
                        <div>
                          Link
                        </div>
                      </th>
                      <th>
                        <div>
                          Action
                        </div>
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "entry in table track by $index" >
                        <td>
                          <div class="">
                            <input type="text" name="city" ng-model="entry.city" class="form-control" placeholder="Select City" readonly>
                          </div>
                        </td>
                        <td>
                          <div class="">
                            <input type="text" name="link" ng-model="entry.link" class="form-control" placeholder="Enter Link" readonly>
                          </div>
                        </td>
                        <td>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary" ng-click="createEntry(entry, 'edit')">Edit</button>
                            <button type="submit" class="btn btn-danger" ng-click="deleteEntry(entry._id)">Delete</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
