<div class="heading-sec">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 column">
      <div class="heading-profile">
        <h2>{{title}} Media Contact</h2>
      </div>
    </div>
  </div>
</div>

<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailpressnewsForm" role="form" class="sec">
            <div class="row">
              <!-- <pre>{{ detailpressnewsForm | json }}</pre> -->
              <!-- CITY -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="city">City</label>
                    <select name="city" id="city" ng-model="formData.city" class="form-control" required>
                              <option value="allcities">All Cites</option>
                              <option value="mumbai">Mumbai</option>
                              <option value="hyderabad">Hyderabad</option>
                        </select>
                    <div class="error-msg" ng-if="detailpressnewsForm.city.$invalid && detailpressnewsForm.city.$touched">Please Enter Valid City *</div>
                  </div>
                </div>
              </div>
              <!-- CITY END -->

              <!-- DATE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Date</label>
                  <input ui-date="dateOptions" name="releasedate" ng-model="formData.newsDate" class="form-control" placeholder="Enter Date"
                    ng-required="true">
                  <div class="error-msg" ng-if="detailpressnewsForm.date.$invalid && detailpressnewsForm.date.$touched">Please Enter Valid Date *</div>
                </div>
              </div>
              <!-- DATE END-->

              <!-- TITLE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Media title</label>
                  <input type="text" name="title" ng-model="formData.mediaTitle" class="form-control" placeholder="Enter Title" required>
                  <div class="error-msg" ng-if="detailpressnewsForm.title.$invalid && detailpressnewsForm.title.$touched">Please Enter Valid Title *</div>
                </div>
              </div>
              <!-- TITLE END -->

              <!-- YEAR -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" name="year" ng-model="formData.year" class="form-control" placeholder="Enter year" required>
                  <div class="error-msg" ng-if="detailpressnewsForm.year.$invalid && detailpressnewsForm.year.$touched">Please Enter Valid Year *</div>
                </div>
              </div>
              <!-- YEAR END -->

              <!-- MEDIA TYPE  -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Media Type</label>
                  <input type="text" name="mediatype" ng-model="formData.mediaType" class="form-control" placeholder="Enter Media Type" readonly>
                </div>
              </div>
              <!-- MEDIA TYPE  END -->

              <!-- UPLOAD -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Article Image</label>
                  <span class="hide"> -<strong>Note:</strong> <span class="hide">For desktop size <strong>1170 x 130</strong> </span>                  </span>
                  <upload-image ng-model="formData.mediaLink"></upload-image>
                </div>
              </div>
              <!-- UPLOAD END -->



              <!-- BUTTON -->
              <div class="col-md-12">
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveData(formData)">Save</button>
                  <button class="btn btn-default" ui-sref="pressnews">Cancel</button>
                </div>
              </div>
              <!-- BUTTON END -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>