<div class="profileathlete-card">
  <div class="inline-block v-top profileathlete-cardimgholder">
    <div class="profileathleteimage-holder">
      <img src="img/dishapatani1.jpg" class="img-responsive">
    </div>
  </div>
  <div class="inline-block v-top profileathlete-cardcontent">
    <p class="profileathlete-athletename m-clear">Sudarshan Anandkumar</p>
    <p class="profileathlete-athleteschool">Dr. Sarvepalli Radhakrishnan Hindi Secondary School ( Andheri )</p>
    <div class="profileathletecard-medallist">
      <ul class="list-inline">
        <li>
          <div class="inline-block">
            <img src="img/sf-gold-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-silver-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-bronze-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>