<div class="profileathlete-card">
  <div class="inline-block v-top profileathlete-cardimgholder">
    <div class="profileathleteimage-holder">
      <img src="img/dishapatani1.jpg" class="img-responsive">
    </div>
  </div>
  <div class="inline-block v-top profileathlete-cardcontent">
    <p class="profileathlete-athletename m-clear">Sudarshan Anandkumar</p>
    <p class="profileathlete-athleteschool">Dr. Sarvepalli Radhakrishnan Hindi Secondary School ( Andheri )</p>
    <p class="text-uppercase profileathlete-athletesports">
      <span>sports</span> : <span>Tennis</span> | <span>Judo</span>
    </p>
    <div class="profileathletecard-medallist">
      <ul class="list-inline">
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals"><img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Gold</p>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals"><img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Silver</p>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals"><img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block  text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Bronze</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>