<div class="schoolprofile-card">
  <div class="inline-block v-top schoolprofile-cardimgholder">
    <div class="schoolprofileimage-holder">
      <img src="img/dishapatani1.jpg" class="img-responsive">
    </div>
  </div>
  <div class="inline-block v-top schoolprofile-cardcontent">
    <p class="schoolprofile-schoolname">Dr. Sarvepalli Radhakrishnan Hindi Secondary School ( Andheri )</p>
    <p class="schoolprofile-schoolid">SFA Rank :20</p>
    <div class="schoolprofilecard-medallist">
      <ul class="list-inline">
        <li>
          <div class="inline-block">
            <img src="img/sf-gold-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block text-center">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-silver-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block text-center">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-bronze-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block text-center">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>