<div class="sport-card">
  <div class="sport-card-content text-center ">
    <div class="sport-imgholder ">
      <img ng-src="{{'Water Polo' | sporticon:'21_WaterPolo'}}" alt="" class="img-responsive">
    </div>
    <div class="sport-sportname ">
      <p>Football</p>
    </div>
    <div class="sport-athlete">
      <p class="m-clear text-uppercase">Athlete</p>
      <div class="sport-malefemale">

        <!--<ul class="list-inline">
          <li class="">
            <div class="">
              <img ng-src="{{'male' |gendericon:'grey'}}" alt="" class="img-responsive"> <span class="v-mid">999</span>
            </div>
          </li>
          <li>
            <span>|</span>
          </li>
          <li>
            <div class="">
              <span class="v-mid">999</span>
            </div>
          </li>

        </ul>-->
        <div class="inline-block v-mid">
          <div class="trackrecordprofile-greygender">
            <img ng-src="{{'male' | gendericon:'grey'}}" alt="" class="img-responsive">
          </div>
        </div>
        <div class="inline-block v-mid pr5">
          <p class="m-clear">999</p>
        </div>
        <div class="inline-block v-mid">
          <span>|</span>
        </div>
        <div class="inline-block v-mid pl5">
          <div class="trackrecordprofile-greygender">
            <img ng-src="{{'female' | gendericon:'grey'}}" alt="" class="img-responsive">
          </div>
        </div>
        <div class="inline-block v-mid">
          <p class="m-clear">999</p>
        </div>
      </div>
      <div class="sport-medal">
        <ul class="list-inline">
          <li>
            <div class="inline-block trackrecordprofile-bluemedals">

              <img ng-src="{{'gold'| medalicon:'blue'}}" alt="" class="img-responsive">

            </div>
            <div class="inline-block lh1 text-center">
              <!--<span class="color-primary">999</span><br/>
              <span>Gold</span>-->
              <p class="m-clear color-primary">
                999
              </p>
              <p class="m-clear">
                Gold
              </p>
            </div>
          </li>
          <li>
            <div class="inline-block trackrecordprofile-bluemedals">

              <img ng-src="{{'silver'| medalicon:'blue'}}" alt="" class="img-responsive">

            </div>
            <div class="inline-block text-center lh1">
              <!--<span class="color-primary">999</span><br/>
              <span>Silver</span>-->
              <p class="m-clear color-primary">999</p>
              <p class="m-clear">Silver</p>
            </div>
          </li>
          <li>
            <div class="inline-block trackrecordprofile-bluemedals">

              <img ng-src="{{'bronze'| medalicon:'blue'}}" alt="" class="img-responsive">

            </div>
            <div class="inline-block text-center lh1">
              <!--<span class="color-primary">999</span><br/>
              <span>Bronze</span>-->
              <p class="m-clear color-primary">999</p>
              <p class="m-clear">Bronze</p>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="sport-rankschool text-center">
    <p class="m-clear"><span>Rank</span>: <span>30</span>/<span>120</span> <span>School</span></p>
  </div>
</div>