<div class="sport-card">
  <div class="sport-card-content text-center ">
    <div class="sport-imgholder ">
      <img src="img/8_Football.png" class="img-responsive">
    </div>
    <div class="sport-sportname ">
      <p>Football</p>
    </div>
    <div class="sport-athlete">
      <p class="m-clear text-uppercase">Athlete</p>
      <div class="sport-malefemale">

        <ul class="list-inline">
          <li>
            <div class="">
              <img src="/img/sf-boys-blue.png" class="v-mid"> <span class="v-mid">999</span>
            </div>
          </li>
          <li>
            <span>|</span>
          </li>
          <li>
            <div class="">
              <img src="/img/sf-girl-blue.png" class="v-mid"> <span class="v-mid">999</span>
            </div>
          </li>

        </ul>
      </div>
      <div class="sport-medal">
        <ul class="list-inline">
          <li>
            <div class="inline-block">
              <img src="img/sf-gold-sec.png " class="img-responsive ">
            </div>
            <div class="inline-block">
              <span class="color-primary">999</span><br/>
              <span>Gold</span>
            </div>
          </li>
          <li>
            <div class="inline-block">
              <img src="img/sf-silver-sec.png " class="img-responsive ">
            </div>
            <div class="inline-block">
              <span class="color-primary">999</span><br/>
              <span>Gold</span>
            </div>
          </li>
          <li>
            <div class="inline-block">
              <img src="img/sf-bronze-sec.png " class="img-responsive ">
            </div>
            <div class="inline-block">
              <span class="color-primary">999</span><br/>
              <span>Gold</span>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="sport-rankschool text-center">
    <p><span>Rank</span>: <span>30</span>/<span>120</span> <span>School</span></p>
  </div>
</div>