<div class="team-card relate" ng-style="width={{item}}px">
  <div class="inline-block v-top team-cardimgholder">
    <div class="teamimage-holder">
      <img src="img/dishapatani1.jpg" class="img-responsive">
    </div>
  </div>
  <div class="inline-block v-top team-cardcontent">
    <p class="team-schoolname m-clear">Dr. Sarvepalli Radhakrishnan Hindi Secondary School (Andheri)</p>
    <p class="team-schoolsports"><span>Volleyball</span> | <span>BOYS</span> | <span> U-8</span> </p>
    <div class="teamcard-medallist">
      <ul class="list-inline">
        <li>
          <div class="inline-block">
            <img src="img/sf-gold-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-silver-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <img src="img/sf-bronze-sec.png " class="img-responsive ">
          </div>
          <div class="inline-block">
            <span>999</span><br/>
            <span>Gold</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class=" absolute teamschool-id">
    <span>MT123</span>
  </div>
</div>