<div class="team-card relate" ng-style="width={{item}}px" ng-init="school.type='school'" ng-class="{'card-school':school.type=='school','card-college':school.type=='college'}">
  <div class="inline-block v-top team-cardimgholder">
    <div class="teamimage-holder">
      <img src="img/dishapatani1.jpg" class="img-responsive">
    </div>
  </div>
  <div class="inline-block v-top team-cardcontent">
    <p class="team-schoolname m-clear">Dr. Sarvepalli Radhakrishnan Hindi Secondary School (Andheri)</p>
    <p class="team-schoolsports"><span>Volleyball</span> | <span>BOYS</span> | <span> U-8</span> </p>
    <div class="teamcard-medallist">
      <ul class="list-inline">
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals">
              <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Gold</p>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals">
              <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Silver</p>
          </div>
        </li>
        <li>
          <div class="inline-block">
            <div class="profile-bluemedals">
              <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive"></div>
          </div>
          <div class="inline-block text-center lh1">
            <p class="m-clear color-primary">999</p>
            <p class="m-clear">Bronze</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class=" absolute teamschool-id">
    <span>MT123</span>
  </div>
</div>