<div class="video-card">
  <div class="video-content">
    <a fancybox fancybox-box class="fancybox.iframe" href="https://www.youtube.com/embed/Gfhf2uWIg98?autoplay=1;rel=0&amp;controls=0frameborder=0">
      <div class="video-imgholder relate">
        <img src="img/day-04.png" class="img-responsive">
        <div class="absolute video-playbtn">
          <div class="vide-customplay">
            <i class="fa fa-play"></i>
          </div>
        </div>
      </div>
    </a>
    <div class="video-sportname">
      <p class="m-clear">Volleyball</p>
    </div>
    <div class="video-sportnamecontent">
      <p class="m-clear">Lorem Ipsum is simply dummy text of the printing an.| truncate:'75'
      </p>
    </div>
  </div>
</div>
