<div class="video-card">
  <div class="video-content">
    <a data-fancybox="group" href="https://www.youtube.com/embed/Gfhf2uWIg98" rel="gallery">
      <!-- <a data-fancybox href="https://player.vimeo.com/video/211466752" > -->
      <div class="video-imgholder relate">
        <img src="img/day-04.png" class="img-responsive">
        <div class="absolute video-playbtn">
          <div class="vide-customplay">
            <i class="fa fa-play"></i>
          </div>
        </div>
      </div>
    </a>
    <div class="video-sportname">
      <p class="m-clear">Volleyball |truncate:'25'</p>
    </div>
    <div class="video-sportnamecontent" ng-if="description">
      <p class="m-clear">Lorem Ipsum is simply dummy text of the printing an.| truncate:'75'
      </p>
    </div>
  </div>
</div>