<div class="video-card">
  <div class="video-content">
    <a fancybox fancybox-box>
      <div class="video-imgholder relate">
        <img src="img/day-04.png" class="img-responsive">
        <div class="absolute video-playbtn">
          <div class="vide-customplay">
            <i class="fa fa-play" aria-hidden="true"></i>
            <!--<i class="fa fa-play-circle" aria-hidden="true"></i>-->
          </div>
        </div>
      </div>
    </a>
    <div class="video-sportname">
      <p class="m-clear">Volleyball</p>
    </div>
    <div class="video-sportnamecontent">
      <p class="m-clear">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
  </div>
</div>