<div class="heading-sec">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 column">
      <div class="heading-profile">
        <h2>{{title}} Ad Banner</h2>
      </div>
    </div>
  </div>
</div>

<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailAdForm" role="form" class="sec">
            <div class="row">

              <!-- CITY -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Status</label>
                  <select name="status" id="status" ng-model="formData.city" class="form-control">
                     <option value="All">All</option>
                     <option value="Mumbai">Mumbai</option>
                     <option value="Hyderabad">Hyderabad</option>
                  </select>
                </div>
              </div>
              <!-- CITY -->

              <!-- PAGE-TYPE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Page Type</label>
                  <input type="text" name="pagetype" ng-model="formData.pageType" class="form-control text-uppercase" placeholder="Enter Page Type"
                    readonly>
                </div>
              </div>
              <!-- PAGE-TYPE END -->

              <!-- TITLE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" name="title" ng-model="formData.title" class="form-control" placeholder="Enter Title" required>
                  <div class="error-msg" ng-if="detailAdForm.title.$invalid && detailAdForm.title.$touched">Please Enter Valid Title *</div>
                </div>
              </div>
              <!-- TITLE END -->

              <!-- STATUS -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Status</label>
                  <select name="status" id="status" ng-model="formData.status" class="form-control">
                        <option value="enable">Enable</option>
                        <option value="disable">Disable</option>
                      </select>
                </div>
              </div>
              <!-- STATUS -->

              <!-- LINK TYPE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="linktype">Link Type</label>
                  <select name="linktype" id="linktype" ng-model="formData.linkType" class="form-control">
                        <option value="internal">INTERNAL</option>
                        <option value="external">EXTERNAL</option>
                        <option value="videolink">VIDEO LINK</option>
                        <option value="nolink">NO LINK</option>
                      </select>
                </div>
              </div>
              <!-- LINK TYPE END -->

              <!-- UPLOAD FILE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Ad Banner</label>
                  <span> - <span class="label label-danger"> Note:For desktop size 1170 x 130 </span></span>
                  <upload-image ng-model="formData.desktop.adBanner"></upload-image>
                </div>
              </div>
              <!-- UPLOAD FILE END -->

              <!-- AD LINK -->
              <div class="col-md-12" ng-if="formData.linkType !='nolink'">
                <div class="form-group">
                  <label>Ad Link</label> <span><b>For eg:https://player.vimeo.com/video/255187744?autoplay=1&loop=1&autopause=0</b></span>
                  <!-- <p class="m-clear">Note:<b>If you want autoplay for the videos </b> </p> -->
                  <!-- <span>Please add the following link-https://player.vimeo.com/video/255187744?autoplay=1&loop=1&autopause=0</span> -->
                  <input type="text" name="adlink" ng-model="formData.desktop.adLink" id="" class="form-control" placeholder="Enter Link" required>
                  <div class="error-msg" ng-if="detailAdForm.adlink.$invalid && detailAdForm.adlink.$touched">Please Enter Valid Link *</div>
                </div>
              </div>
              <!-- AD LINK END -->

              <!-- PLACEMENT -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Ad Placement</label>
                  <select name="adplacement" id="" class="form-control" title="Please enter the placement" ng-model="formData.adPlacement"
                    required>
                        <option value="1stbanner">1st Banner-(Top)</option>
                        <option value="2ndbanner">2nd Banner-(Middle)</option>
                        <option value="3rdbanner">3rd Banner-(Bottom)</option>
                      </select>
                </div>
              </div>
              <!-- PLACEMENT END -->



              <!-- *****************************MOBILE****************************************** -->
              <div class="text-center col-md-12">
                <h4 class="text-uppercase">Mobile</h4>
              </div>

              <!-- MOBILE LINK -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Ad Link</label> <span><b>For eg:https://player.vimeo.com/video/255187744?autoplay=1&loop=1&autopause=0</b></span>
                  <input type="text" name="mobilelink" ng-model="formData.mobile.mobileLink" class="form-control" id="" required>
                  <div class="error-msg" ng-if="detailAdForm.mobilelink.$invalid && detailAdForm.mobilelink.$touched">Please Enter Valid Link *</div>
                </div>
              </div>
              <!-- MOBILE LINK END -->

              <!-- MOBILE UPLOAD -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Mobile Ad Banner</label>
                  <span class="label label-danger">-Note:<span>For Mobile size 600 x 400</span> </span>
                  <upload-image ng-model="formData.mobile.mobileAdBanner"></upload-image>
                </div>
              </div>
              <!-- MOBILE UPLOAD END -->

              <!-- BUTTON -->
              <div class="col-md-12">
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveData(formData)">Save</button>
                  <button class="btn btn-default" ui-sref="advideo">Cancel</button>
                </div>
              </div>
              <!-- BUTTON END -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>