<div class="athleteprofile-achievements">
  <div class="container">
    <!-- ACHIEVEMENT FILTER -->
    <div class="athleteachievement-filter">
      <div class="row">
        <div class="col-md-12">
          <div class="athleteachievement-options">

          </div>
        </div>
      </div>
    </div>
    <!-- ACHIEVEMENT FILTER END -->
    <div class="athleteachievement-awards">
      <h2 class="achievement-awardyear">2017</h2>
      <div class="athleteachievement-special">
        <div class="athleteachievement-intro">
          <h3 class="fjalla-one text-uppercase">Special Awards</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem accusantium aspernatur explicabo incidunt itaque, iure nesciunt voluptatum autem fugit, facere consequatur est dolore vel eveniet cum esse consequuntur odit quibusdam.</p>
        </div>
        <!-- SPECIAL CERTIFICATE -->
        <div class="athleteachievement-certificate relate">
          <div class="athletecertificate-logo">
            <img src="img/sporticon/special-maxcube.png" alt="" class="img-responsive">
          </div>
          <div class="athleteachievement-certificatedetail">
            <h3 class="blue-header-title text-uppercase">sports max awards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti et vel, velit error ipsam magnam distinctio nobis soluta illo doloribus, ad totam nisi voluptatum repudiandae animi eum tenetur corporis.</p>
          </div>
          <div class="athleteachievement-certificatepic">
            <div class="athleteachievement-certificateholder">
              <img src="img/oldSfa/bg-draw.jpg" alt="" class="img-responsive">
            </div>
            <a href="">View Details</a>
          </div>
        </div>
        <!-- SPECIAL CERTIFICATE END -->
      </div>

      <div class="athleteachievement-excellence">
        <div class="athleteachievement-intro">
          <h3 class="fjalla-one text-uppercase">CERTIFICATE OF EXCELLENCE</h3>
        </div>
        <!-- EXCELLENCE CERTIFICATE -->
        <div class="athleteachievement-excellencecertificate">
          <div class="athleteachievement-certificate inline-block relate v-mid">
          <div class="athletecertificate-logo">
            <img ng-src="{{'footbalL' | sporticon:'icon'}}" alt="" class="img-responsive">
          </div>
          <div class="achievementexcellence-certificatedetail">
            <h3 class="blue-header-title text-uppercase">FOOTBALL</h3>
            <div class="achievementexcellence-details">
              <div class="achievementexcellence-table v-mid">
                <ul class="list-inline text-uppercase">
                  <li>BOYS |</li>
                  <li>U-14</li>
                  <li>34 KGS</li>
                </ul>
                <div class="achievementexcellence-tableholder table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="">M</div>
                        </td>
                        <td>
                          <div class="">W</div>
                        </td>
                        <td>
                          <div class="">L</div>
                        </td>
                        <td>
                          <div class="">W%</div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="">11</div>
                        </td>
                        <td>
                          <div class="">8</div>
                        </td>
                        <td>
                          <div class="">3</div>
                        </td>
                        <td>
                          <div class="">2</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="achievementexcellence-medal v-mid">
                <div class="achievementexcellence-medalholder">
                  <img ng-src="{{'silver'|medalicon:'blue'}}" alt="" class="img-responsive">
                </div>
                <p class="m-clear">Silver Medal</p>
              </div>
              <a class="display-block" ng-click="viewTeamSlider();">View Team</a>
            </div>
          </div>
          <div class="athleteachievement-certificatepic">
            <div class="athleteachievement-certificateholder">
              <img src="img/oldSfa/bg-draw.jpg" alt="" class="img-responsive">
            </div>
            <a href="">View Details</a>
          </div>
        </div>
          <div class="athleteachievement-partnerholder inline-block text-center v-mid">
            <p class=" text-uppercase">YOUR PARTNER</p>
            <medal-card></medal-card>
          </div>
        </div>
        <!-- EXCELLENCE CERTIFICATE END -->
      </div>

      <div class="athleteachievement-participation">
        <div class="athleteachievement-intro">
          <h3 class="fjalla-one text-uppercase">Certificate of Participation</h3>
        </div>
        <div class="athleteachievement-participationholder">
          <div class="athleteachievement-participationcertificate" ng-repeat="certificate in mySlides track by $index">
            <div class="participation-certificateholder">
              <img src="img/oldSfa/bg-draw.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
