<div class="accord-holder">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.open" ng-repeat="s in  schoolRankTable track by $index">
                        <uib-accordion-heading>
                            Custom template with custom header template
                        </uib-accordion-heading>
                        <div class="inner-accord">
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="q.open" ng-repeat="q in  s.ySlides track by $index">
                                    <uib-accordion-heading>
                                        Custom template with custom header template
                                    </uib-accordion-heading>
                                    <div class="inner-accord">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
