<div class="athleteprofile-highlights">
  <div class="container">
    <!-- STATS -->
    <div class="highlights-stats">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="highlights-sporttable sfa-flexslider">
            <flex-slider flex-slide="s in mySlides"  prev-text="" next-text="" control-nav="false" slideshow="true">
              <li>
                <div class="highlights-sportslide text-uppercase">
                  <div class="sportslide-header" style="background-image: url(../{{'tennis'|sporticon:'header'}});">
                    <div class="sportslide-headertitle">2017</div>
                  </div>
                  <div class="sportslide-content">
                    <p class="color-primary m-clear sportslide-sportname fjalla-one">TENNIS</p>
                    <ul class="list-inline">
                      <li>BOYS </li>
                      <li>U-14</li>
                      <li>SINGLES</li>
                    </ul>
                    <div class="sportslide-table table-responsive">
                      <table class="table">
                          <tbody>
                          <tr>
                            <td>
                              <div>
                                <p>M</p>
                                <p hidden>R</p>
                                <p hidden>A</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>W</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>L</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>D</p>
                              </div>
                            </td>
                            <td>
                              <div>
                                <p>W%</p>
                              </div>
                            </td>
                          </tr>
                            <tr>
                              <td>
                                <div class="">
                                  <p>10</p>
                                </div>
                              </td>
                              <td>
                                <div class="">
                                  <p>6</p>
                                </div>
                              </td>
                              <td>
                                <div class="">
                                  <p>3</p>
                                </div>
                              </td>
                              <td>
                                <div class="">
                                  <p>1</p>
                                </div>
                              </td>
                              <td>
                                <div class="">
                                  <p>60</p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="atheletehighlight-schoolcheck">
            <div class="cardheader-green atheletehighlight-schooltitle">
              <p class="m-clear">Check out your school's profile</p>
            </div>
            <school-profile-card></school-profile-card>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="atheletehighlight-sportgallery">
            <div class="cardheader-green atheletehighlight-gallerytitle">
              <p class="m-clear">View tennis gallery</p>
            </div>
            <div class="sfa-flexslider athletehighlight-galleryflexslider">
              <flex-slider flex-slide="s in gallery"  prev-text="" next-text="" control-nav="false" slideshow="true" slideshow-speed="2500">
                <li>
                  <div class="flexslider-galleryholder relate" ng-click="">
                    <img ng-src="{{s}}" class="img-responsive get-center">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- STATS END -->
    <!-- AD SPACE -->
    <div class="adv-space  hidden-sm hidden-xs">
          <div class="highlight-adspace relate">
            <h1 class="m-clear get-center text-uppercase">Ad Space</h1>
          </div>
    </div>
    <!-- AD SPACE END -->
    <!-- YOUR MATCH VIDEOS -->
    <div class="athletehighlights-yourvideo ">
      <h3 class="blue-header-title text-uppercase">YOUR MATCH VIDEOS</h3>
      <div class="athletehighlights-videosection">
        <div class="athletehighlights-videoholder" ng-repeat="s in mySlides | limitTo:5">
          <video-card description="true"></video-card>
        </div>
      </div>
      <div class="athletehighlights-videomore">
        <a ng-click="getTab(3);">View All</a>
      </div>
    </div>
    <!-- YOUR MATCH VIDEOS END -->
    <!-- ATHELETES YOU MAY KNOW  -->
    <div class="athletehighlights-athletes">
      <div class="athletehighight-knowflexslider sfa-flexslider">
        <h3 class="blue-header-title text-uppercase">ATHLETES YOU MAY KNOW</h3>
        <flex-slider flex-slide="s in mySlides" class="highlight-knowflexslider" >
          <li>
            <div class="highlights-athleteslide ">
              <profile-athlete-card></profile-athlete-card>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
    <!-- ATHELETES YOU MAY KNOW END  -->
    <!-- SPORT RANKING TABLE -->
    <div class="athletehighlight-sportranking">
      <h3 class="blue-header-title text-uppercase">Archery ranking table</h3>
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="highlight-sportranking-table ">
            <div class="highlight-sportranking-tableoverlay table-responsive">
            <table class="table">
              <thead>
                <tr >
                  <th>
                    <div class="schooltable-head">
                      Rank
                    </div>
                  </th>
                  <th>
                    <div class="schooltable-head">
                      School Name
                    </div>
                  </th>
                  <th>
                    <div class="table-medalimage text-center">
                      <img src="{{'gold'|medalicon:'white'}}" alt="" width="20px">
                      <p class="schoolmedal-points m-clear">5 points</p>
                    </div>
                  </th>
                  <th>
                    <div class="table-medalimage text-center">
                      <img src="{{'silver'|medalicon:'white'}}" alt="" width="20px">
                      <p class="schoolmedal-points m-clear">3 points</p>
                    </div>
                  </th>
                  <th>
                    <div class="table-medalimage text-center">
                      <img src="{{'bronze'|medalicon:'white'}}" alt="" width="20px">
                      <p class="schoolmedal-points m-clear">2 points</p>
                    </div>
                  </th>
                  <th>
                    <div class="schooltable-head text-centers">Points</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in schoolRankTable track by $index">
                  <td>
                    <div class="text-center">{{$index+1}}</div>
                  </td>
                  <td>
                    <div class="">{{item.name}}</div>
                  </td>
                  <td>
                    <div class="text-center">{{item.gold}}</div>
                  </td>
                  <td>
                    <div class="text-center">{{item.silver}}</div>
                  </td>
                  <td>
                    <div class="text-center">{{item.bronze}}</div>
                  </td>
                  <td>
                    <div class="text-center">{{item.points}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="col-md-5  hidden-sm hidden-xs">
          <div class="side-adspace relate">
            <h1 class="m-clear get-center text-uppercase">Ad Space</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- SPORT RANKING TABLE END -->
    <!-- OTHER VIDEOS -->
    <div class="athletehighlights-yourvideo athletehighlights-othervideo ">
      <h3 class="blue-header-title text-uppercase">other videos YOU may like</h3>
      <div class="athletehighlights-videosection">
        <div class="athletehighlights-videoholder" ng-repeat="s in mySlides | limitTo:5">
          <video-card></video-card>
        </div>
      </div>
    </div>
    <!-- OTHER VIDEOS END -->
    <!-- AD SPACE -->
    <div class="adv-space hidden-sm hidden-xs">
      <div class="highlight-adspace relate">
        <h1 class="m-clear get-center text-uppercase">Ad Space</h1>
      </div>
    </div>
    <!-- AD SPACE END -->
    <!-- TOP PERFORMING ATHLETES  -->
    <div class="athletehighlights-athletes">
      <div class="athletehighight-knowflexslider sfa-flexslider">
        <div class="titledescription-holder">
          <h3 class="blue-header-title text-uppercase">top performing ATHLETES</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sunt omnis autem rem odio recusandae at nemo magni, atque reiciendis aut, vitae non, ad quisquam quasi veniam eius. Voluptatibus, dolore.</p>
        </div>
        <flex-slider flex-slide="s in mySlides" class="highlight-knowflexslider" >
          <li>
            <div class="highlights-athleteslide ">
              <profile-athlete-card></profile-athlete-card>
            </div>
          </li>
        </flex-slider>
        <div class="athletehighlight-viewall">
          <a href="">view all</a>
        </div>
      </div>
    </div>
    <!-- TOP PERFORMING ATHLETES END  -->
  </div>
</div>
