<div class="atheleteprofile-highlights">
  <div class="container">
    <div class="highlights-stats">
      <div class="row">
        <div class="col-md-4">
          <div class="highlights-sporttable">
            <flex-slider flex-slide="s in mySlides"  prev-text="" next-text="" control-nav="false" slideshow="true">
              <li>
                <div class="highlights-sportslide">
                  <div class="sportslide-header">
                    <div class="sportslide-headertitle">2017</div>
                  </div>
                  <div class="sportslide-content">
                    <p class="color-primary m-clear sportslide-sportname">TENNIS</p>
                    <ul class="list-inline">
                      <li>BOYS </li>
                      <li>U-14</li>
                      <li>SINGLES</li>
                    </ul>
                    <div class="sportslide-table">
                      <div class="sportslidetable-element">
                        <p>M</p>
                        <p>11</p>
                      </div>
                      <div class="sportslidetable-element">
                        <p>W</p>
                        <p>8</p>
                      </div>
                      <div class="sportslidetable-element">
                        <p>L</p>
                        <p>3</p>
                      </div>
                      <div class="sportslidetable-element">
                        <p>W%</p>
                        <p>2</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
