<div class="atheleteprofile-statistics">
    <div class="container">
      <!-- YEAR ON YEAR SUMMARY -->
        <div class="athletestatistics-yearsummary">
          <div class="athletestatistics-summaryheader">
            <h3 class="fjalla-one text-uppercase">year on year summary</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quis, modi ullam aut quam repellat fuga nesciunt impedit, illo, dicta optio soluta laboriosam quo fugit voluptatibus, tenetur ratione mollitia commodi.</p>
          </div>
          <div class="athletestatistics-summaryslider sfa-flexslider">
            <flex-slider flex-slide="n in customCards track by $index" prev-text="" next-text="">
              <li>
                <div>
                  <div class="school-yearsummary">
                    <div class="school-yearsummaryhead">
                      <div class="school-yearsummaryimg relate" style="background-image: url(../{{'tennis'|sporticon:'header'}});">
                        <div class="school-yearsummarycontent">
                          <p class="m-clear fjalla-one">Football</p>
                        </div>
                        <div class="school-yearsummarysportimg">
                          <img src="img/8_Football.png" alt="" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <div class="school-yearsummarytable table-responsive">
                      <table class="table">
                        <thead>
                          <th></th>
                          <th>
                            <div class="">
                              <p class="m-clear">M</p>
                              <p class="m-clear hide">R</p>
                              <p class="m-clear hide">A</p>
                            </div>
                          </th>
                          <th>
                            <div class="">
                              <p class="m-clear">W</p>
                            </div>
                          </th>
                          <th>
                            <div class="">
                              <p class="m-clear">L</p>
                            </div>
                          </th>
                          <th>
                            <div class="">
                              <p class="m-clear">D</p>
                            </div>
                          </th>
                          <th>
                            <div class="">
                              <p class="m-clear">W%</p>
                            </div></th>

                        </thead>
                        <tbody>
                          <tr ng-repeat="t in summaryTable track by $index">
                            <td>
                              <div class="teko-semibold">
                                {{t.year}}
                              </div>
                            </td>
                            <td>
                              <div class="">
                                {{t.match}}
                              </div>
                            </td>
                            <td>
                              <div class="">
                                {{t.win}}
                              </div>
                            </td>
                            <td>
                              <div class="">
                                {{t.loss}}
                              </div>
                            </td>
                            <td>
                              <div class="">
                                {{t.draw}}
                              </div>
                            </td>
                            <td>
                              <div class="">
                                {{t.wper}}
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
      <!-- YEAR ON YEAR SUMMARY END -->
      <!-- DETAILED STATISTICS -->
        <div class="athletestatistics-detailsummary">
          <div class="athletestatistics-detailheader">
            <h3 class="fjalla-one text-uppercase">detailed statistics</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quibusdam quod architecto minima voluptatibus saepe fuga doloribus, asperiores illum itaque possimus ipsam ipsum omnis, nostrum eum, delectus illo, quaerat totam.</p>
          </div>
          <div class="athletestatistics-detailfilter">
            <p>View by sports:</p>
          </div>
          <!-- Detailed sport summary card -->
          <div class="athletestatistics-sportcard">
            <!-- HEADER -->
            <div class="statisticsport-header">
                <div class="statisticsport-sporticon">
                  <img ng-src="{{'Basketball'|sporticon:'icon'}}" alt="" class="img-responsive">
                </div>
                <h3 class="blue-header-title m-clear text-uppercase">Basketball</h3>
                <h5 class="text-uppercase opensans-semibold m-clear"><span> BOYS </span>  <span> | </span> <span> U-14 </span></h5>
            </div>
            <!-- HEADER END -->
            <!-- CONTENT -->
            <div class="statisticsport-content">
              <p class="text-uppercase"><span> Boys </span> <span> | </span> <span> u-8 </span> <span> | </span> <span> Mt 1113 </span></p>
              <div class="clearfix">
                <div class="statisticsport-schoolyear">
                  <p class="schoolyear-year">2017</p>
                  <p class="schoolyear-school">Dr. Sarvepalli Radhakrishnan Hindi Secondary School (Andheri)</p>
                </div>
                <ul class="list-inline statisticsport-contentlist">
                  <li>
                    <h2 class="m-clear medalcount-contentlist">999</h2>
                    <p>Played</p>
                  </li>
                  <li>
                    <h2 class="m-clear medalcount-contentlist">999</h2>
                    <p>Won</p>
                  </li>
                  <li>
                    <h2 class="m-clear medalcount-contentlist">999</h2>
                    <p>lost</p>
                  </li>
                </ul>
              </div>
              <div class="statisticsport-tablecontent table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-uppercase">
                        <th>
                          <div class="schoolprofileteam-head">
                            Rank
                          </div>
                        </th>
                        <th></th>
                        <th>
                          <div class="schoolprofileteam-head">
                            Opponent
                          </div>
                        </th>
                        <th>
                          <div class="schoolprofileteam-head">
                            score
                          </div>
                        </th>
                        <th>
                          <div class="schoolprofileteam-head">
                            Result
                          </div>
                        </th>
                        <th>
                          <div class="schoolprofileteam-head">
                            video
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in selectedsportTable track by $index">
                        <td>
                          <div class="">{{item.round}}</div>
                        </td>
                        <td>
                          <div>vs</div>
                        </td>
                        <td>
                          <div class="inline-block schoolprofile-teamsportimg v-mid ">
                            <img src="img/oldSfa/icon/2.png" alt="" class="img-responsive">
                          </div>
                          <div class="inline-block opponent-schoolname v-mid">
                            <p class="m-clear">{{item.schoolname}}</p>
                          </div>
                        </td>
                        <td>
                          <div class="">{{item.score}}</div>
                        </td>
                        <td>
                          <div class="text-center">
                            <p class="m-clear">{{item.result}}</p>
                            <div class="statisticsport-tablemedal hide">
                              <img src="{{'gold'|medalicon:'blue'}}" alt="" class="img-responsive">
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="inline-block v-mid">
                            <div class="videotableteam-imgholder relate">
                              <img src="img/day-04.png" class="img-responsive">
                              <div class="video-playbtn">
                                <span><i class="fa fa-play"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="inline-block v-mid schoolprofile-teamvideos">
                            <p>{{item.videotext}} </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="statisticsport-certificatebtn">
                <button type="button" name="button" class="btn btn-blue-outline text-uppercase">view team</button>
                <button type="button" name="button" class="btn btn-blue-outline text-uppercase">view certificate</button>
              </div>
            </div>
            <!-- CONTENT END -->
            <!-- FOOTER -->
            <div class="statisticsport-footer">
              <div class="statisticsport-medaldetails">
                <ul class="list-inline">
                  <li>
                    <div class="">
                      Football Boys U-16 Champions 2017:
                    </div>
                  </li>
                  <li>
                    <div class="">
                      <div class="inline-block v-top">
                        <img src="{{'gold' | medalicon:'white'}}" alt="" width="25px">
                      </div>
                      <div class="inline-block v-top medaldetails-schoolname">
                        <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                      </div>
                    </div>

                  </li>
                  <li>
                    <div class="">
                      <div class="inline-block v-top">
                        <img src="{{'silver' | medalicon:'white'}}" alt="" width="25px">
                      </div>
                      <div class="inline-block v-top medaldetails-schoolname">
                        <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                      </div>
                    </div>

                  </li>
                  <li>
                    <div class="">
                      <div class="inline-block v-top">
                        <img src="{{'bronze' | medalicon:'white'}}" alt="" width="25px">
                      </div>
                      <div class="inline-block v-top medaldetails-schoolname">
                        <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- FOOTER END -->
          </div>
          <!-- Detailed sport summary card END -->
        </div>
      <!-- DETAILED STATISTICS END -->
    </div>
</div>
