<div class="atheleteprofile-statistics">
    <h1>statistics</h1>

    <div class="container">
        <div class="">
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'athlete'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'team'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'progress'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'blue'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'grey'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'white'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'male'|gendericon:'small'}}" class="img-responsive">
            </div>
        </div>

        <div class="">
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'athlete'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'team'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'progress'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'blue'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'grey'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'white'}}" class="img-responsive">
            </div>
            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'female'|gendericon:'small'}}" class="img-responsive">
            </div>

            <div class="athlete-detailmedal inline-block">
                <img ng-src="{{'Gold'|medalicon:'big'}}" class="img-responsive">
            </div>
        </div>
    </div>
</div>
