@media screen and (max-width: 1200px) {
  // WIDE SCREENS
  // **************SCHOOL HEADER***************
  .schoolprofilecard-holder {
    width: 80%;
  }
  .schoolprofile-page {
    .schoolprofilecard {
      .schooldetail-holder {
        width: calc(100% - 200px);
      }
    }
  } // *****************END SCHOOL HEADER ***************
  // ********************TEAM CARD************************
  .teamcard-medallist {
    li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  } // ********************END TEAM CARD********************
  // ***************PROFILE ATHLETE CARD*********************
  .profileathlete-cardcontent {
    width: calc(100% - 105px);
  }
  .profileathletecard-medallist {
    li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  } // ***************PROFILE ATHLETE CARD END*********************
  // *************** HIGHLIGHT PAGE *********************
  // SCHOOL PROFILE CARD
  .schoolprofile-cardcontent {
    width: calc(100% - 105px);
  }
  .profile-bluemedals {
    width: 15px;
  }
  .schoolprofilecard-medallist {
    .list-inline>li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  } // END SCHOOL PROFILE CARD
  // SIDE AD SPACE
  .side-adspace {
    min-height: 446px;
  } // END SIDE AD SPACE
  //******************** END HIGHLIGHT PAGE **************
  // ********************TRACKRECORD PAGE*****************
  // YEAR BLUE DIV
  .schoolprofile-trackrecord {
    .trackrecord-year ul>li {
      padding-right: 5px;
    }
    .trackrecord-detailwidth {
      width: auto;
    }
  } // END YEAR BLUE DIV
  // ********************END TRACKRECORD PAGE***************
  // **********TEAM PAGE***********
  // SUMMARY TABLE
  .school-yearsummaryimg {
    margin-left: 72px;
  } // END SUMMARY TABLE
  // TABLE FOOTER
  .selectedsport-medaldetails {
    .selectedsport-sportnameage {
      width: 190px;
    }
    .winingschool-width {
      width: 190px;
    }
    .profile-bluemedals {
      width: 20px;
    }
  } // END TABLE FOOTER
  // **********END TEAM PAGE*******
  //  **********STATISTICS PAGE********
  .statistics-medalwon {
    text-align: center;
  }
  .sportwise-statisticscard {
    .statistics-cardcontent {
      padding: 10px 5px;
    }
    .sportwise-statisticstype p {
      font-size: 42px;
      letter-spacing: 2px;
    }
  }
  .statistics-winpercentage {
    margin: 5px auto;
  } // ACCORDIAN
  .schoolachievements-accordianholder {
    padding: 0px 20px;
  } // END ACCORDIAN
  // ***********END STATISTICS PAGE******
}