@media screen and (max-width: 991px) {
  // DESKTOP SCREENS
  //****************** SCHOOL HEADER**************
  .schoolprofilecard-holder {
    width: 80%;
  }
  .schoolprofile-page {
    .schoolprofilecard {
      .schooldetail-holder {
        width: calc(100% - 160px);
      }
      .school-image {
        width: 150px;
        height: 150px;
      }
    }
  } // *********END SCHOOL HEADER *********
  // *************SCHOOL PROFILE CARD***********
  .schoolprofilecard-medallist {
    .list-inline>li {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  } // *************END SCHOOL PROFILE CARD*******
  // ****************TEAM CARD *******************
  .teamcard-medallist {
    .list-inline>li {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  } // ****************END TEAM CARD****************
  //************* ATHLETE PROFILE CARD**********
  .profileathletecard-medallist {
    li {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  } // ************END ATHLETE PROFILE CARD**********
  // *************HIGHLIGHT PAGE **************
  //SIDE AD SPACE
  .side-adspace {
    margin: 10px 0px;
  } // END SIDE AD SPACE
  // MEDIA GALLERY PAGE
  .imagegallery {
    margin: 15px 0px;
  } // END MEDIA GALLERY PAGE
  // **************END HIGHLIGHT PAGE***************
  //******************** TRACKRECORD PAGE**************
  // YEAR BLUE DIV
  .schoolprofile-trackrecord {
    .trackrecord-detailwidth {
      width: calc(100% - 105px);
    }
    .trackrecord-currentyear {
      font-size: 70px;
    }
    .trackrecord-detail {
      padding: 5px 5px;
    }
  }
  .trackrecord-detail {
    ul>li {
      font-size: 12px;
    }
  }
  .schoolprofile-trackrecord {
    .trackrecord-year ul>li {
      padding-right: 0px;
    }
  } // END YEAR BLUE DIV
  //******************* END TRACKRECORD PAGE*******************
  // *************TEAM PAGE **********************
  // SUMMARY TABLE
  .school-yearsummaryimg {
    margin-left: 82px;
  } // END SUMMARY TABLE
  .schoolprofile-teamvideos {
    width: auto;
  } // TABLE FOOTER
  .selectedsport-medaldetails {
    .profile-bluemedals {
      width: 20px;
    }
    .selectedsport-sportnameage {
      width: 240px;
    }
    .winingschool-width {
      width: 230px;
    }
    li {
      &:nth-last-child(1) {
        padding-right: 20px;
      }
    }
  } // END TABLE FOOTER
  // **********END TEAM PAGE*******
  // **********STATISTICS PAGE ************
  .statistics-performancemedalpoints {
    .list-inline>li {
      padding-left: 28px;
    }
  } // **********END STATISTICS PAGE **********
  // ************ACHIEVEMENTS PAGE ************
  // SPECIAL AWARD
  .schoolachievement-certificate {
    margin-left: 70px;
  }
  .schoolcertificate-logo {
    width: 60px;
    top: -18px;
    left: -60px;
  }
  .schoolachievement-certificatedetail {
    width: calc(100% - 130px);
  }
  .schoolachievement-certificateholder {
    width: 100px;
  }
  .schoolachievement-certificatepic {
    padding: 20px 10px;
  } // END SPECIAL AWARD
  // BLUE BAR
  .schoolachievements-bluebar {
    .schoolachievements-detail {
      padding: 5px 10px;
      ul {
        font-size: 12px;
      }
    }
  }
  .schoolachievements-matchdetails {
    font-size: 14px;
  } // END BLUE BAR
  // ************END ACHIEVEMENTS PAGE ************
}