@media screen and (max-width: 767px) {
  // Tablet SCCREENS
  // ********COMMON CLASS********
  .profile-bluemedals {
    width: 20px;
  } // ********END COMMON CLASS******
  //********** SCHOOL HEADER*****************
  .schoolprofilecard-holder {
    width: 100%;
  }
  .schoolprofile-page {
    .schoolprofilecard {
      text-align: center;
      .mobileschoolheader-progressbar {
        width: 100%;
      }
      .schoolpic-check {
        left: 20px;
      }
      .schooldetail-holder {
        width: 100%;
      }
      .mobileschoolheader-progressbar {
        display: block;
        width: 60%;
        margin: 0 auto;
      }
    }
  } //************ END SCHOOL HEADER ***************
  //************* ATHLETE PROFILE CARD**********
  .profileathletecard-medallist {
    li {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  } // ************END ATHLETE PROFILE CARD**********
  // **************HIGHLIGHT PAGE**************
  // CHAMPIONS CARD
  .schoolchampions {
    margin: 15px 0px;
    padding: 0px 5px;
  } // CHAMPIONS CARD END
  // SCHOOL PROFILE CARD
  .performance {
    margin: 15px 0px;
    padding: 0px 5px;
  }
  .schoolprofilecard-medallist {
    .list-inline>li {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  } // END SCHOOL PROFILE CARD
  // RANK TABLE
  .schholranktable-width {
    max-width: none;
  } // END RANK TABLE
  // IMAGE GALLERY
  .imagegallery {
    padding: 0px 5px;
  } // END IMAGE GALLERY
  // **************END HIGHLIGHT PAGE***********
  // **************TRACKRECORD PAGE *********************
  // YEAR BLUE DIV
  .schoolprofile-trackrecord {
    .trackrecord-detail {
      padding: 5px 5px;
    }
    .trackrecord-detailwidth {
      width: auto;
    }
  }
  .trackrecord-detail {
    .profile-bluemedals {
      width: 15px;
    }
  } // END YEAR BLUE DIV
  // **************END TRACKRECORD PAGE*******************
  // *********TEAM PAGE ***************
  // SUMMARY TABLE
  .school-yearsummaryimg {
    margin-left: 102px;
  } // END SUMMARY TABLE
  // TABLE FOOTER
  .selectedsport-medaldetails {
    text-align: left;
    .winingschool-width {
      width: calc(100% - 25px);
    }
    .selectedsport-sportnameage {
      width: 100%;
    }
    li {
      margin: 5px 0px;
    }
  } // END TABLE FOOTER
  // *********TEAM PAGE END***************
  // *********STATISTICS PAGE *************
  // RANK CARD
  .sportreport-schoolrankcard {
    margin: 15px 0px;
  } // END RANK CARD
  // GENDER RATIO
  .sportreport-totalathletescard {
    margin: 15px 0px;
  } // END GENDER RATIO
  // SPORT WISE CARD
  .sportwise-statisticscard {
    .statistics-cardcontent {
      padding: 10px 15px;
    }
  } //  END SPORT WISE CARD
  // **********END STATISTICS PAGE ********
  // **********ACHIEVEMENTS PAGE *************
  // SCHOOL AWARD
  .schoolachievement-certificate {
    width: auto;
  }
  .schoolachievement-certificatedetail {
    width: calc(100% - 145px);
    h3 {
      font-size: 21px;
    }
    p {
      font-size: 12px;
    }
  }
  .schoolachievement-certificateholder {
    width: 120px;
  } // END SCHOOL AWARD
  // BLUE BAR
  .schoolachievements-bluebar {
    .schoolachievements-detail {
      ul {
        text-align: center;
      }
    }
  } // END BLUE BAR
  // ACCORDIAN 
  .schoolachievements-accordianholder .schoolachievements-accordiancontent {
    margin: 0px 12px;
  }
  .schoolachivements-accordianmedals {
    li {
      padding: 0px;
      font-size: 12px;
    }
  }
  .schoolachievements-accordiancontent {
    .pd5 {
      padding: 10px;
    }
  }
  .schoolachievements-accordianholder {
    .mt5 {
      margin-top: 10px;
    }
  }
  .schoolachievements-accordianholder {
    .schoolachievements-accordianimg {
      width: 50px;
      height: 50px;
      top: -5px;
      left: -25px;
    }
  }
  .inneraccordian-medalslist {
    padding: 0px;
    font-size: 12px;
  }
  .inneraccordian-achievementsdetails {
    p {
      font-size: 12px;
    }
    .pd5 {
      padding: 10px;
    }
  } // END ACCORDIAN
  // **********END ACHIEVEMENTS PAGE ***********
}