@media screen and (max-width: 480px) {
  // Mobile SCREENS
  // ********COMMON CLASS*************
  .profile-bluemedals {
    width: 15px;
  } // ********END COMMON CLASS**********
  //  SCHOOL PROFILE HEADER
  .schoolprofile-page {
    .schoolprofilecard {
      padding: 0px;
      text-align: center;
      .school-image {
        width: 150px;
        height: 150px;
      }
    }
    .mobileschoolheader-progressbar {
      display: block;
      width: 60%;
      margin: 0 auto;
    }
    .schoolpic-check {
      left: 20px;
    }
    .schoolprofilecard-head h3 {
      font-size: 18px;
      word-break: break-word;
    }
  } //  SCHOOL PROFILE HEADER END
  // ***********NAVIGATION***************
  .school-navigation ul li {
    padding: 5px 5px;
    font-size: 12px;
  } // **************END NAVIGATION*****************
  // **************SCHOOL PROFILE CARD******************
  .schoolprofilecard-medallist {
    .list-inline>li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  }
  .schoolprofilecard-contigent {
    p {
      font-size: 14px;
    }
  } // ***************END SCHOOL PROFILE CARD*************
  // *****************MEDAL CARD**************
  .medal-imgholder {
    width: 90px;
    height: 90px;
  }
  .medal-athletename {
    width: 90px;
  } // *****************END MEDAL CARD**********
  // ******PROFILE ATHLETE CARD*************
  .profileathletecard-medallist {
    li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  } // ******END PROFILE ATHLETE CARD*********
  // ************TEAM CARD *****************
  .team-cardcontent {
    width: calc(100% - 105px);
  }
  .teamcard-medallist {
    .list-inline>li {
      padding: 0px;
      padding-right: 4px;
      font-size: 12px;
      &:nth-last-child(1) {
        padding-right: 0px;
      }
    }
  } // ************END TEAM CARD**************
  // **********************HIGHLIGHT PAGE******************
  // **********************END HIGHLIGHT PAGE****************
  // **************TRACKRECORD PAGE**********************
  .schooltrackrecord-head {
    .titledescription-holder {
      text-align: left;
    }
  }
  .mobiletrack-accordian {
    .col-xs-12 {
      padding: 0px 5px;
    }
  } // **************END TRACKRECORD PAGE******************
  // ****************TEAM PAGE *********************
  // SUMMARY TABLE
  .school-yearsummaryimg {
    margin-left: 72px;
  } // END SUMMARY TABLE
  // SPORT TABLE SECTION
  .schoolprofile-teamsportlistcard {
    text-align: center;
  }
  .schoolprofile-selectsporthead {
    .list-inline>li {
      display: block;
      margin: 5px 0px;
    }
  } // END SPORT TABLE SECTION
  // TABLE CARD
  .schoolprofile-teamsportdetails {
    .teamslected-matchdetail {
      font-size: 24px;
    }
    .list-inline>li {
      padding: 0px 10px;
    }
  }
  .selectedsport-tablecardcontent {
    margin: 0px 20px;
  } // END TABLE CARD
  // ****************END TEAM PAGE******************
  //**************** ACHIEVEMENTS PAGE **************
  // SCHOOL AWARD
  .schoolachievement-certificatedetail {
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  .schoolachievement-certificatepic {
    margin-left: 40px;
  } // END SCHOOL AWARD
  // BLUE BAR
  .schoolachievements-bluebar {
    .schoolachievements-detail {
      ul {
        text-align: left;
      }
    }
  } // END BLUE BAR
  // ACCORDIAN
  .schoolachievements-accordianholder {
    padding: 0px;
    padding-left: 20px;
  }
  .schoolachievements-accordianholder {
    .schoolachievements-accordiancontent {
      text-align: left;
    }
  }
  .outeraccordian-sportfloat {
    float: none !important;
    text-align: left;
  }
  .inneraccordian-sportfloat {
    float: none !important;
    text-align: left;
    padding: 5px;
    p {
      text-align: left;
    }
  }
  .inneraccordian-medalslist {
    text-align: left;
  }
  .schoolachievements-accordiancontent {
    .pd5 {
      padding: 5px;
    }
  } // END ACCORDIAN
  // ***************END ACHIEVEMENTS PAGE ***********
  // ****************MATCH VIDEO ******************
  .allfeaturedheader {
    font-size: 24px;
  }
  .featurevideo-subheader {
    font-size: 12px;
  }
  .featurevideo-sportvideocardfooter {
    font-size: 12px;
  } // ****************MATCH VIDEO END ******************
  // ******************GALLERY LANDING ******************
  .gallery-landing-page .gallery-likepic-holder {
    height: 90px;
  }
  .gallery--responsive-header {
    font-size: 21px;
  }
  .gallery-landing-page .gallery-feature-subtitle {
    font-size: 14px;
  }
  .gallery-landing-page .feature-cardholder:first-child .feature-card-footer {
    font-size: 10px;
  }
  .gallery-landing-page .feature-card-footer {
    font-size: 9px;
  }
  .gallery-landing-page .gallery-landing-mainheader {
    font-size: 30px;
  } // ******************GALLERY LANDING END ******************
  // *******************COMMON CLASSS *************************
  .sfa-header-title {
    font-size: 26px;
  } // *******************COMMON CLASSS END**********************
}