@media (max-width: $screen-xs-max) {
   // Mobile SCREENS
   // ATHLETE PROFILE PAGE
   // ATHLETE PROFILE CARD
   .athleteheader-typestar{
     margin: 5px 0;
   }
   // ATHLETE PROFILE CARD END
   // ATHLETE PROFILE ACHIEVEMENTS
   .athleteachievement-certificate{
     margin-top: 25px;
     margin-left: 50px;
     text-align: center;
   }
   .athleteachievement-certificatedetail{
     width: 100%;
     padding: 10px;
     text-align: left;
   }
   .athletecertificate-logo {
    width: 50px;
    top: -15px;
    left: -50px;
  }
  .athleteachievement-certificateholder{
    margin: 0 auto;
  }
  .athleteachievement-certificate{
    margin-top: 25px;
    margin-left: 50px;
    text-align: center;
  }
  .achievementexcellence-certificatedetail{
    width: 100%;
    text-align: left;
  }
  .achievementexcellence-table{
    margin: 0;
    ul{
      margin-bottom: 0;
    }
  }
  .athleteachievement-participationcertificate{
    width: 145px;
  }
   // ATHLETE PROFILE  ACHIEVEMENTS END
   // ATHLETE PROFILE PAGE END
}
