<div class="atheleteprofile-page">
  <div class="container">
    <div class="atheleteprofile-mainsection">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="atheleteprofile-card">
            <div class="atheleteprofile-picture">
              <div class="athelete-picholder">
                <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="atheleteprofile-details">
              <div class="atheletedetail-name">
                <h3 class="m-clear">Sudharshan A. Anandkamaram</h3>
                <p>Dr. Sarvepalli Radhakrishnan Hindi Secondary School (Andheri)</p>
              </div>
              <div class="athelete-details">
                <p>SFA ID: <span> 23450 </span> | <span> Male </span> | <span> 14 </span> <span>Years</span></p>
                <p>SFA Championship: <span> 2017 </span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
