<div class="athletelanding-page">
  <!-- ATHLETE LANDING HEADER -->
    <div class="athletelanding-header">
        <div class="athletelanding-headeroverlay">
            <div class="container">
              <!-- SEAFCH BOX -->
                <div class="landing-search">
                    <div class="input-group landingsearch-inputgroup">
                        <input type="text" class="form-control" placeholder="Enter Athlete Name or SFA ID">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <!-- SEAFCH BOX END -->
            </div>
        </div>
    </div>
    <!-- ATHLETE LANDING HEADER END -->
</div>
