<div class="athleteprofile-page">
  <!-- athlete CARD -->
  <div class="athleteprofile-mainsection">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="athleteprofile-card">
            <div class="athleteprofile-picture">
              <div class="athlete-picholder">
                <span class="athletepic-check"><i class="fa fa-check"></i></span>
                <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="athleteprofile-details">
              <div class="athletedetail-header">
                <ul class="list-inline">
                  <li >
                    <div class="athleteheader-typestar">
                      <div class="athleteflag-img">
                        <img src="img/oldSfa/banner1.jpg" alt="" class="img-responsive">
                      </div>
                      <div class="athletestar-title athletelevel-title"><span>International</span> <span hidden>National</span> <span hidden>State</span> ATHLETE</div>
                    </div>
                  </li>
                  <li>
                    <div class="athleteheader-typestar">
                      <div class="athletestar-img">
                        <img src="img/athletestar.png" alt="" class="img-responsive">
                      </div>
                      <div class="athletestar-title">SFA STAR ATHLETE</div>
                    </div>
                  </li>
                </ul>

              </div>
              <div class="athletedetail-title">
                <h3 class="m-clear athletedetail-name">Sudharshan A. Anandkamaram</h3>
                <p class="athletedetail-scholname">Dr. Sarvepalli Radhakrishnan Hindi Secondary School (Andheri)</p>
              </div>
              <div class="athlete-details">
                <p>SFA ID: <span> 23450 </span> | <span> Male </span> | <span> 14 </span> <span>Years</span></p>
                <p>SFA Championship: <span> 2017 </span></p>
                <p class="athletedetail-sportlist">SPORTS: <span> TENNIS <span> | </span></span> <span>JUDO</span></p>
              </div>
              <div class="athletedetails-stats">
                <div class="athletedetails-ratio inline-block v-top">
                  <p><span> Total Matches: <span> 999 </span> </span> <span> | </span> <span> Won: <span> 999 </span> </span> <span> | </span> <span> Lost: <span> 999 </span></span></p>
                  <div class="progressbar-holder">
                    <div class="progress">
                      <div class="progress-bar relate" style="width:60%">
                        <span class="progress-hovertip">won: 60%</span>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="athletedetails-medals inline-block v-top">
                  <ul class="list-inline">
                    <li>
                      <div class="athlete-detailmedal inline-block">
                        <img src="img/sf-gold-sec.png" alt="Gold Medals" class="img-responsive">
                      </div>
                      <div class="inline-block text-center"> <span class="color-primary"> 999 </span><br> <span> Gold </span></div>
                    </li>
                    <li>
                      <div class="athlete-detailmedal inline-block">
                        <img src="img/sf-silver-sec.png" alt="Silver Medals" class="img-responsive">
                      </div>
                      <div class="inline-block text-center"> <span class="color-primary"> 999 </span><br> <span> Silver </span></div>
                    </li>
                    <li>
                      <div class="athlete-detailmedal inline-block">
                        <img src="img/sf-bronze-sec.png" alt="Bronze Medals" class="img-responsive">
                      </div>
                      <div class="inline-block text-center"> <span class="color-primary"> 999 </span><br> <span> Bronze </span></div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- athlete CARD END -->

  <!-- athlete NAVIGATION -->
  <div class="athleteprofile-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="athlete-navscroll">
            <ul class="list-inline">
              <li class="athletenav-option" ng-click="getTab(0);" ng-class="{'active': athleteprofile.active=='highlights'}">HIGHLIGHTS</li>
              <li class="athletenav-option" ng-click="getTab(1);" ng-class="{'active': athleteprofile.active=='statistics'}">STATISTICS</li>
              <li class="athletenav-option" ng-click="getTab(2);" ng-class="{'active': athleteprofile.active=='achievements'}">ACHIEVEMENTS</li>
              <li class="athletenav-option" ng-click="getTab(3);" ng-class="{'active': athleteprofile.active=='videos'}">VIDEOS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- athlete NAVIGATION END -->
  <!-- athlete PROFILE CONTENT -->
  <div class="athleteprofile-content" ng-include="athleteprofile.innerView"></div>
  <!-- athlete PROFILE CONTENT ENd -->
</div>
