<div class="athletelanding-page">
  <!-- ATHLETE LANDING HEADER -->
    <div class="athletelanding-header">
        <div class="athletelanding-headeroverlay">
            <div class="container">
              <!-- SEAFCH BOX -->
                <div class="landing-search">
                    <div class="input-group landingsearch-inputgroup">
                        <input type="text" class="form-control" placeholder="Enter Athlete Name or SFA ID">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <!-- SEAFCH BOX END -->
            </div>
        </div>
    </div>
    <!-- ATHLETE LANDING HEADER END -->
    <!-- ATHLETE LANDING NAVIGATION -->
    <div class="athletelanding-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="athletelanding-navscroll">
              <ul class="list-inline text-uppercase">
                <li class="landingnav-option" ng-click="getTab(0);" ng-class="{'active': athletelanding.active=='school'}">school</li>
                <li class="landingnav-option" ng-click="getTab(1);" ng-class="{'active': athletelanding.active=='college'}">CollegeS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ATHLETE LANDING NAVIGATION END -->
    <!-- ATHLETE LANDING CONTENT -->
    <div class="athletelanding-content" ng-include="athletelanding.innerView"></div>
    <!-- ATHLETE LANDING CONTENT END  -->
</div>
