<!-- GALLERY LANDING PAGE -->
<div class="gallery-landing-page">
  <div class="container">
    <!-- HEADER -->
    <div class="gallery-landing-header">
      <div class="gallery-landing-mainheader fjalla-one text-uppercase color-primary">
        Gallery
      </div>
      <div class="gallery-headercontent">
        <p class="">The Championship Gallery. Experience victory and defeat, passion and talent, on-court skills and off-court smiles; everything that goes down at the SFA Championships.</p>
        <p class="hide">Spotted yourself? Log in through your athlete profile and tag yourself for the picture to appear on your personal profile page.</p>
    </div>
    </div>
    <!-- HEADER END -->

    <!-- CHECK OUT ATHLETES -->
    <div class="gallery-checkout">
      <!-- GALLERY_CHECKOUT HEADER -->
      <div class="gallery-checkout-header">
        <h3 class="fjalla-one text-uppercase light-blue">check out our young and rising sport stars in action</h3>
      </div>
      <!-- GALLERY_CHECKOUT HEADER END -->

      <!-- FEATURE IMAGE START -->
      <div class="gallery-feature">
        <div class="text-uppercase color-darkgrey gallery-feature-subtitle">Featured</div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="card in feature track by $index">
            <div class="cardholder">
              <div class="feature-cardholder" ng-repeat="subcard in card track by $index" ng-click="openAlbumView(subcard);">
                <div class="card1"></div>
                <div class="feature-card-image">
                  <img ng-src="{{subcard.image.image|serverimage}}" alt="{{subcard.albumTitle}} | Sport For All" class="img-responsive">
                </div>
                <div class="feature-card-footer" title="{{subcard.albumTitle}}">
                  {{subcard.albumTitle | truncate:'46'}}
                </div>
                <div class="card-slip"></div>
                <div class="card-slip2"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- FEATURE END -->

    </div>
    <!-- CHECK OUT ATHLETES END -->

    <!-- AD SPACE -->
    <div class="gallery-landing-adspace relate">
      <div class="text-center">
        <!-- NO LINK -->
        <div class="ad-nolink" ng-if="firstAdBanner.linkType=='nolink'">
          <!-- DESKTOP -->
          <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive hidden-xs">
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive  visible-xs">
          <!-- MOBILE END -->
        </div>
        <!-- NO LINK END -->

        <!-- INTERNAL && EXTERNAL LINK -->
        <div class="ad-internal-external" ng-if="firstAdBanner.linkType=='internal' || firstAdBanner.linkType=='external'">
          <!-- DESKTOP -->
          <a href="{{firstAdBanner.desktop.adLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
              <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive hidden-xs">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE  -->
          <a href="{{firstAdBanner.mobile.mobileLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive  visible-xs">
          </a>
          <!-- MOBILE  END -->

        </div>
        <!-- INTERNAL && EXTERNAL LINK END -->

        <!-- VIDEO -->
        <div class="ad-video" ng-if="firstAdBanner.linkType=='videolink'">
          <!-- DESKTOP -->
          <a class="fancybox.iframe hidden-xs" fancybox href="{{firstAdBanner.desktop.adLink}}">
            <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <a class="fancybox.iframe visible-xs" fancybox href="{{firstAdBanner.mobile.mobileLink}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- MOBILE END -->
        </div>
        <!-- VIDEO END -->
        <!-- <div class="get-center m-clear">AD SPACE</div> -->
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- SFA CHAMPIONS -->
    <div class="gallery-landing-sfachampions">
      <!-- HEADER -->
      <div class="gallery-sfachampions-header">
        <h3 class="fjalla-one text-uppercase light-blue">
          Sfa champions-Mumbai
        </h3>
      </div>
      <!-- HEADER END -->

      <!-- SCHOOL / COLLEGE CONTENT -->
      <div class="gallery-sfachampions-schoolcollege" ng-if="schoolAlbums.length>0">
        <h3 class="fjalla-one text-uppercase">SCHOOL</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="album in schoolAlbums track by $index">
            <div class="album-holder">
              <div class="album-pic-holder" style="background-image:url('{{album.mediaLink | mediapathtwo}}')">
              </div>
              <div class="album-title-holder">
                <p class="fjalla-one text-capitalize m-clear album-subtitle ">{{album.eventTitle}}</p>
                <p class="galleryalbum-count"><span>
                 <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{album.totalCount}}</span> <span>Albums</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SCHOOL  CONTENT END -->
      <!--  COLLEGE CONTENT -->
      <div class="gallery-sfachampions-schoolcollege" ng-if="collegeAlbums.length>0">
        <h3 class="fjalla-one text-uppercase">COLLEGE</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="item in collegeAlbums track by $index">
            <div class="album-holder">
              <div class="album-pic-holder" style="background-image:url('{{item.mediaLink | mediapathtwo }}')">
              </div>
              <div class="album-title-holder">
                <p class="fjalla-one text-capitalize m-clear album-subtitle ">{{item.eventTitle}}</p>
                <p class="galleryalbum-count"><span>
                          <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{item.totalCount}}</span> <span>Albums</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- COLLEGE CONTENT END -->

    </div>
    <!-- SFA CHAMPIONS END -->

    <!-- AD SPACE -->
    <div class="gallery-landing-adspace relate">
      <div class="text-center">
        <!-- NO LINK -->
        <div class="ad-nolink" ng-if="firstAdBanner.linkType=='nolink'">
          <!-- DESKTOP -->
          <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive hidden-xs">
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive  visible-xs">
          <!-- MOBILE END -->
        </div>
        <!-- NO LINK END -->

        <!-- INTERNAL && EXTERNAL LINK -->
        <div class="ad-internal-external" ng-if="firstAdBanner.linkType=='internal' || firstAdBanner.linkType=='external'">
          <!-- DESKTOP -->
          <a href="{{firstAdBanner.desktop.adLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
              <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive hidden-xs">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE  -->
          <a href="{{firstAdBanner.mobile.mobileLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive  visible-xs">
          </a>
          <!-- MOBILE  END -->

        </div>
        <!-- INTERNAL && EXTERNAL LINK END -->

        <!-- VIDEO -->
        <div class="ad-video" ng-if="firstAdBanner.linkType=='videolink'">
          <!-- DESKTOP -->
          <a class="fancybox.iframe hidden-xs" fancybox href="{{firstAdBanner.desktop.adLink}}">
            <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <a class="fancybox.iframe visible-xs" fancybox href="{{firstAdBanner.mobile.mobileLink}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- MOBILE END -->
        </div>
        <!-- VIDEO END -->
        <!-- <div class="get-center m-clear">AD SPACE</div> -->
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- PHOTOS AND VIDEOS MASONARY-->
    <div class="gallery-landing-photovideo">
      <div class="gallery-photovideo-header">
        <h3 class="fjalla-one text-uppercase light-blue">
          PHOTOS & Videos
        </h3>
      </div>
      <div class="gallery-landing-photovideoholder">
        <div class="row" masonry preserve-order>
          <div class="col-md-4 col-sm-4 col-xs-6 masonry-brick" ng-repeat="galleryImage in photosVideos track by $index">
            <a href="{{galleryImage.mediaLink | mediapathtwo}}" data-fancybox="group" rel="galleryLanding" ng-if="galleryImage.mediatype =='photo'">
              <div class="photovideo-galleryimage relate pointer">
                <img ng-src="{{galleryImage.mediaLink | mediapathtwo}} " alt="| Sport For All" class="img-responsive" >
              </div>
            </a>
            <a href="{{galleryImage.medialink|linkvideo:galleryImage.videotype}}" data-fancybox="group" rel="galleryLanding" ng-if="galleryImage.mediatype==='video'">
              <div class="photovideo-galleryimage relate pointer">
                <img ng-src="{{galleryImage.thumbnail}}" alt="| Sport For All" class="img-responsive" >
                <div class="absolute video-playbtn" >
                  <div class="vide-customplay">
                    <i class="fa fa-play"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- PHOTOS AND VIDEOS END -->

    <!-- LIKE -->
    <div class="gallery-like">
      <div class="gallery-like-header">
        <h3 class="fjalla-one text-uppercase light-blue">You may also like</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="like in likeImage track by $index">
          <div class="gallery-likepic-holder pointer" style="background-image:url('{{like.img}}')">
          </div>
        </div>
      </div>

    </div>
    <!-- LIKE -->


  </div>

</div>
<!-- GALLERY LANDING PAGE END -->
