<!-- GALLERY LANDING PAGE -->
<div class="gallery-landing-page">
  <div class="container">
    <!-- HEADER -->
    <div class="gallery-landing-header">
      <div class="gallery-landing-mainheader fjalla-one text-uppercase color-primary">
        Gallery
      </div>
      <p class="gallery-headercontent">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est iusto excepturi consectetur nemo quia dolorum? Similique aperiam
        autem vitae cupiditate laboriosam earum explicabo quis omnis modi ratione. In, illo assumenda!Impedit consequuntur
        voluptas molestiae, blanditiis cum aspernatur tempore. Rem, optio, modi alias quae fugit, pariatur corrupti voluptas
        odit aperiam quia ea esse! Recusandae excepturi veritatis ad deserunt sunt. Error, deserunt!
      </p>
    </div>
    <!-- HEADER END -->

    <!-- CHECK OUT ATHLETES -->
    <div class="gallery-checkout">
      <!-- GALLERY_CHECKOUT HEADER -->
      <div class="gallery-checkout-header">
        <h3 class="fjalla-one text-uppercase light-blue">check out our young and rising sport stars in action</h3>
      </div>
      <!-- GALLERY_CHECKOUT HEADER END -->

      <!-- FEATURE IMAGE START -->
      <div class="gallery-feature">
        <div class="text-uppercase color-darkgrey gallery-feature-subtitle">Featured</div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="card in feature track by $index">
            <div class="cardholder">
              <div class="feature-cardholder" ng-repeat="subcard in card.featureCard track by $index">
                <div class="card1"></div>
                <div class="feature-card-image">
                  <img ng-src="img/{{subcard.img}}" alt="| Sport For All" class="img-responsive">
                </div>
                <div class="feature-card-footer" title="{{subcard.content}}">
                  {{subcard.content | truncate:'46'}}
                </div>
                <div class="card-slip"></div>
                <div class="card-slip2"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- FEATURE END -->

    </div>
    <!-- CHECK OUT ATHLETES END -->

    <!-- AD SPACE -->
    <div class="gallery-landing-adspace relate">
      <div class="adspace text-center ">
        <div class="get-center m-clear">AD SPACE</div>
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- SFA CHAMPIONS -->
    <div class="gallery-landing-sfachampions">
      <!-- HEADER -->
      <div class="gallery-sfachampions-header">
        <h3 class="fjalla-one text-uppercase light-blue">
          Sfa champions-Mumbai
        </h3>
      </div>
      <!-- HEADER END -->

      <!-- SCHOOL / COLLEGE CONTENT -->
      <div class="gallery-sfachampions-schoolcollege">
        <h3 class="fjalla-one text-uppercase">SCHOOL</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="album in schoolAlbums track by $index">
            <div class="album-holder">
              <div class="album-pic-holder" style="background-image:url('{{album.mediaLink | mediapathtwo}}')">
              </div>
              <div class="album-title-holder">
                <p class="fjalla-one text-capitalize m-clear album-subtitle ">{{album.eventTitle}}</p>
                <p class="galleryalbum-count"><span>
                 <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{album.totalCount}}</span> <span>Albums</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SCHOOL  CONTENT END -->
      <!--  COLLEGE CONTENT -->
      <!-- <div class="gallery-sfachampions-schoolcollege">
        <h3 class="fjalla-one text-uppercase">COLLEGE</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="yearCard in championCard.sfaCards track by $index">
            <div class="album-holder">
              <div class="album-pic-holder" style="background-image:url('{{yearCard.img}}')">
              </div>
              <div class="album-title-holder">
                <p class="fjalla-one text-capitalize m-clear album-subtitle ">{{yearCard.title}}</p>
                <p class="galleryalbum-count"><span>
                          <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{yearCard.count}}</span> <span>Albums</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- COLLEGE CONTENT END -->

    </div>
    <!-- SFA CHAMPIONS END -->

    <!-- AD SPACE -->
    <div class="gallery-landing-adspace relate">
      <div class="adspace text-center ">
        <div class="get-center m-clear">AD SPACE</div>
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- PHOTOS AND VIDEOS MASONARY-->
    <div class="gallery-landing-photovideo">
      <div class="gallery-photovideo-header">
        <h3 class="fjalla-one text-uppercase light-blue">
          PHOTOS & Videos
        </h3>
      </div>
      <div class="gallery-landing-photovideoholder">
        <div class="row" masonry preserve-order>
          <div class="col-md-4 col-sm-4 col-xs-6 masonry-brick" ng-repeat="galleryImage in photosVideos track by $index">
            <div class="photovideo-galleryimage relate pointer">
              <img ng-src="{{galleryImage.mediaLink | mediapathtwo}} " alt="| Sport For All" class="img-responsive" ng-if="galleryImage.mediatype =='photo'">
              <img ng-src="{{galleryImage.thumbnail}}" alt="| Sport For All" class="img-responsive" ng-if="galleryImage.mediatype==='video'">
              <div class="absolute video-playbtn" ng-if="galleryImage.mediatype =='video'">
                <div class="vide-customplay">
                  <i class="fa fa-play"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PHOTOS AND VIDEOS END -->

    <!-- LIKE -->
    <div class="gallery-like">
      <div class="gallery-like-header">
        <h3 class="fjalla-one text-uppercase light-blue">You may also like</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="like in likeImage track by $index">
          <div class="gallery-likepic-holder pointer" style="background-image:url('{{like.img}}')">
          </div>
        </div>
      </div>

    </div>
    <!-- LIKE -->


  </div>

</div>
<!-- GALLERY LANDING PAGE END -->