<div class="pressmedia-page">
  <!-- HEADER -->
  <section class="pressmedia-header">
    <div class="container">
      <!-- HEADER TITLE -->
      <div class="pressmedia-headertitle fjalla-one text-uppercase color-primary">
        Press & Media
      </div>
      <!-- HEADER TITLE END -->
      <div class="pressmedia-headercontent opensans-semibold">
        When a vision for the nation, meets the voice of the nation; there is no telling what we can achieve. Sports For All thanks
        each and every media partner for believing in our cause. Your words have lent support to athletes, coaches, schools,
        colleges and our mission to revolutionize the sporting culture of India. Thank your for your support and belief,
        Ab Jeetega India.
      </div>
    </div>

  </section>
  <!-- HEADER END -->
  <!-- MEDIA NAV -->
  <section class="pressmedia-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pressmedia-navscroll">
            <ul class="list-inline text-uppercase">
              <li class="landingnav-option" ng-click="getTab(0);" ng-class="{'active': pressmedia.active=='inthenews'}">in the news</li>
              <li class="landingnav-option" ng-click="getTab(1);" ng-class="{'active': pressmedia.active=='pressreleases'}">press releases</li>
              <li class="landingnav-option" ng-click="getTab(2);" ng-class="{'active': pressmedia.active=='mediacontact'}">media contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- MEDIA NAV END -->
  <!-- PRESS MEDIA CONTENT -->
  <div class="pressmedia-content" ng-include="pressmedia.innerView"></div>
  <!-- PRESS MEDIA CONTENT END -->
</div>