<div class="schoolprofile-page">
    <!--School-head-->
    <div class="school-head">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
                    <div class="schoolprofilecard">
                        <div class="inline-block v-top schoolpicholder relate">
                            <span class="schoolpic-check"><i class="fa fa-check"></i></span>
                            <div class="school-image profile-imgholder">
                                <img src="img/dishapatani1.jpg" class="img-responsive br100">
                            </div>

                        </div>

                        <div class="inline-block schooldetail-holder">
                            <div class="schoolprofilecard-head">
                                <h3 class="color-primary fjalla-one">Dr. Sarvepalli Radhakrishnan Hindi<br/>Secondary School ( Andheri )</h3>
                            </div>
                            <div class="scoolprofilecard-details ">
                                <p><span>SFA ID</span>:<span>23450</span> | <span>SFA Championship</span> : <span>2017</span></p>
                                <p><span>SFA Rank</span>:<span>23450</span> | <span>Contigent</span> : <span>250 Athletes</span>                                    <span>(<span class="mr5">M 150</span><span>F 150</span>)</span>
                                </p>

                            </div>
                            <div class="schoolsports-played ">
                                <p class="m-clear">Sports Played :11</p>
                            </div>
                            <div class="school-achievments ">
                                <div class=" inline-block v-top">
                                    <div class="school-total">
                                        <p><span>Total Matches</span>: <span>11</span> | <span>Won</span> : <span>80</span>                                            |
                                            <span>Lost</span>:
                                            <span>80</span></p>
                                        <div class="progressbar-holder">
                                            <div class="progress">
                                                <div class="progress-bar stats-noshowbar" role="progressbar" style="width:60%">

                                                    <span class="progress-hovertip">160%</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div class="inline-block v-top">
                                    <div class=" school-medals">
                                        <ul class="list-inline">
                                            <li>
                                                <div class="inline-block">
                                                    <div class="profile-bluemedals ">
                                                        <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="inline-block text-center">
                                                    <span class="color-primary">999</span><br/>
                                                    <span>Gold</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inline-block">
                                                    <div class="profile-bluemedals ">
                                                        <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="inline-block text-center">
                                                    <span class="color-primary">999</span><br/>
                                                    <span>Silver</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inline-block">
                                                    <div class="profile-bluemedals ">
                                                        <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                                <div class="inline-block text-center">
                                                    <span class="color-primary">999</span><br/>
                                                    <span>Bronze</span>
                                                </div>
                                            </li>




                                        </ul>
                                    </div>

                                </div>




                            </div>

                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End School-head-->

    <!--School-nav-->
    <div class="school-navigation">
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-uppercase">
                            <ul class="list-inline">

                                <li ng-click="getTab(0)" ng-class="{'active':schoolprofile.active=='highlights'}">
                                    HIGHLIGHTS
                                </li>
                                <li ng-click="getTab(1)" ng-class="{'active':schoolprofile.active=='trackrecord'}">track record</li>
                                <li ng-click="getTab(2)" ng-class="{'active':schoolprofile.active=='team'}">team</li>
                                <li ng-click="getTab(3)" ng-class="{'active':schoolprofile.active=='statistics'}">statistics</li>
                                <li ng-click="getTab(4)" ng-class="{'active':schoolprofile.active=='achievements'}">achievements</li>
                                <li ng-click="getTab(5)" ng-class="{'active':schoolprofile.active=='video'}">video</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!--End School-nav-->

    <div class="schoolprofile-content" ng-include="schoolprofile.innerView">

    </div>


</div>