<div class="sportpage">
  <!-- HEAD BANNER -->
  <section class="sportpage-banner">
    <div class="container-fluid">
      <div class="row">
        <img src="img/icon/Judo.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </section>
  <!-- HEAD BANNER END -->
  <!-- CONTENT -->
  <section class="sportpage-content">
    <div class="container">
      <div class="">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut sapiente, sit ex eligendi beatae omnis sunt fuga soluta, magnam reiciendis, cupiditate ipsam vitae voluptatum sequi dicta tempore ad ratione!</span>
        <span>Rem, veniam eos tenetur rerum et fugiat beatae, in non libero nihil, ullam cumque dolorem totam animi hic laudantium blanditiis ab a vitae, pariatur quae suscipit saepe numquam odit? Ratione.</span>
        <span>Odio sit voluptatum amet? Nobis nemo aperiam expedita debitis dolor velit laborum earum eos recusandae. Molestiae harum minus animi eos adipisci praesentium asperiores ipsum, sapiente, voluptate quasi ex expedita suscipit!</span>
        <span>Esse officiis, laborum alias, dicta rerum quaerat, consectetur odit incidunt facere eaque perspiciatis porro. Tenetur dolor pariatur temporibus nostrum laborum, consequuntur sapiente, porro rem vero, ducimus modi dolorem magnam perspiciatis.</span></p>
      </div>
    </div>
  </section>
  <!-- CONTENT END -->

</div>
