<div class="sportpage">
  <!-- HEAD BANNER DESKTOP -->
  <section class="sportpage-banner hidden-xs" style="background-image: url('{{sportPageData.banner.desktop | serverimage }}')">
    <!-- CONTAINER -->
    <div class="container">
      <div class="sportpage-banner-relate">
        <div class="sportpage-iconname-holder">
          <div class="sportpage-icon" ng-if="sportPageData.sportName">
            <img ng-src="{{ sportPageData.sportName | sporticon: 'icon' }}" alt="sportPageData.sportName" class="img-responsive">
          </div>
          <div class="sportpage-sportname text-uppercase">
            {{sportPageData.sportName}}
          </div>
        </div>
      </div>
    </div>
    <!-- CONTAINER END -->
  </section>
  <!-- HEAD BANNER DESKTOP END -->

  <!-- MOBILE BANNER  -->
  <section class="sportpage-banner visible-xs" style="background-image: url('{{sportPageData.banner.mobile | serverimage }}')">
    <!-- CONTAINER -->
    <div class="container">
      <div class="sportpage-banner-relate">
        <div class="sportpage-iconname-holder">
          <div class="sportpage-icon" ng-if="sportPageData.sportName">
            <img ng-src="{{ sportPageData.sportName | sporticon: 'icon' }}" alt="sportPageData.sportName" class="img-responsive">
          </div>
          <div class="sportpage-sportname text-uppercase">
            {{sportPageData.sportName}}
          </div>
        </div>
      </div>
    </div>
    <!-- CONTAINER END -->
  </section>
  <!-- MOBILE BANNER END -->

  <div class="container">
    <!-- CONTENT -->
    <section class="sportpage-content" ng-if="sportPageData.contentData">
      <div class="sportpage-contentholder" ng-class="{'sportpage-content-hideread ':!readvariable,'sportpage-content-showread':readvariable}">
        <p ng-bind-html="sportPageData.contentData | trustedHtml">

        </p>
      </div>
      <div class="sportpage-readmore text-right" ng-if="showRead">
        <a ng-click="readMore()">
          Read
          <span ng-if="!readvariable">More</span>
          <span ng-if="readvariable">Less</span>
          </span>
        </a>
      </div>
    </section>
    <!-- CONTENT END -->
    <!-- <pre>{{sportPageData.pdfData.pdf.length | json}}</pre> -->
    <!-- PDF / LINK -->
    <section class="sportpage-pdf-link-holder">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" ng-if="sportPageData.pdfData.pdf.length >= 1">
          <!-- PDF -->
          <div class="sportpage-pdfholder">
            <!-- HEADER -->
            <div class="sportpage-pdfheader text-center fjalla-one color-primary text-uppercase">
              {{sportPageData.pdfData.header}}
            </div>
            <!-- HEADER END -->

            <!-- PDF ICON -->
            <ul class="list-inline text-center">
              <li class="sportpage-pdficonholder" ng-repeat="data in sportPageData.pdfData.pdf |limitTo:3 track by $index">
                <a href="{{data.link | serverimage}}" target="_self" download>
                  <div class="sportpage-pdficon inline-block m-auto">
                    <img src="img/icon/pdf.png" alt="pdf" class="img-responsive">
                  </div>
                  <div class="sportpage-pdftitle text-uppercase">
                    {{data.title}}
                  </div>
                </a>
              </li>
            </ul>
            <!-- PDF  ICON END-->
          </div>
          <!-- PDF END -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!--LINK DATA  -->
          <div class="sportpage-linkholder-types" ng-if="sportPageData.registrationData.linkStatus==='enable'">
            <!-- NO LINK -->
            <div class="sportpage-linkholder" title="{{sportPageData.registrationData.title}}" style="background-image: url('{{sportPageData.registrationData.image | serverimage}}')"
              ng-if="sportPageData.registrationData.linkType==='nolink'">

            </div>
            <!-- NO LINK END -->

            <!-- INTERNAL / EXTERNAL -->
            <a href="{{sportPageData.registrationData.link}}" target="{{sportPageData.registrationData.linkType=='external' ? '_new' : '_self'}}">
              <div class="sportpage-linkholder" title="{{sportPageData.registrationData.title}}" style="background-image: url('{{sportPageData.registrationData.image | serverimage}}')"
                ng-if="sportPageData.registrationData.linkType==='internal' || sportPageData.registrationData.linkType==='external'">

              </div>
            </a>
            <!-- INTERNAL / EXTERNAL END -->

            <!-- VIDEO LINK -->
            <a href="{{sportPageData.registrationData.link}}" fancybox data-fancybox="group" rel="sportpagevidelinks">
              <div class="sportpage-linkholder rela" title="{{sportPageData.registrationData.title}}" style="background-image: url('{{sportPageData.registrationData.image | serverimage}}')"
                ng-if="sportPageData.registrationData.linkType==='videoLink'">
                <div class="absolute video-playbtn">
                  <div class="vide-customplay">
                    <i class="fa fa-play"></i>
                  </div>
                </div>
              </div>
            </a>
            <!-- VIDEO LINK END -->
          </div>
          <!-- LINK DATA END -->


        </div>
      </div>
    </section>
    <!-- PDF / LINK END -->

    <!-- PHOTOS  -->
    <section class=" sportpage-photos ">
      <div class="sfa3card-galleryslider ">
        <div class="swiper-container ">
          <div class="swiper-wrapper ">
            <div class="swiper-slide " ng-repeat="slide in allGallery.slidePhotos track by $index ">
              <div class="sfa3card-galleryslide ">
                <div class="row ">
                  <div class="col-md-6 col-sm-6 sfa3card-photoslide " ng-repeat="photoList in slide track by $index ">
                    <div class="sfa3card-photo ">
                      <div class="sfa3cardgallery-photoholder " ng-repeat="photo in photoList track by $index ">
                        <a data-fancybox="group" href="{{photo.mediaLink | mediapathtwo }}" rel="swipergallery">
                          <img ng-src="{{photo.mediaLink | mediapathtwo }} " alt="Sports For All " class="img-responsive ">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev "></div>
      </div>
    </section>
    <!-- PHOTOS END  -->

    <!-- AD SPACE -->
    <!-- <pre>{{bannerData | json}}</pre> -->
    <section class="sportpage-adspace " ng-if="bannerData.status==='enable'">

      <!-- NO LINK -->
      <div class="sportpage-adspaceholder-nolink" ng-if="bannerData.linkType==='nolink'">
        <img title="{{bannerData.title}}" ng-src="{{ bannerData.desktop.adbanner | serverimage }}" alt="SFA | " class="img-responsive hidden-xs">
        <img title="{{bannerData.title}}" ng-src="{{ bannerData.mobile.adbanner | serverimage }}" alt="SFA | " class="img-responsive visible-xs">
      </div>
      <!-- NO LINK END -->

      <!-- INTERNAL / EXTERNAL -->
      <div class="sportpage-adspaceholder-internalexternal" ng-if="bannerData.linkType==='external' || bannerData.linkType==='internal'">
        <!-- DESKTOP -->
        <a title="{{bannerData.title}}" href="{{bannerData.desktop.adlink}}" target="{{bannerData.linkType=='external' ? '_new' : '_self'}}">
          <img ng-src="{{ bannerData.desktop.adbanner | serverimage }}" alt="SFA | " class="img-responsive hidden-xs">
        </a>
        <!-- DESKTOP END -->

        <!-- MOBILE -->
        <a title="{{bannerData.title}}" href="{{bannerData.mobile.adlink}}" target="{{bannerData.linkType=='external' ? '_new' : '_self'}}">
          <img ng-src="{{ bannerData.mobile.adbanner | serverimage }}" alt="SFA | " class="img-responsive visible-xs">
        </a>
        <!-- MOBILE END -->
      </div>
      <!-- INTERNAL / EXTERNAL END -->

      <!-- VIDEO LINK -->
      <div class="sportpage-adspaceholder-videoholder" ng-if="bannerData.linkType==='videolink'">
        <!-- DESKTOP -->
        <a title="{{bannerData.title}}" fancybox data-fancybox="group" rel="sportpageadbanner" href="{{bannerData.desktop.adlink}}"
          target="{{bannerData.linkType=='external' ? '_new' : '_self'}}">
          <img ng-src="{{ bannerData.desktop.adbanner | serverimage }}" alt="SFA | " class="img-responsive hidden-xs">
        </a>
        <!-- DESKTOP END -->

        <!-- MOBILE -->
        <a title="{{bannerData.title}}" fancybox data-fancybox="group" rel="sportpageadbanner" href="{{bannerData.mobile.adlink}}"
          target="{{bannerData.linkType=='external' ? '_new' : '_self'}}">
          <img ng-src="{{ bannerData.mobile.adbanner | serverimage }}" alt="SFA | " class="img-responsive visible-xs">
        </a>
        <!-- MOBILE END -->
      </div>
      <!-- VIDEO LINK END -->




    </section>
    <!-- AD SPACE -->

    <!-- TOP PERFORMING ATHLETE -->
    <section class="sportpage-topperforming-athlete " ng-if="athleteMedalData.length > 0">
      <!-- HEADER -->
      <div class="sportpage-topperforming-header fjalla-one text-uppercase color-primary ">
        Top
        <span ng-if="!athleteMedalData[0].isTeam">athletes</span>
        <span ng-if="athleteMedalData[0].isTeam">schools</span> from sfa championships
      </div>
      <!-- HEADER END -->

      <!-- INSITUTE  -->
      <div class="sportpage-topperforming-institute ">
        <h4 class="opensans-regular text-uppercase" ng-if="!athleteMedalData[0].isTeam">School</h4>
        <h4 class="opensans-regular text-uppercase" ng-if="athleteMedalData[0].isTeam">Teams</h4>
      </div>
      <!-- INSITUTE  END -->

      <!-- ATHLETE CARD -->
      <!-- <pre>
        {{athleteMedalData | json}}
      </pre> -->
      <div class="sportpage-topperforming-atheleteholder">
        <div class="profileathlete-card relate " ng-repeat="athlete in athleteMedalData | limitTo:3 track by $index ">
          <!-- IMAGE -->
          <div class="inline-block v-top profileathlete-cardimgholder ">
            <div class="profileathleteimage-holder ">
              <img src="{{athlete.profilePic | serverimage}}" class="img-responsive ">
            </div>
          </div>
          <!-- IMAGE END -->
          <!-- CONTENT -->
          <div class="inline-block v-top profileathlete-cardcontent relate ">
            <p class="profileathlete-athletename m-clear" title="{{athlete.fullName}}" ng-if="!athlete.teamName">
              {{athlete.fullName | truncate:28}}
            </p>
            <p class="profileathlete-athletename m-clear" title="{{athlete.teamName}}" ng-if="athlete.teamName">
              {{athlete.teamName | truncate:28}}
            </p>
            <p class="profileathlete-athleteschool "> {{athlete.schoolName}} </p>
            <p class="text-uppercase profileathlete-athletesports ">
              <span>sports</span> :
              <span>{{athlete.sportListSubCat}}</span>
            </p>
            <!-- MEDALS -->
            <div class="profileathletecard-medallist ">
              <ul class="list-inline ">
                <li>
                  <div class="inline-block ">
                    <div class="profile-bluemedals ">
                      <img ng-src="{{ 'gold' | medalicon: 'blue'}} " alt=" " class="img-responsive ">
                    </div>
                  </div>
                  <div class="inline-block text-center sportpage-athletecard-medaldetailholder lh1 ">
                    <p class="m-clear color-primary ">{{athlete.gold}}</p>
                    <p class="m-clear ">Gold</p>
                  </div>
                </li>
                <li>
                  <div class="inline-block ">
                    <div class="profile-bluemedals ">
                      <img ng-src="{{ 'silver' | medalicon: 'blue'}} " alt=" " class="img-responsive ">
                    </div>
                  </div>
                  <div class="inline-block text-center sportpage-athletecard-medaldetailholder  lh1 ">
                    <p class="m-clear color-primary ">{{athlete.silver}}</p>
                    <p class="m-clear ">Silver</p>
                  </div>
                </li>
                <li>
                  <div class="inline-block ">
                    <div class="profile-bluemedals ">
                      <img ng-src="{{ 'bronze' | medalicon: 'blue'}} " alt=" " class="img-responsive ">
                    </div>
                  </div>
                  <div class="inline-block text-center sportpage-athletecard-medaldetailholder  lh1 ">
                    <p class="m-clear color-primary ">{{athlete.bronze}}</p>
                    <p class="m-clear ">Bronze</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- MEDALS END -->
          </div>
          <!-- CONTENT END -->
        </div>
      </div>
      <div class="sportpage-topperforming-viewnmore text-right ">
        <a href="# ">View More</a>
      </div>
      <!-- ATHLETE CARD END -->
    </section>
    <!-- TOP PERFORMING ATHLETE END -->

    <!-- MATCH VIDEOS -->
    <!-- <pre>{{matchVideoData  | json}}</pre> -->
    <section class="sportpage-matchvideos" ng-if="matchVideoData.length >= 1">
      <!-- HEADER -->
      <div class="sportpage-matchvideos-header fjalla-one text-uppercase color-primary ">
        Match videos from sfa championships
      </div>
      <!-- HEADER END -->

      <!-- VIDEO CARD -->
      <div class="sportpage-matchvideos-videoholder ">
        <div class="sportpage-matchvideo-videocard " ng-repeat="sportvideoCard in matchVideoData | limitTo:5 track by $index ">
          <a data-fancybox="group " href="{{sportvideoCard.link}}" rel="video ">
            <div class="sportpage-matchvideo-videocardimage relate " style="background-image: url(
                '{{sportvideoCard.thumbnail}}') ">
              <div class="sportpage-matchvideo-videocardplay absolute ">
                <div class="vide-customplay ">
                  <i class="fa fa-play "></i>
                </div>
              </div>
            </div>
            <div class="sportpage-matchvideo-videocardcontent ">
              <p class="sportpage-matchvideo-videotitle fjalla-one m-clear " title="{{sportvideoCard.name}}" ng-if="sportvideoCard.name">{{sportvideoCard.name | truncate:'25'}}</p>
              <p class="sportpage-matchvideo-videodescription m-clear " title="{{sportvideoCard.description}}" ng-if="sportvideoCard.description">{{sportvideoCard.description | truncate:'25'}}</p>
            </div>
          </a>

        </div>
      </div>
      <!-- VIDEO CARD END -->

    </section>
    <!-- MATCH VIDEOS END -->

    <!-- RANKING TABLE / AD SPACE -->
    <section class="sportpage-rankingtable" ng-if="sportRankingTable.length >= 1">
      <!-- HEADER -->
      <div class="sportpage-rankingtable-header fjalla-one color-primary text-uppercase">
        {{sportPageData.sportName}} ranking table
      </div>
      <!-- HEADER END -->

      <!-- SUBHEADER -->
      <div class="sportpage-rankingtable-championshipevent">
        <h4 class="text-uppercase opensans-regular ">Sfa championship {{eventYear}}</h4>
      </div>
      <!-- SUBHEADER END -->

      <div class="row ">
        <!-- TABLE -->
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="sportpage-rankingtable-tableimage " style="background-image: url(img/backgrounds/bg-ranktable.jpg) ">
            <div class="sportpage-rankingtable-tableholder table-responsive ">
              <table class="table ">
                <thead>
                  <th>
                    <div class="text-uppercase ">
                      Rank
                    </div>
                  </th>
                  <th>
                    <div class="text-uppercase ">
                      School Name
                    </div>
                  </th>
                  <th>
                    <div class="text-uppercase sportpage-profile-bluemedals ">
                      <img src="img/medalicon/gold-white.png " alt="Gold Medal " class="img-responsive ">
                    </div>
                  </th>
                  <th>
                    <div class="text-uppercase sportpage-profile-bluemedals ">
                      <img src="img/medalicon/silver-white.png " alt="Silver Medal " class="img-responsive ">
                    </div>
                  </th>
                  <th>
                    <div class="text-uppercase sportpage-profile-bluemedals ">
                      <img src="img/medalicon/bronze-white.png " alt="Bronze Medal " class="img-responsive ">
                    </div>
                  </th>
                  <th>
                    <div class="text-uppercase ">
                      Points
                    </div>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="ranktable in sportRankingTable track by $index ">
                    <td>
                      <div class="text-center ">
                        {{$index + 1}}
                      </div>
                    </td>
                    <td>
                      <div class="sportpage-schoolname ">
                        {{ranktable._id |truncate:'53'}}
                      </div>
                    </td>
                    <td>
                      <div class="text-center ">
                        {{ranktable.goldCount}}
                      </div>
                    </td>
                    <td>
                      <div class="text-center ">
                        {{ranktable.silverCount}}
                      </div>
                    </td>
                    <td>
                      <div class="text-center ">
                        {{ranktable.bronzePoints}}
                      </div>
                    </td>
                    <td>
                      <div class="text-center ">{{ranktable.totalPoints}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="sportpage-rankingtable-points ">
            <ul class="list-inline ">
              <li>
                <div class="sportpage-rankingtable-pointsquare sportpage-rankingtable-gold ">

                </div>
                <span class="text-uppercase ">5 Points</span>
              </li>
              <li>
                <div class="sportpage-rankingtable-pointsquare sportpage-rankingtable-silver ">

                </div>
                <span class="text-uppercase ">3 Points</span>
              </li>
              <li>
                <div class="sportpage-rankingtable-pointsquare sportpage-rankingtable-bronze ">

                </div>
                <span class="text-uppercase ">1 Points</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- TABLE END -->

        <!-- AD SPACE -->
        <div class="col-md-5 col-sm-12 col-xs-12 ">
          <div class="relate sportpage-sideadspaceholder">

            <!-- NO LINK -->
            <div class="sportpage-sideadspce-nolink" ng-if="sideAdSpaceData.linkType==='nolink'">
              <!-- DESKTOP NO LINK -->
              <div class=" sportpage-sideadspaceimage hidden-xs" title="{{sideAdSpaceData.title}}" style="background-image: url('{{sideAdSpaceData.desktop.banner | serverimage }}')">

              </div>
              <!-- DESKTOP END -->
              <!-- MOBILE  NO LINK  -->
              <div class=" sportpage-sideadspaceimage visible-xs" title="{{sideAdSpaceData.title}}" style="background-image: url('{{sideAdSpaceData.mobile.banner | serverimage }}')">

              </div>
              <!-- MOBILE  NO LINK END -->
            </div>
            <!-- NO LINK END -->

            <!-- INTERNAL EXTERNAL  -->
            <div class="sportpage-sidespace-internalexternal" ng-if="sideAdSpaceData.linkType==='external' || sideAdSpaceData.linkType==='internal'">
              <!-- DESKTOP -->
              <a href="{{sideAdSpaceData.desktop.link}}" title="{{sideAdSpaceData.title}}" target="{{sideAdSpaceData.linkType=='external' ? '_new' : '_self'}}"
                class="hidden-xs">
                <div class="sportpage-sideadspaceimage" style="background-image: url('{{sideAdSpaceData.desktop.banner | serverimage }}')">

                </div>
              </a>
              <!-- DESKTOP END -->

              <!-- MOBILE -->
              <a href="{{sideAdSpaceData.mobile.link}}" title="{{sideAdSpaceData.title}}" target="{{sideAdSpaceData.linkType=='external' ? '_new' : '_self'}}"
                class="visible-xs">
                <div class="sportpage-sideadspaceimage" style="background-image: url('{{sideAdSpaceData.mobile.banner | serverimage }}')">

                </div>
              </a>
              <!-- MOBILE END -->
            </div>
            <!-- INTERNAL EXTERNAL  END -->

            <!-- VIDEOS -->
            <div class="sportpage-sidespace-videos" ng-if="sideAdSpaceData.linkType==='videolink'">
              <!-- DESKTOP -->
              <a fancybox data-fancybox="group" rel="sportpage-sidespace-video" href="{{sideAdSpaceData.desktop.link}}" title="{{sideAdSpaceData.title}}"
                class="hidden-xs">
                <div class="sportpage-sideadspaceimage relate" style="background-image: url('{{sideAdSpaceData.desktop.banner | serverimage }}')">
                  <div class="absolute video-playbtn">
                    <div class="vide-customplay">
                      <i class="fa fa-play"></i>
                    </div>
                  </div>
                </div>
              </a>
              <!-- DESKTOP END -->

              <!-- MOBILE -->
              <a fancybox data-fancybox="group" rel="sportpage-sidespace-video" href="{{sideAdSpaceData.mobile.link}}" title="{{sideAdSpaceData.title}}"
                class="visible-xs">
                <div class="sportpage-sideadspaceimage relate" style="background-image: url('{{sideAdSpaceData.mobile.banner | serverimage }}')">
                  <div class="absolute video-playbtn">
                    <div class="vide-customplay">
                      <i class="fa fa-play"></i>
                    </div>
                  </div>
                </div>
              </a>
              <!-- MOBILE END -->
            </div>
            <!-- VIDEOS END -->




            <!--  -->
          </div>
        </div>
        <!-- AD SPACE END -->
      </div>

    </section>
    <!-- RANKING TABLE END / AD SPACE -->

    <!-- EVENTS YOU MAYBE INTRESENT IN -->
    <section class="sportpage-intresetedevents" ng-if="sportPageData.eventCard.length >= 1">
      <div class="sportpage-intresetedevents-header fjalla-one text-uppercase color-primary ">
        EVENTS you maybe intreseted in
      </div>
      <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="event in sportPageData.eventCard | limitTo: '2' track by $index" ng-if="event.linkStatus==='enable'">
          <!-- NO LINK -->
          <!-- <pre>
            {{sportPageData.eventCard | json}}
          </pre> -->
          <div class="sportpage-intresetedevents-contentholder" ng-if="event.linkType==='nolink'">

          </div>
          <!-- NO LINK END -->

          <!-- INTERNAL/EXTERNAL -->
          <a href="{{event.link}}" target="{{event.linkType=='external' ? '_new' : '_self'}}" ng-if="(event.linkType==='external' || event.linkType==='internal')">
            <div class="sportpage-intresetedevents-contentholder" style="background-image: url('{{event.image | serverimage}}')">

            </div>
          </a>
          <!-- INTERNAL/EXTERNAL END -->

          <!-- VIDEO LINK -->
          <a href="{{event.link}}" fancybox data-fancybox="group" rel="sportpageevents" ng-if="event.linkType==='videolink'">
            <div class="sportpage-intresetedevents-contentholder relate" style="background-image: url('{{event.image | serverimage}}')">
              <div class="absolute video-playbtn">
                <div class="vide-customplay">
                  <i class="fa fa-play"></i>
                </div>
              </div>
            </div>
          </a>
          <!-- VIDEO LINK END -->
        </div>
      </div>
    </section>
    <!-- EVENTS YOU MAYBE INTRESENT IN END -->

    <!-- TRANING ACADEMY -->
    <section class="sportpage-trainingacdemy ">
      <!-- HEADER -->
      <div class="sportpage-trainingacdemy-header fjalla-one color-primary text-uppercase ">
        Training academics
      </div>
      <!-- HEADER END -->
      <div class=" ">
        <div class="sportpage-trainingcard-holder ">
          <!-- TRAINING CARD -->
          <div class="sportpage-trainingcard " ng-repeat="academy in sportAcademy track by $index ">
            <!-- IMAGE -->
            <div class="sportpage-trainingcard-image ">
              <img src="img/sa2.jpg " alt=" " class="img-responsive ">
            </div>
            <!-- IMAGE END -->

            <!-- CONTENT -->
            <div class="sportpage-trainingcard-content text-center ">
              <!-- TRAINING ACADEMY NAME AND PLACE -->
              <div class="sportpage-trainingcard-name ">
                <h5 class="opensans-semibold color-primary text-capitalize ">{{academy.name}}</h5>
                <p class="opensans-regular color-darkgrey ">{{academy.place}}</p>
              </div>
              <!-- TRAINING ACADEMY NAME AND PLACE END -->

              <!-- TRAINING ACADEMY SPORTS -->
              <div class="sportpage-training-sports ">
                <div class="sportpage-training-sportsheader opensans-semibold ">
                  Sports:
                </div>
                <div class="sportpage-training-sportnames color-darkgrey ">
                  <span class="text-capitalize " ng-repeat="sport in academy.sports ">{{sport}} , </span>
                </div>
              </div>
              <!-- TRAINING ACADEMY SPORTS END -->

              <!-- TRANING RATING -->
              <div class="sportpage-training-acedemyrating ">
                <p class="opensans-semibold m-clear text-capitalize ">SFA Rating</p>
                <span uib-rating ng-model="academy.rating " max="5 " read-only="true " on-hover=false on-leave="overStar=null " titles="[ 'one', 'two', 'three'] " aria-labelledby="default-rating "></span>
              </div>
              <!-- TRANING RATING END -->
            </div>
            <!-- CONTENT END -->
          </div>
          <!-- TRAINING CARD END -->
        </div>
      </div>
    </section>
    <!-- TRANING ACADEMY END -->

  </div>



</div>


<!-- <div class="sportpage-linkoverlay hide">
              <div class="sportpage-linkoverlayheader text-center fjalla-one text-uppercase">
                REGISTRATIONS FOR Badminton Now OPEN
              </div>
              <div class="sportpage-linoverlaybutton text-center opensans-regular">
                <button type="submit" class="form-control btn btn-default">Register</button>
              </div>
            </div> -->
