<div class="photovideo-popup">
  <!-- <div class="closer"> <span class="fa fa-times"></span></div> -->
  <!-- PHOTO VIDEO NAV -->
  <!-- NAV LEFT -->
  <div class="photovideo-nav photovideo-navleft" ng-click="prevSlides(currentIndex, 'c');" ng-if="!firstSlide">
    <div class=""> <span class="fa fa-angle-left"></span></div>
  </div>
  <!-- NAV LEFT END -->
  <!-- NAV RIGHT  -->
  <div class="photovideo-nav photovideo-navright" ng-click="nextSlides(currentIndex,'c');" ng-if="!lastSlide">
    <div class=""><span class="fa fa-angle-right"></span></div>
  </div>
  <!-- NAV RIGHT END -->
  <!-- PHOTO VIDEO NAV END -->

  <!-- PHOTO VIDEO POPUP CONTENT -->
  <div class="photovideo-mediaholder">
    <!-- POPUP PHOTO HOLDER -->
    <div class="photovideo-photoholder" ng-if="currentPic.mediatype == 'photo'">
      <img ng-src="{{currentPic.mediaLink|mediapathtwo}}" alt="{{currentPic.title}} | Sports For All" title="{{currentPic.title}} | Sports For All" class="img-responsive m-auto">
    </div>
    <!-- POPUP PHOTO HOLDER END -->
    <!-- POPUP VIDEO HOLDER  -->
    <div class="photovideo-videoholder" ng-if="currentPic.mediatype == 'video'" style="background-image:url('{{currentPic.thumbnail}}')">
      <!-- <iframe class="photovideo-vidframe" ng-src="{{'https://player.vimeo.com/video/' + currentPic.medialink |trusted }}" frameborder="0" title="{{currentPic.mediatitle}} | SFA Videos" title="{{currentPic.mediatitle}} | SFA Videos"  alt="{{currentPic.mediatitle}} | SFA Videos"></iframe> -->
      <iframe class="photovideo-vidframe" ng-src="{{currentPic.medialink | linkvideo:currentPic.videoType |trusted}}" frameborder="0" title="{{currentPic.mediatitle}} | SFA Videos" title="{{currentPic.mediatitle}} | SFA Videos"  alt="{{currentPic.mediatitle}} | SFA Videos" set-height="0.56"></iframe>
    </div>
    <!-- POPUP VIDEO HOLDER END -->
  </div>
  <!-- PHOTO VIDEO POPUP CONTENT END -->
  <!-- PHOTO VIDEO POPUP SIDE  -->
  <div class="photovideo-sidesection">
    <div class="photovideo-sidecontent">
      <div class="photovideo-sidescroll">
        <div class="photovideo-side">
          <div class="photovideo-sidetitle">
            <span ng-if="currentPic.mediatype == 'photo'"> {{currentPic.title}} </span>
            <span ng-if="currentPic.mediatype == 'video'"> {{currentPic.mediatitle}} </span>
          </div>
          <div class=""></div>
        </div>
      </div>
      <!-- PHOTO VIDEO FOOTER -->
      <div class="photovideo-footer">
        <div class="photovideo-footercontent">
          <!-- NO LOG IN FOOTER -->
          <div class="hide">
            <label>
                      Spotted yourself? Log in through your athlete profile and tag yourself for the picture to appear on your personal profile page.
                    </label>
          </div>
          <!-- NO LOG IN FOOTER END -->
          <!-- LOG IN FOOTER -->
          <div class="photovideo-loginfoot hide">
            <form>
              <label for="photoTag">TAG YOURSELF: To add this image to your personal SFA Profile simply add SFA ID here:</label>
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control">
              </div>
            </form>
          </div>
          <!-- LOG IN FOOTER END -->
        </div>
        <div class="photovideo-footershare">
          <p class="text-uppercase">Share this <span ng-if="currentPic.mediatype == 'photo'">Picture</span> <span ng-if="currentPic.mediatype == 'video'">Video</span></p>
          <div class="photovideo-shareholder">
            <div class="photovideo-sharebox">
              <div class="photovideo-socialbutton">
                <a>
                          <span class="fa fa-facebook"></span>
                        </a>
              </div>
            </div>
            <div class="photovideo-sharebox">
              <div class="photovideo-socialbutton">
                <a>
                          <span class="fa fa-twitter"></span>
                        </a>
              </div>
            </div>
            <div class="photovideo-sharebox">
              <div class="photovideo-socialbutton">
                <a>
                          <span class="fa fa-google-plus"></span>
                        </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PHOTO VIDEO FOOTER END -->
    </div>
  </div>
  <!-- PHOTO VIDEO POPUP SIDE END -->
</div>
