/* Bootstrap Variables Goes Here */
$brand-primary: #0a1a72 !default; //blue
$brand-success: #27B465 !default; //green
$brand-warning: #fc7700 !default; //yellow
$brand-danger: #fc483f !default; //red
$brand-info: #000072 !default; //lighter-blue
$base: #303030 !default; //black
$white: #fff !default;
$grey: #e1e1e1 !default;
$dark-grey: #9f9f9f !default;
$light-grey: #ebebeb !default;
$other-blue: #2a45d4 !default;
$light-green:#bcd200 !default $font-family-sans-serif: "Titillium Web", "Sansation", "Built Titling", "avenir", Arial, sans-serif !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Bootstrap Variables Goes Here */
@import "other/font-fix";

body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

.btn,
[ui-sref],
a {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;

    p {
        margin: 0;
    }
}
//bootstrap forms

.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;

    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;

        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}
//FLEX SLIDER FIXES

.flex-direction-nav {
    a {
        height: auto;
    }

    .flex-prev {
        left: 10px !important;
    }

    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}
// COMMON CLASSES

.d {
    width: 100%;
    height: 200px;
    background-color: $brand-danger;
}

.color-primary {
    color: $brand-primary;
}

.m-clear {
    margin: 0;
}

.p-clear {
    padding: 0;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.v-top {
    vertical-align: top;
}

.v-mid {
    vertical-align: middle;
}

.v-bottom {
    vertical-align: bottom;
}

.text-capitalise {
    text-transform: capitalize;
}

.no-textdecoration {
    text-decoration: none;
}

.get-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}

.absolute {
    position: absolute;
}

.relate {
    position: relative;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.sfa-flexslider{
  .flexslider {
      .flex-direction-nav {
        a:before {
            font-size: 18px;
        }
          .flex-prev {
              left: -15px !important;
          }

          .flex-next {
              right: -15px !important;
          }
      }

      &:hover {
          .flex-direction-nav {
              .flex-prev {
                  left: -15px !important;
                  opacity: 1;
              }

              .flex-next {
                  right: -15px !important;
                  opacity: 1;
              }
          }
      }
  }
}

.cardheader-green{
  padding: 10px;
  background-color: $brand-success;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  p{
    margin: 0;
  }
}

.atheletehighlight-galleryflexslider{
  .flexslider{
    border: none;
  }
}

.flexslider-galleryholder{
  width: 100%;
  height: 155px;
  overflow: hidden;
}
// COMMON CLASSES END
// athlete PAGE START

.athleteprofile-page {
    min-height: 100vh;
}

.athleteprofile-mainsection {
    margin: 30px;
}

.athleteprofile-card {
    padding: 20px;
    // border: 1px solid red;
}

.athleteprofile-picture {
    display: inline-block;
    width: 29%;
    vertical-align: top;
    position: relative;
}

.athlete-picholder {
    width: 190px;
    height: 190px;
    border: 5px solid $light-grey;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.athletepic-check {
    position: absolute;
    left: 35px;
    bottom: 5px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $brand-warning;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    z-index: 1;
}

.athleteprofile-details {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.athletedetail-name {
    color: $brand-primary;
    word-break: break-all;
}

.athletedetail-sportlist {
    padding: 0 10px;
    border: 1px solid $light-grey;
}

.athletedetails-stats {
    margin: 10px 0;
}

.athletedetails-medals {
    margin-left: 5px;
}

.athletedetails-ratio {
    margin-right: 5px;
}

.athleteprofile-nav {
    border-top: 2px solid $dark-grey;

    .athletenav-option {
        padding: 5px 10px;
        margin: 5px;
        font-size: 15px;
        @extend .pointer;

        &.active {
            border-bottom: 3px solid $brand-success;
        }
    }
}
// HIGHLIGHTS PAGE
.sportslidetable-element {
    width: 24%;
    display: inline-block;
    text-align: center;
}

.sportslide-header {
    text-align: right;
    color: #fff;
    border: 1px solid red;
}

.sportslide-content {
    border: 1px solid lightgray;
    border-top: none;
    padding: 15px 20px;

    ul {
        font-size: 12px;
    }
}

.sportslide-table {
    margin: 10px 0 5px;
}

.sportslide-sportname {
    font-size: 21px;
    line-height: 1;
}

.sportslide-headertitle {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: $brand-success;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        border-left: 10px solid transparent;
        border-bottom: 40px solid $brand-success;
    }
}

// HIGHLIGHTS PAGE END
// athlete PAGE END
