/* Bootstrap Variables Goes Here */

// COLOR VARIABLES
$brand-primary: #10259c !default; //blue
$brand-success: #27b465 !default; //green
$brand-warning: #ffb026 !default; //yellow
$brand-danger: #da495b !default; //red
$brand-info: #000072 !default; //lighter-blue
$base: #1a1a1a !default; //black
$white: #fff !default;
$grey: #e1e1e1 !default;
$dark-grey: #757575 !default;
$light-grey: #e5e5e5 !default;
$other-blue: #2a45d4 !default;
$light-green:#bcd200 !default;
$bg-table: #f2f2f2 !default;
$grey-year: #c0c0c0 !default;
$green-graph: #0edb87 !default;
// COLOR VARIABLES END
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
// FONT VARIABLES
@font-face {
  font-family: "Fjalla One";
  src: url('../fonts/FJALLAONE-REGULAR_1.OTF');
}

@font-face {
  font-family: "Opensans Semibold";
  src: url('../fonts/OPENSANS-SEMIBOLD_3.TTF');
}

@font-face {
  font-family: "Opensans Regular";
  src: url('../fonts/OPENSANS-REGULAR_3.TTF');
}

@font-face {
  font-family: "Teko";
  src: url('../fonts/Teko-Regular_0.ttf');
}

@font-face {
  font-family: "Teko Semibold";
  src: url('../fonts/Teko-SemiBold_0.ttf');
}

.fjalla-one {
  font-family: "Fjalla One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opensans-semibold {
  font-family: "Opensans Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opensans-regular {
  font-family: "Opensans Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teko {
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teko-semibold {
  font-family: "Teko Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// FONT VARIABLES END
body {
  padding-top: 70px;
  color: #1a1a1a;
  @extend .opensans-regular;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}

img {
  opacity: 0;
  transition: all 300ms ease;
}

img.doneLoading {
  opacity: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

#map img {
  opacity: 1;
}

.btn,
[ui-sref],
a {
  cursor: pointer;
  transition: all ease 300ms;
}

footer {
  font-size: 12px;
  background-color: #eee;
  padding: 10px 0;
  p {
    margin: 0;
  }
}

//bootstrap forms
.btn,
.form-control,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.input-lg {
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  box-shadow: none;
}

.form-group {
  position: relative;
}

.form-invalid {
  color: $brand-danger;
  .form-control {
    border-color: $brand-danger;
    color: $brand-danger;
    &::-webkit-input-placeholder {
      color: $brand-danger;
    }
  }
}

.form-submission {
  min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
  a {
    height: auto;
  }
  .flex-prev {
    left: 10px !important;
  }
  .flex-next {
    right: 10px !important;
  }
}

.content {
  min-height: 450px;
}

.img-full {
  width: 100%;
  display: block;
}

header {
  transition: all 300ms ease;
}

.nav-up {
  transform: translateY(-100%);
}

// COMMON CLASSES
.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #f2f2f2;
      }
      &:nth-of-type(even) {
        background-color: #e5e5e5;
      }
    }
  }
}

a {
  color: $brand-primary;
  &:active,
  &:focus,
  &:hover,
  &.active {
    color: $brand-primary;
    text-decoration: none;
  }
}

.card-school{
  border-left: 3px solid $brand-warning;
}

.card-college{
  border-left: 3px solid $brand-success;
}

.card-school-medal{
  border-bottom: 3px solid $brand-warning;
}

.card-college-medal{
  border-bottom: 3px solid $brand-success;
}

.d {
  width: 100%;
  height: 200px;
  background-color: $brand-danger;
}

.color-primary {
  color: $brand-primary;
}

.color-darkgrey {
  color: $dark-grey;
}

.color-success {
  color: $brand-success;
}

.color-grey {
  color: $grey;
}

.color-lightgrey {
  color: $light-grey;
}

.m-clear {
  margin: 0;
}

.p-clear {
  padding: 0;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block !important;
}

.inline-block {
  display: inline-block;
}

.v-top {
  vertical-align: top;
}

.v-mid {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.text-capitalise {
  text-transform: capitalize;
}

.no-textdecoration {
  text-decoration: none;
}

.get-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,
  -50%));
}

.absolute {
  position: absolute;
}

.relate {
  position: relative;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

// FLEX-SLIDER
.sfa-flexslider {
  .flexslider {
    border: none;
    margin: 0;
    .flex-direction-nav {
      a {
        opacity: 1;
      }
      a:before {
        font-size: 18px;
      }
      .flex-prev {
        left: -15px !important;
      }
      .flex-next {
        right: -15px !important;
      }
    }
    &:hover {
      .flex-direction-nav {
        .flex-prev {
          left: -15px !important;
          opacity: 1;
        }
        .flex-next {
          right: -15px !important;
          opacity: 1;
        }
      }
    }
  }
}

// END FLEX SLIDER
// SWIPER
.sfa-swiper {
  position: relative;
  .swiper-slide {
    font-size: 14px;
    text-align: left;
  }
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: none;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: -15px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: -15px;
  }
}

// END SWIPER
.cardheader-green {
  padding: 10px;
  background-color: $green-graph;
  color: #fff;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  @extend .fjalla-one;
  p {
    margin: 0;
  }
}

.athletehighlight-galleryflexslider {
  .flexslider {
    border: none;
  }
}

.flexslider-galleryholder {
  width: 100%;
  height: 155px;
  overflow: hidden;
}

.btn-blue-outline {
  border: 1px solid $brand-primary;
  background-color: transparent;
  color: $brand-primary;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $brand-primary;
    background-color: transparent;
    color: $brand-primary;
    outline: none;
  }
}

.progressbar-holder {
  padding: 10px 0;
  .progress {
    height: 5px;
    overflow: visible;
  }
  .progress-bar {
    position: relative;
    background-color: $green-graph;
  }
  .progress-hovertip {
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: -30px;
    background-color: $green-graph;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    @extend .text-uppercase;
    &:after {
      content: '';
      border-left: 5px solid transparent;
      border-bottom: 5px solid $green-graph;
      border-right: 5px solid transparent;
      position: absolute;
      top: -5px;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
}

.profile-imgholder {
  background-color: $light-grey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.blue-header-title {
  color: $brand-primary;
  @extend .fjalla-one;
}

.titledescription-holder {
  width: 60%;
  text-align: justify;
  word-wrap: break-word;
}

.viewteam-accordion {
  .panel-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .panel-heading {
    border: none;
    border-radius: 0;
    background-color: transparent;
    text-align: right;
  }
  .panel-body {
    border-color: transparent;
  }
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
  }
}

// COMMON CLASSES END
// athlete PAGE START
// VIEW TEAM SLIDER
.viewteam-slider {
  width: 450px;
  height: 100%;
  padding: 30px 10px 0 25px;
  position: fixed;
  top: 50px;
  right: -450px;
  background-color: #fff;
  box-shadow: 0 0 5px #a0a0a0;
  @include transition(all 300ms linear);
   ::-webkit-scrollbar {
    width: 4px;
  }
   ::-webkit-scrollbar-track {
    background-color: transparent;
  }
   ::-webkit-scrollbar-thumb {
    background-color: $grey;
  }
}

.viewteam-slidershow {
  right: 0;
  z-index: 5;
  @include transition(all 300ms linear);
}

.teamsection-athlete {
  max-height: calc(100vh - 120px);
  position: relative;
  padding-right: 10px;
  overflow-y: auto;
  li {
    margin: 10px 0;
  }
}

.close-teamview {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 21px;
  text-align: center;
  span {
    line-height: 30px;
  }
}

// VIEW TEAM SLIDER END
.athleteprofile-page {
  min-height: 100vh;
}

.athleteprofile-mainsection {
  margin: 30px 0;
}

.athleteprofile-highlights,
.athleteprofile-achievements,
.athleteprofile-statistics,
.athleteprofile-videos {
  padding: 20px 0px 50px;
}

.athleteprofile-cardholder {
  width: 70%;
  margin: 0 auto;
}
.school-yearsummaryholder{
  width: 100%;
}


.athleteprofile-card {
  padding: 20px;
}

.athleteprofile-picture {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.athlete-picholder {
  width: 190px;
  height: 190px;
  border: 5px solid $light-grey;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  @extend .profile-imgholder;
}

.athletepic-check {
  position: absolute;
  left: 35px;
  bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: $brand-warning;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  z-index: 1;
}

.athleteprofile-details {
  width: calc(100% - 200px);
  padding: 0px 0px 0 10px;
  display: inline-block;
  vertical-align: top;
}

.athletestar-img {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.athleteflag-img {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.athletestar-title {
  padding: 0 10px;
  display: inline-block;
  position: relative;
  background: $brand-primary;
  color: #fff;
  vertical-align: middle;
  @extend .text-uppercase;
  @extend .fjalla-one;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    border-top: 20px solid $brand-primary;
    border-right: 10px solid transparent;
  }
}

.athletelevel-title {
  background-color: $brand-warning;
  &:after {
    border-top: 20px solid $brand-warning;
  }
}

.athletedetail-name {
  color: $brand-primary;
  word-break: break-word;
}

.athletedetail-sportlist {
  padding: 0 10px;
  border: 1px solid $light-grey;
}

.athletedetails-stats {
  margin: 10px 0;
}

.athlete-detailmedal {
  width: 20px;
}

.athletedetails-medals {
  margin-left: 5px;
}

.athletedetails-ratio {
  // margin-right: 5px;
  .progress-hovertip {
    right: -35px;
  }
}

.athlete-medalcount {
  font-size: 15px;
  line-height: 1;
  @extend .opensans-regular;
}

.athleteprofile-nav {
  border-top: 2px solid #b7b7b7;
  position: relative;
  .athletenav-option {
    padding: 5px 10px;
    margin: 5px;
    font-size: 15px;
    @extend .pointer;
    &.active {
      border-bottom: 3px solid $brand-success;
      font-weight: 700;
    }
  }
  .athleteprofile-navcity {
    padding: 10px 15px;
    position: absolute;
    top: -40px;
    right: 0;
    background-color: #b7b7b7;
    color: #2b2b2b;
    text-transform: capitalize;
    @extend .opensans-semibold;
    &:after {
      content: '';
      border-bottom: 40px solid #b7b7b7;
      border-left: 15px solid transparent;
      position: absolute;
      top: 0;
      left: -15px;
    }
  }
}

.athletehighlight-viewall {
  text-align: right;
  margin: 20px 0;
  @extend .text-capitalise;
}

// HIGHLIGHTS PAGE
.highlights-stats,
.athletehighlights-yourvideo,
.athletehighlights-athletes,
.athletehighlight-sportranking {
  margin: 40px 0;
}

.athletehighlights-yourvideo {
  padding: 15px 10px; // box-shadow: 0 0 5px $light-grey;
}

.sportslidetable-element {
  width: 24%;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  p {
    margin-bottom: 5px;
  }
}

.sportslide-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: right;
}

.sportslide-content {
  box-shadow: 0 0 5px $light-grey;
  border-top: none;
  padding: 15px 20px;
  ul {
    font-size: 14px;
  }
}

.sportslide-table {
  margin: 10px 0 5px;
  .table {
    margin: 0;
    >tbody>tr>td {
      padding: 0px 8px;
      border: none;
      text-align: center;
    }
  }
}

.sportslide-sportname {
  font-size: 24px;
  line-height: 1;
}

.sportslide-headertitle {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: $green-graph;
  font-size: 21px;
  @extend .fjalla-one;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border-left: 15px solid transparent;
    border-bottom: 50px solid $green-graph;
  }
}

.highlights-athleteslide {
  padding: 20px 5px 5px;
}

.athletehighlights-videosection {
  text-align: center;
}

.athletehighlights-videoholder {
  display: inline-block;
  padding: 5px;
  width: 220px;
  margin: 10px 0;
}

.athletehighlights-videomore {
  text-align: right;
}

.highlight-sportranking-table {
  background-image: url("/img/bg-ranktable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  .table {
    border: 1px solid #fff;
    margin-bottom: 0px;
    .schoolmedal-points {
      font-size: 10px;
      @extend .text-uppercase;
    }
    .schooltable-head {
      font-size: 16px;
      text-align: center;
      @extend .text-uppercase;
    }
    tr {
      // background-color: rgba(0,0,0,0.5);
      margin: 5px 0;
    }
    >thead>tr>th {
      border-bottom: none;
      padding: 0px 8px;
      vertical-align: middle;
      background-color: $brand-primary;
    }
    >tbody>tr>td {
      padding: 10px 8px;
      border-top: none;
    }
  }
}

.highlight-sportranking-tableoverlay {
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.atheletehighlight-sportgallery {
  box-shadow: 0 0 5px #e5e5e5;
}

// HIGHLIGHTS PAGE END
// ACHIEVEMENTS PAGE
.athleteachievement-special,
.athleteachievement-excellence,
.athleteachievement-participation {
  margin: 50px 0;
}

.athleteachievement-special {
  margin-top: 0;
}

.achievement-awardyear {
  margin: 0;
  font-size: 60px;
  color: $grey-year;
  @extend .teko-semibold;
}

.athleteachievement-intro {
  width: 60%;
}

.athleteachievement-certificate {
  width: 60%;
  margin-top: 40px;
  margin-left: 100px;
  box-shadow: 0 0 10px $light-grey;
}

.athletecertificate-logo {
  width: 90px;
  position: absolute;
  top: -27px;
  left: -90px;
}

.athleteachievement-partnerholder {
  margin: 20px 20px 0;
}

.athleteachievement-certificatedetail {
  display: inline-block;
  width: calc(100% - 200px);
  vertical-align: top;
  padding: 20px;
}

.athleteachievement-certificatepic {
  display: inline-block;
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
}

.athleteachievement-certificateholder {
  width: 140px;
  border: 3px solid $brand-primary;
  margin: 10px auto;
}

.achievementexcellence-certificatedetail {
  display: inline-block;
  width: calc(100% - 165px);
  padding: 20px;
  padding-right: 0;
  vertical-align: middle;
}

.achievementexcellence-table {
  display: inline-block;
  width: calc(100% - 100px);
  margin: 10px 0;
}

.achievementexcellence-tableholder {
  background-color: $light-grey;
  text-align: center;
  .table {
    margin: 0;
    tbody>tr>td {
      border: none;
    }
  }
}

.achievementexcellence-medal {
  display: inline-block;
  padding-top: 20px;
  margin-left: 5px;
}

.achievementexcellence-medalholder {
  width: 30px;
  margin: 0 auto;
}

.achievementexcellence-certificatepic {
  display: inline-block;
  width: 29%;
  padding: 20px;
  text-align: center;
}

.athleteachievement-participationscroll {
  overflow: auto;
  padding: 10px 0;
}

.athleteachievement-participationcertificate {
  display: inline-block;
  width: 225px;
  padding: 5px;
}

.athleteachievement-participationholder {
  width: 100%; // white-space: nowrap;
}

.participation-certificateholder {
  border: 3px solid $brand-primary;
}

// ACHIEVEMENTS PAGE END
// STATISTICS PAGE
.athletestatistics-yearsummary,
.athletestatistics-detailsummary {
  padding: 0px 10px;
  margin: 40px 0;
}

.athletestatistics-detailheader,
.athletestatistics-summaryheader {
  width: 60%;
}

.athletestatistics-sportcard {
  padding: 10px 0;
  margin: 30px 0; // border: 1px solid $brand-success;
}

.statisticsport-header {
  position: relative;
  margin: 20px 0 20px 60px;
}

.statisticsport-sporticon {
  position: absolute;
  left: -60px;
  top: -10px;
  width: 50px;
}

.statisticsport-content {
  margin: 0 20px 0 50px; // border: 1px solid red;
}

.statisticsport-schoolyear {
  padding: 5px;
  float: right;
  text-align: right;
  .schoolyear-year {
    margin: 0;
    color: $grey;
    font-size: 60px;
    line-height: 1;
    @extend .teko-semibold;
  }
  .schoolyear-school {
    margin: 0;
  }
}

.statisticsport-contentlist {
  li {
    padding: 0 20px;
    border-right: 1px solid #ddd;
    line-height: 1;
    text-align: center;
    @extend .text-uppercase;
    &:last-child {
      border: none;
    }
  }
}

.statisticsport-tablecontent {
  .table {
    >thead>tr {
      background-color: $brand-primary;
      color: #fff;
    }
    >tbody>tr>td {
      vertical-align: middle;
    }
  }
  .table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: #f2f2f2;
        }
        &:nth-of-type(even) {
          background-color: #e5e5e5;
        }
      }
    }
  }
  .schoolprofile-teamsportimg {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: url('../img/gendericon/school-icon.png');
    @extend .profile-imgholder;
  }
  .opponent-schoolname {
    width: calc(100% - 65px);
  }
  .videotableteam-imgholder {
    width: 100px;
    height: auto;
  }
  .video-playbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #da495b;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  .statisticsport-tablemedal {
    width: 25px;
    margin: 0 auto;
  }
}

.statisticsport-certificatebtn {
  margin: 20px 0;
  text-align: right;
  .btn {
    margin: 0px 5px;
  }
}

.medalcount-contentlist {
  color: $dark-grey;
  @extend .teko-semibold;
}

.statisticsport-medaldetails {
  padding: 10px; // margin-top: 10px;
  background: #464646;
  color: #fff;
  text-align: center;
  li {
    vertical-align: middle;
  }
  .statsmedaldetail-sport {
    width: 230px;
    text-align: left;
  }
  .medaldetails-schoolname {
    width: 230px;
    padding: 0px 5px;
    text-align: left;
  }
}

// STATISTICS PAGE END
// VIDEOS PAGE
.athletevideo-yearwise {
  margin: 40px 0;
}

.athletevideo-yearholder {
  margin-bottom: -55px;
  text-align: right;
}

.athletevideo-year {
  margin: 0;
  color: $grey-year;
  font-size: 48px;
  line-height: 1;
  @extend .teko-semibold;
}

.athletevideo-sportholder {
  margin-bottom: 40px;
}

.athletevideo-videocard {
  margin: 20px 0;
}

.athletevideo-sportvideos {
  text-align: center;
}

.athletevideo-videocard {
  width: 20%;
  padding: 0px 10px;
  margin: 20px 0;
  display: inline-block;
}

.athletevideo-sportviewall {
  text-align: right;
}

.btn-videoviewall {
  color: #1a1a1a;
  &:active,
  &:focus,
  &:hover {
    color: #1a1a1a;
    text-decoration: underline;
  }
}

// VIDEOS PAGE END
// athlete PAGE END
.img-lol {
  display: inline-block;
  width: 250px;
  padding: 5px;
  border: 1px solid $brand-danger;
  margin: 10px;
  .imghold {
    width: 200px;
  }
}

// ATHELETE CARD INTERNTIONAL HEADER
.athleteprofile-badgeheader {
  padding: 2px 5px;
  position: absolute;
  top: -17px;
  left: -3px;
  background: #ffb026;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  &:before {
    content: '';
    width: 3px;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #ffb026;
  }
  &:after {
    content: '';
    border-right: 10px solid transparent;
    border-bottom: 16px solid #ffb026;
    position: absolute;
    top: 0;
    right: -10px;
  }
}
