//schoolprofile-page
//school-head
.schoolprofile-page {
    min-height: 100vh;
    .school-head {
        margin: 30px;
    }
    h3 {
        color: $brand-primary;
    }
    .schoolprofilecard {
        // border: 1px solid red;
        // padding: 20px;
        .schoolpicholder {
            width: 29%;
        }
        .schooldetail-holder {
            width: 70%;
        }
        .school-image {
            width: 190px;
            height: auto;
            margin: 0 auto;
            border: 5px solid #ebebeb;
            border-radius: 100%;
            overflow: hidden;
        }
        .schoolsports-played {
            p {
                border: 1px solid gray;
                padding: 5px;
            }
        }
        .school-total {
            margin-right: 5px;
        }
        .school-medals {
            margin-left: 5px;
        }
    }
}

//end-school-head
//school-nav
.school-navigation {
    border-top: 2px solid gray; // padding-top: 10px;
    ul {
        li {
            padding: 5px 10px;
            margin: 5px;
            font-size: 15px;
            @extend .pointer;
            &.active {
                border-bottom: 3px solid $brand-success;
            }
        }
    }
}

//end school-nav
//school-highlight
.schoolprofile-highlight {
    .schoolchampions {
        text-align: center;
    }
}

// head-all-tab
.schoolchampions-head,
.performance-head,
.imagegallery-head {
    border: 1px solid #0edb87;
    background-color: #0edb87;
    padding: 15px;
}

.schoolchampions-content {
    border: 1px solid #ddd;
    padding: 10px 15px;
    min-height: 152px;
}

.schoolperformace-holder {
    width: 100px;
    border: 5px solid #ddd;
    .schoolperformace-image {
        border-radius: 100%;
    }
}

// tab2
.performaceimage-holder {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #ddd;
}

.performace-content {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-left: 3px solid #ffb026;
}

// end-tab2
// tab3
.imagegallery-content {
    border: 1px solid #ddd;
    .imagegallery-picholder {
        min-height: 152px;
    }
}

// end-tab3
//end school-highlight
//end schoolprofile-page