<!-- HEADING -->
<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Athlete</h2>
      </div>
    </div>
  </div>
</div>
<!-- HEADING END -->
<!-- Top Bar Chart -->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <h3>List of Registered Athlete
              <span class="tableTotal ">(Total : {{totalItems}}) </span>
            </h3>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <div class="mtp5">
                    <div class="dropdown">
                      <button class="btn default btn-md dropdown-toggle" type="button" data-toggle="dropdown">Filter
                                                <span class="caret"></span>
                                            </button>
                      <ul class="dropdown-menu filter-athlete-dropdown">
                        <li>
                          <input type="radio" id="radio8" ng-model="formData.type" ng-change="changeAll()" value="">
                          <label for="radio8">All</label>
                        </li>
                        <li>
                          <input type="radio" id="radio1" ng-model="formData.type" value="Date">
                          <label for="radio1">Date</label>
                        </li>
                        <li>
                          <input type="radio" id="radio2" ng-model="formData.type" value="SFA-ID" ng-change="changeInput()">
                          <label for="radio2">SFA-ID</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio9" ng-model="formData.type" value="UTM_Source" ng-change="changeInput()">
                          <label for="radio9">UTM_Source</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio10" ng-model="formData.type" value="UTM_Medium" ng-change="changeInput()">
                          <label for="radio10">UTM_Medium</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio11" ng-model="formData.type" value="UTM_Campaign" ng-change="changeInput()">
                          <label for="radio11">UTM_Campaign</label>
                        </li>
                        <li>
                          <input type="radio" id="radio3" ng-model="formData.type" value="School Name" ng-change="changeInput()">
                          <label for="radio3">School Name
                                                    </label>
                        </li>
                        <li>
                          <input type="radio" id="radio7" ng-model="formData.type" value="Athlete Name" ng-change="changeInput()">
                          <label for="radio7">Athlete Name
                                                    </label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio4" ng-model="formData.type" value="Payment Mode" ng-change="changeInput()">
                          <label for="radio4">Payment Mode</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio5" ng-model="formData.type" value="Payment Status" ng-change="changeInput()">
                          <label for="radio5">Payment Status</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio6" ng-model="formData.type" value="Verified Status" ng-change="changeInput()">
                          <label for="radio6">Verified Status</label>
                        </li>
                      </ul>
                    </div>
                    <div class="row" ng-if="formData.type == 'Date'">
                      <div class="col-md-4">
                        <span>From:</span>
                        <input-date ng-model="formData.startDate" placeholder="From"></input-date>
                      </div>
                      <div class="col-md-4">
                        <span>To:</span>
                        <input-date ng-model="formData.endDate" placeholder="To"></input-date>
                      </div>
                      <div class="col-md-4 ">
                        <button class="btn btn-sm mrtp school" type="button" ng-click="filterAthlete(formData)">Go</button>
                      </div>
                    </div>
                    <div class="row" ng-if="formData.type != 'Date' && formData.type != ''">
                      <div class="col-md-6 mtp5">
                        <input type="text" ng-model="formData.input" class="form-control" placeholder="Enter {{formData.type}}">
                      </div>
                      <div class="col-md-4 mtp5">
                        <button class="btn btn-sm school" type="button" ng-click="filterAthlete(formData)">Go</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 hide">
                <div class="pull-right">
                  <form class="search-form mr-form ">
                    <input type="text" ng-keydown="$event.keyCode === 13 && searchInAthlete(search)" placeholder="Search Here..." ng-model="search"
                    />
                  </form>
                  <a class="btn btn-success" ng-click="loginPopup(formData,'excel')"> <span style="font-size:12px;">Excel Export</span></a>
                  <!-- <a class="btn btn-success" ng-click="loginPopup(formData,'excel')">Login</a> -->
                  <a class="btn btn-success" ng-click="loginPopup('','targetexcel')"> <span style="font-size:12px;" >Target Export</span></a>
                  <a class="btn btn-danger" ng-click="logout()" ng-if="!showAccess && jAtheletOps!=null">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive table-font reduce-tablepadding ">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    <div class="text-capitalize">
                      SFA-ID
                    </div>
                  </th>
                  <th>
                    <div class="text-capitalize">
                      Athlete Name
                    </div>
                  </th>
                  <th class="hide">
                    <div class="text-capitalize">
                      Verification Status
                    </div>
                  </th>
                  <th class="hide">
                    <div class="text-capitalize">
                      Payment Mode
                    </div>
                  </th>
                  <th class="hide">
                    Payment Status
                  </th>
                  <th>
                    <div class="text-capitalize">
                      Age Proof
                    </div>
                  </th>
                  <th>
                    <div class="text-capitalize">
                      Photo ID
                    </div>
                  </th>
                  <th>
                    <div class="text-capitalize">
                      Refund Amount
                    </div>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <tr ng-repeat="item in items">
                  <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td>
                  <td>{{item.sfaId}}</td>
                  <td>{{item.firstName+' '+item.middleName+' '+item.surname}}</td>
                  <td class="hide">{{item.status}}</td>
                  <td class="hide">{{item.registrationFee}}</td>
                  <td class="hide">
                    {{item.paymentStatus}}
                  </td>
                  <td>
                    <div class="text-center">
                      <input type="checkbox" name="ageproof" ng-model="item.ageprooof" id="ageproof">
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <input type="checkbox" name="photoid" id="photoid" ng-model="item.photoid">
                    </div>
                  </td>
                  <td>
                    <div>
                      <input type="text" class="form-control" ng-model="item.refundAmount" placeholder="Enter Refund Amount">
                    </div>
                  </td>
                  <td>
                    <!-- SAVE -->
                    <a class="btn btn-success" target="_new" ng-click="saveRefund(item._id,item.ageprooof,item.photoid,item.refundAmount)">
                      Save
                    </a>
                    <!-- SAVE END -->

                    <!-- VIEW -->
                    <a class="btn btn-info" target="_new" ui-sref="detailathlete({id:item._id})">
                      <i class="fa fa-eye"></i>
                    </a>
                    <!-- VIEW END -->
                    <a class="btn btn-link hide" ng-click="transferToWebsite(item._id)" ng-if="showAccess">
                                            <i class="fa  fa-user"></i> Access
                     </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="filterAthlete();" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="formData.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<!--</div>-->