<div class="schoolprofile-achievements">
  <div class="container">
    <!--FILTER-->
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="inline-block">
          <span>View By Achievements</span>
        </div>
        <div class="inline-block">
          <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="inline-block">
          <span>View By Year</span>
        </div>
        <div class="inline-block">
          <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
        </div>
      </div>
    </div>
    <!--END FILTER-->

    <!--YEAR-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="schoolachievements-currentyear">
          <p class="m-clear">2017</p>
        </div>
      </div>
    </div>
    <!--END YEAR-->

    <!--SPECIAL-AWARD-->
    <div class="row">
      <div class="schoolachievements-specialaward">
        <div class="titledescription-holder">
          <div class="schoolachivements-awardhead">
            <h2 class="fjalla-one">SPECIAL AWARDS</h2>
          </div>
          <div class="schoolachivements-awardcontent">
            <p class="m-clear">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veniam odit soluta sunt vel accusamus, eligendi
              ex, facere aspernatur rem magni expedita, numquam cum labore non nesciunt dolorum voluptatum impedit.</p>
          </div>
        </div>

        <div class="schoolachievement-certificate relate">
          <div class="schoolcertificate-logo">
            <img src="img/sporticon/special-maxcube.png" alt="" class="img-responsive">
          </div>
          <div class="schoolachievement-certificatedetail">
            <h3 class="blue-header-title text-uppercase">sports max awards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti et vel, velit error ipsam magnam distinctio
              nobis soluta illo doloribus, ad totam nisi voluptatum repudiandae animi eum tenetur corporis.</p>
            <p>Awards specific to be mentioned</p>
          </div>
          <div class="schoolachievement-certificatepic">
            <div class="schoolachievement-certificateholder">
              <img src="img/oldSfa/bg-draw.jpg" alt="" class="img-responsive">
            </div>
            <a href="">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <!--SPECIAL-AWARD-END-->

    <!--HEADING-->
    <div class="row">
      <div class="titledescription-holder schoolachievements-heading ">
        <div class="">
          <div class="schoolachievements-headinghead">
            <h2 class="fjalla-one text-uppercase">Heading</h2>
          </div>
        </div>
        <div class="">
          <div class="schoolachievements-headingcontent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis inventore porro provident,
              saepe expedita magnam asperiores vel, commodi alias, earum consequuntur quo dolores incidunt omnis accusamus
              atque eaque praesentium.</p>
          </div>
        </div>
      </div>

    </div>
    <!--END-HEADING-->

    <!--BLUE_BAR-->
    <div class="row">
      <div class="schoolachievements-bluebar">
        <div class="schoolachievements-detail">
          <ul class="list-inline m-clear">
            <li class=" v-mid schoolachievements-matchdetails text-uppercase ">
              <span>School Rank</span> <span>120/300</span>
            </li>
            <li class=" v-mid schoolachievements-matchdetails ">
              <div class="inline-block v-mid">

                <span>CONTINGENT</span> <span>200</span>
              </div>
              <div class="inline-block ">
                <ul class="list-inline">
                  <li class="v-mid">
                    <div class="inline-block">
                      <span>(</span>
                    </div>
                    <div class="inline-block trackrecordprofile-greygender v-mid">
                      <img ng-src="{{'male' | gendericon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block v-mid">
                      <span>200</span>
                    </div>
                  </li>
                  <li>

                    <div class="inline-block trackrecordprofile-greygender v-mid">
                      <img ng-src="{{'female' | gendericon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block v-mid">
                      <span>200</span>
                    </div>
                    <div class="inline-block">
                      <span>)</span>
                    </div>
                  </li>

                </ul>

              </div>

            </li>
            <li>
              <ul class="list-inline m-clear">
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'gold' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block ">
                    <span class="color-warning ">999</span>
                    <span class="white">Gold</span>
                  </div>
                </li>
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'silver' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block">
                    <span class="color-warning ">999</span>
                    <span class="white">Silver</span>
                  </div>
                </li>
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'bronze' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block">
                    <span class="color-warning ">999</span>
                    <span class="white">Bronze</span>
                  </div>
                </li>




              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END-BLUE-BAR-->


    <!--ACCORDION-->
    <div class="schoolachievements-accordianholder">
      <!--OUTER ACCORDION-->
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default achievements-accordionspace relate" is-open="sport.open" ng-repeat="sport in myAccord track by $index">
          <!--OUTER ACCORDIAN HEAD-->
          <uib-accordion-heading>
            <i class="pull-right fa mt5" ng-class="{'fa-minus': sport.open, 'fa-plus': !sport.open}"></i>
            <div class="schoolachievements-accordiancontent">
              <div class="pull-left pd5">
                <h4 class="m-clear fjalla-one color-primary">{{sport.name}}</h4>
              </div>
              <div class="pull-right pd5">
                <p class="m-clear ">Rank <span class="color-primary">{{sport.rank}}</span></p>
              </div>
              <div class="schoolachivements-accordianmedals">
                <ul class="list-inline m-clear">
                  <li>
                    <div class="inline-block v-bottom schoolprofile-accordianmedals">
                      <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <span>{{sport.gold}}</span>
                  </li>
                  <li>
                    <div class="inline-block v-bottom schoolprofile-accordianmedals">
                      <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <span>{{sport.silver}}</span>
                  </li>
                  <li>
                    <div class="inline-block v-bottom schoolprofile-accordianmedals">
                      <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <span>{{sport.bronze}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="schoolachievements-accordianimg absolute">
              <img ng-src="{{ sport.name| sporticon:'icon'}}" alt="" class="img-responsive">
            </div>
          </uib-accordion-heading>
          <!--END OUTER ACCORDIAN HEAD-->

          <!--INNER ACCORDION -->
          <div class="achievementsinner-accord">
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" is-open="Category.open" ng-repeat="Category in  sport.event track by $index">
                <!--INNER ACCORDION HEAD-->
                <uib-accordion-heading>
                  <div class="text-center">
                    <div class="pull-left pd5">
                      <p class="m-clear text-uppercase"><span>{{Category.gender}}</span> <span>|</span> <span>{{Category.age}}</span></p>
                    </div>
                    <div class="pull-right pd5">
                      <p class="m-clear">Medal winners</p>
                    </div>
                    <div class="">
                      <ul class="list-inline m-clear">
                        <li>
                          <div class="inline-block v-bottom schoolprofile-accordianmedals">
                            <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                          </div>
                          <span>{{Category.gold}}</span>
                        </li>
                        <li>
                          <div class="inline-block v-bottom schoolprofile-accordianmedals">
                            <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                          </div>
                          <span>{{Category.silver}}</span>
                        </li>
                        <li class="">
                          <div class="inline-block v-bottom schoolprofile-accordianmedals">
                            <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                          </div>
                          <span>{{Category.bronze}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </uib-accordion-heading>
                <!--END INNER ACCORDION HEAD-->
                <div class="inneraccordion-sporthead" ng-repeat="event in Category.cat track by $index">
                  <div class="">
                    <p>{{event.name}}</p>
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="athlete in event.ath track by $index">
                      <div class="achievementsinner-accordcontent">
                        <medal-card></medal-card>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </uib-accordion>
          </div>
          <!--END INNER ACCORDION-->

        </div>
      </uib-accordion>
      <!--END OUTER ACCORDION-->
    </div>

    <!--END-ACCORDIAN-->
  </div>
</div>