<div class="schoolprofile-achievements">
  <div class="container">
    <!--FILTER-->
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="inline-block">
          <span>View By Achievements</span>
        </div>
        <div class="inline-block">
          <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="inline-block">
          <span>View By Year</span>
        </div>
        <div class="inline-block">
          <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
        </div>
      </div>
    </div>
    <!--END FILTER-->

    <!--YEAR-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="schoolachievements-currentyear">
          <p class="m-clear">2017</p>
        </div>
      </div>
    </div>
    <!--END YEAR-->

    <!--SPECIAL-AWARD-->
    <div class="row">
      <div class="schoolachievements-specialaward">
        <div class="titledescription-holder">
          <div class="schoolachivements-awardhead">
            <h2 class="fjalla-one">SPECIAL AWARDS</h2>
          </div>
          <div class="schoolachivements-awardcontent">
            <p class="m-clear">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veniam odit soluta sunt vel accusamus, eligendi
              ex, facere aspernatur rem magni expedita, numquam cum labore non nesciunt dolorum voluptatum impedit.</p>
          </div>
        </div>

        <div class="schoolachievement-certificate relate">
          <div class="schoolcertificate-logo">
            <img src="img/sporticon/special-maxcube.png" alt="" class="img-responsive">
          </div>
          <div class="schoolachievement-certificatedetail">
            <h3 class="blue-header-title text-uppercase">sports max awards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti et vel, velit error ipsam magnam distinctio
              nobis soluta illo doloribus, ad totam nisi voluptatum repudiandae animi eum tenetur corporis.</p>
            <p>Awards specific to be mentioned</p>
          </div>
          <div class="schoolachievement-certificatepic">
            <div class="schoolachievement-certificateholder">
              <img src="img/oldSfa/bg-draw.jpg" alt="" class="img-responsive">
            </div>
            <a href="">View Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <!--SPECIAL-AWARD-END-->

    <!--HEADING-->
    <div class="row">
      <div class="titledescription-holder schoolachievements-heading ">
        <div class="">
          <div class="schoolachievements-headinghead">
            <h2 class="fjalla-one text-uppercase">Heading</h2>
          </div>
        </div>
        <div class="">
          <div class="schoolachievements-headingcontent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis inventore porro provident,
              saepe expedita magnam asperiores vel, commodi alias, earum consequuntur quo dolores incidunt omnis accusamus
              atque eaque praesentium.</p>
          </div>
        </div>
      </div>

    </div>
    <!--END-HEADING-->

    <!--BLUE_BAR-->
    <div class="row">
      <div class="schoolachievements-bluebar">
        <div class="schoolachievements-detail">
          <ul class="list-inline m-clear">
            <li class=" v-mid schoolachievements-matchdetails text-uppercase ">
              <span>School Rank</span> <span>120/300</span>
            </li>
            <li class=" v-mid schoolachievements-matchdetails ">
              <div class="inline-block v-mid">

                <span>CONTINGENT</span> <span>200</span>
              </div>
              <div class="inline-block ">
                <ul class="list-inline">
                  <li class="v-mid">
                    <div class="inline-block">
                      <span>(</span>
                    </div>
                    <div class="inline-block trackrecordprofile-greygender v-mid">
                      <img ng-src="{{'male' | gendericon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block v-mid">
                      <span>200</span>
                    </div>
                  </li>
                  <li>

                    <div class="inline-block trackrecordprofile-greygender v-mid">
                      <img ng-src="{{'female' | gendericon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block v-mid">
                      <span>200</span>
                    </div>
                    <div class="inline-block">
                      <span>)</span>
                    </div>
                  </li>

                </ul>

              </div>

            </li>
            <li>
              <ul class="list-inline m-clear">
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'gold' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block ">
                    <span class="color-warning ">999</span>
                    <span class="white">Gold</span>
                  </div>
                </li>
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'silver' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block">
                    <span class="color-warning ">999</span>
                    <span class="white">Silver</span>
                  </div>
                </li>
                <li class="v-mid">
                  <div class="inline-block v-bottom profile-bluemedals">

                    <img ng-src="{{'bronze' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block">
                    <span class="color-warning ">999</span>
                    <span class="white">Bronze</span>
                  </div>
                </li>




              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END-BLUE-BAR-->


    <!--ACCORDIAN-->
    <div class="schoolachievements-accordianholder">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default relate" is-open="s.open" ng-repeat="s in myAccord track by $index">
          <uib-accordion-heading>
            <i class="pull-right fa mt5" ng-class="{'fa-minus': s.open, 'fa-plus': !s.open}"></i>
            <div class="schoolachievements-accordiancontent">
              <div class="pull-left pd5">
                <h4 class="m-clear fjalla-one color-primary">{{s.sport}}</h4>
              </div>
              <div class="pull-right pd5">
                <p class="m-clear">Rank <span>{{s.rank}}</span></p>
              </div>
              <div class="schoolachivements-accordianmedals">
                <ul class="list-inline m-clear">
                  <li>
                    <div class="inline-block  schoolprofile-accordianmedals">

                      <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block ">
                      <span class="color-warning ">999</span>
                    </div>
                  </li>
                  <li>
                    <div class="inline-block  schoolprofile-accordianmedals">

                      <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block">
                      <span class="color-warning ">999</span>
                    </div>
                  </li>
                  <li>
                    <div class="inline-block  schoolprofile-accordianmedals">

                      <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block">
                      <span class="color-warning ">999</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="schoolachievements-accordianimg absolute">
              <img ng-src="{{'water polo' | sporticon:'icon'}}" alt="" class="img-responsive">
            </div>
          </uib-accordion-heading>
          <!--<div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="n in s.img track by $index">
              <div class="trackrecord-athletelistcard">

                <profile-athlete-card></profile-athlete-card>
              </div>
            </div>
          </div>-->
          <div class="inner-accord">
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="q.open" ng-repeat="q in  myAccord track by $index">
                <uib-accordion-heading>
                  Custom template with custom header template
                </uib-accordion-heading>
                <div class="inner-accord">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
              </div>
            </uib-accordion>
          </div>

        </div>
      </uib-accordion>
    </div>

    <!--END-ACCORDIAN-->
  </div>
</div>