<div class="schoolprofile-highlight">
  <div class="">
    <div class="container">
      <div class="row">
        <!--tab-1-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="schoolchampions">
            <div class="schoolchampions-head">

              <p class="m-clear">SFA Championship 2017</p>
            </div>
            <div class="schoolchampions-content">
              <div class="">
                <div class="inline-block v-top schooltrophy-imageholder">
                  <div class="schooltrophy-image">
                    <img src="img/sf-cup.png" class="img-responsive">
                  </div>
                </div>
                <div class="inline-block v-top">
                  <div class="">
                    <div class="">
                      <p class="m-clear">School Rank</p>
                      <p class="m-clear"> <span>19</span> / <span>652</span></p>
                    </div>

                  </div>
                </div>
                <div class="">
                  <ul class="list-inline">
                    <li>
                      <div class="inline-block">

                        <img src="img/sf-gold-sec.png " class="img-responsive ">
                      </div>
                      <div class="inline-block">
                        <span>999</span><br/>
                        <span>Gold</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">

                        <img src="img/sf-silver-sec.png " class="img-responsive ">
                      </div>
                      <div class="inline-block">
                        <span>999</span><br/>
                        <span>Gold</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">

                        <img src="img/sf-bronze-sec.png " class="img-responsive ">
                      </div>
                      <div class="inline-block">
                        <span>999</span><br/>
                        <span>Gold</span>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--end tab-1-->
        <!--tab-2-->
        <div class="col-md-4">
          <div class="performance">
            <div class="performance-head">
              <p class="m-clear">Top Performace School</p>
            </div>
            <div class="performace-content">
              <div class="">
                <div class="inline-block v-top">
                  <div class="performaceimage-holder">
                    <div class="performance-image">
                      <img src="img/dishapatani1.jpg" class="img-responsive">
                    </div>
                  </div>
                </div>
                <div class="inline-block v-top">
                  <div class="">
                    <div class="">
                      <p>Dr. Sarvepalli Radhakrishnan Hindi<br/>Secondary School ( Andheri )</p>
                      <p>SFA Rank :20</p>
                    </div>
                    <div class="">
                      <ul class="list-inline">
                        <li>
                          <div class="inline-block">

                            <img src="img/sf-gold-sec.png " class="img-responsive ">
                          </div>
                          <div class="inline-block">
                            <span>999</span><br/>
                            <span>Gold</span>
                          </div>
                        </li>
                        <li>
                          <div class="inline-block">

                            <img src="img/sf-silver-sec.png " class="img-responsive ">
                          </div>
                          <div class="inline-block">
                            <span>999</span><br/>
                            <span>Gold</span>
                          </div>
                        </li>
                        <li>
                          <div class="inline-block">

                            <img src="img/sf-bronze-sec.png " class="img-responsive ">
                          </div>
                          <div class="inline-block">
                            <span>999</span><br/>
                            <span>Gold</span>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!--end tab-2-->

        <!--tab-3-->
        <div class="col-md-4">
          <div class="imagegallery">
            <div class="imagegallery-head text-center">
              <p class="m-clear">Media gallery</p>
            </div>
            <div class="imagegallery-content">
              <div class="imagegallery-picholder">
                <div class="imagegallery-pic">
                  <img src="img/bl-inner.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end-tab-3-->
      </div>
    </div>
  </div>

</div>