<div class="schoolprofile-statistics">
  <div class="container">
    <!--SPORT REPORT SECTION-->
    <div class="schoolsport-reportsection">
      <!--Report head-->
      <div class="statistics-card">
        <div class="statistics-introhead">
          <div class="inline-block v-bottom">
            <div class="schoolstatistics-reporthead text-uppercase pull-left">
              <h2 class="m-clear color-primary fjalla-one">Sports Report</h2>
            </div>
          </div>
          <div class="inline-block">
            <div class="sfa-filter-select statistics-filter">
              <select name="statsFilter" id="statsFilter" class="select form-control" ng-model="formHeader.year" ng-change="getStatsSchool();">
                <option value="{{year}}" ng-repeat="year in years track by $index">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="statistics-intro">
          <p>At Sports For All, we monitor the overall sporting culture of every school that participates with us. This statistical report is a tool you can use to leverage your school's strengths and address its weaknesses in the various aspects of sport.</p>
        </div>
      </div>
      <!--end Report Head-->
      <div class="schoolstatistics-reportyear">
        {{schoolStats.year}}
      </div>
      <!--Statistics-Card-->
      <div class="row">
        <!--RankCard-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="sportreport-schoolrankcard">
            <div class="inline-block v-mid">
              <div class="sportreport-imagetrophy">
                <img src="img/trophy-small.png" alt="Ranks | Sports For All" class="img-responsive">
              </div>
            </div>
            <div class="inline-block v-mid">
              <div class="sportreport-rankcardcontent text-uppercase">
                <p class="m-clear statistics-school">School Rank</p>
                <p class="m-clear color-primary lh1"> <span class="statistics-schoolrank">{{schoolStats.schoolRank}}</span><span class="statistics-schooltotal">/{{schoolStats.totalSchoolCount}}</span></p>
              </div>
            </div>
          </div>
          <!--End RankCard-->
        </div>
        <!--Gender Ratio-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="sportreport-totalathletescard">
            <div class="sportreport-totalathletecircle inline-block v-mid">
              <round-progress max="100" current="schoolStats.contingent.malePercent" color="#00aaff" bgcolor="#ffad25" radius="20" stroke="5" semi="false" rounded="false" clockwise="false" responsive="true" duration="1000" animation="easeInOutQuart" animation-delay="0"></round-progress>
              <!-- {{schoolStats.contingent.malePercent}} - {{schoolStats.contingent.femalePercent}} -->
              <div class="sportreport-totalathletecirclecontent text-uppercase">
                <p class="m-clear lh1">Total</p>
                <p class="m-clear lh1">Athletes</p>
                <p class="m-clear report-circleno teko-semibold">{{schoolStats.contingent.totalStrength}}</p>
              </div>
            </div>
            <div class="inline-block v-mid">
              <div class="sportreport-genderratio">
                <ul class="list-inline m-clear">
                  <li class="v-mid">
                    <div class="sportreport-gendermale ">
                      <img ng-src="{{'male' | gendericon:'small'}}" alt="Male Contingent | Sports For All" class="img-responsive">
                    </div>
                  </li>
                  <li class="sportreport-gendermaleno v-mid">
                    <span>{{schoolStats.contingent.maleCount}}</span>
                  </li>
                  <li class="v-mid">
                    <div class="sportreport-genderfemale">
                      <img ng-src="{{'female' | gendericon:'small'}}" alt="Female Contingent | Sports For All" class="img-responsive">
                    </div>
                  </li>
                  <li class="sportreport-genderfemaleno v-mid">
                    <span>{{schoolStats.contingent.femaleCount}}</span>
                  </li>
                </ul>
                <div class="text-uppercase genderratio-values">
                  <p class="m-clear"> <span>Gender Ratio</span> <span class="color-primary opensans-semibold">{{schoolStats.contingent.genderRatio}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End GenderRatio-->
        <!--25sport circle-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="sportcicle25">
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="medalDonut.data" chart-labels="medalDonut.labels" chart-options="medalDonut.options" chart-colors="donutColors"></canvas>
            <div class="high25">
              <p class="m-clear text-uppercase">Medals Won</p>
              <p class="m-clear color-primary teko-semibold count">{{schoolStats.medalsTally.totalCount}}</p>
            </div>
          </div>
        </div>
        <!--end 25sportcircle-->
      </div>
      <!--Statistics-Card-End-->
    </div>
    <!--END SPORT REPORT SECTION-->
    <!--SPORT WISE SECTION-->
    <div class="sportwise-statisticssection">
      <!--Sport Wise head-->
      <div class="sportstatistics-sportwisehead">
        <h3 class="text-uppercase color-primary fjalla-one">
          SPORT-WISE STATISTICS
        </h3>
      </div>
      <!--Sport Wise head end-->
      <!--Sport wise card-->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="sport in schoolStats.sports | orderBy:'sportName'| limitTo:viewStatsSport track by $index">
          <div class="sportwise-statisticscard relate">
            <div class="statistics-cardhead clearfix ">
              <div class="statisticscard-sporttitle inline-block">
                <p class="m-clear text-uppercase">{{sport.sportName}}</p>
              </div>
              <div class="statisticscard-sportrank inline-block pull-right lh1">
                <p class="m-clear"><span class="stats-yourrank">30</span><span class="stats-outofrank">/300</span></p>
              </div>
              <div class="statisticscard-sportimg absolute">
                <img ng-src="{{sport.sportName | sporticon:'icon'}}" alt="{{sport.sportName}} | Sports For All" class="img-responsive">
              </div>
            </div>
            <div class="statistics-cardcontent">
              <div class="sportstatistics-matchdetailtable">
                <table class="table">
                  <tbody>
                    <tr class="sportstatistics-br">
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">{{sport.played}}</p>
                          <span>Played</span>
                        </div>
                      </td>
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">{{sport.winCount}}</p>
                          <span>Won</span>
                        </div>
                      </td>
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">{{sport.looseCount}}</p>
                          <span>Lost</span>
                        </div>
                      </td>
                      <td ng-if="sport.drawCount && sport.drawCount>0">
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">{{sport.drawCount}}</p>
                          <span>Draw</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="statistics-contingentstrength">
                <p class="m-clear text-uppercase">Contingent Strength : {{sport.totalStrength}}</p>
                <div class="progress progress-statistics">
                  <div class="progress-bar male-statistics" role="progressbar" style="width:{{sport.malePercent}}%" title="Male Count: {{sport.maleCount}}">
                    <ul class="list-inline pull-right m-clear">
                      <li class="v-mid p-clear male-statisticsimg">
                        <img ng-src="{{'male' | gendericon:'progress'}}" alt="Male Strength" class="img-responsive" width="12px">
                      </li>
                      <li class="p-clear male-statisticsnumber v-mid">
                        <span>{{sport.maleCount}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="progress-bar female-statistics" role="progressbar" style="width:{{sport.femalePercent}}%" title="Female Count: {{sport.femaleCount}}">
                    <ul class="list-inline pull-left m-clear">
                      <li class="v-mid female-statisticsimg">
                        <img ng-src="{{'female' | gendericon:'progress'}}" alt="Female Strength" class="img-responsive" width="12px">
                      </li>
                      <li class="p-clear female-statisticsnumber v-mid">
                        <span>{{sport.femaleCount}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="statistics-medalwon">
                <p class="m-clear text-uppercase">Medal Won</p>
                <div class="inline-block v-top">
                  <ul class="list-inline">
                    <li>
                      <div class="inline-block">
                        <div class="profile-bluemedals">
                          <img ng-src="{{'gold' | medalicon:'blue'}}" alt="Gold Medals" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Gold</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">
                        <div class="profile-bluemedals">
                          <img ng-src="{{'silver' | medalicon:'blue'}}" alt="Silver Medals" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Silver</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">
                        <div class="profile-bluemedals">
                          <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="Bronze Medals" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Bronze</span>
                      </div>
                    </li>
                  </ul>
                  <div class="progressbar-holder" >
                    <div class="statistics-noshow">
                      <p class="m-clear text-uppercase">no show</p>
                    </div>
                    <div class="progress">
                      <div class="progress-bar stats-noshowbar" role="progressbar" style="width:{{sport.noShowPercent}}%">
                        <span class="progress-hovertip">{{sport.noShowPercent}} %</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inline-block statistics-winpercentagewidth v-top" ng-if="sport.winPercent && sport.winPercent > 30">
                  <round-progress max="100" current="sport.winPercent" color="#0eda85" bgcolor="#f5f5f5" radius="20" stroke="5" semi="false" rounded="false" clockwise="false" responsive="true" duration="1000" animation="easeInOutQuart" animation-delay="0"></round-progress>
                  <div class="statistics-winpercentage">
                    <p class="m-clear text-uppercase">win</p>
                    <p class="m-clear no">{{sport.winPercent}}<span class="small-p">%</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="schoolStats.sports.length >= 6">
        <div class="col-md-12">
          <div class="schoollanding-viewall">
            <a ng-click="viewMoreStats()">View <span ng-if="viewStatsSport==6">All Sports</span> <span ng-if="viewStatsSport != 6">Less</span></a>
          </div>
        </div>
      </div>
      <!--End sport wise card-->
      <!--DID NOT PARTICIPATE-->
      <div class="statistics-didnotparticipate">
        <div class="statistics-notparticipatehead">
          <h4 class="text-uppercase color-primary">Did not participate in</h4>
          <p class="m-clear"> <span class="statistics-nosport" ng-repeat="sport in schoolStats.contingent.nonParticipatedSport track by $index">{{sport}}<span class="seperator">, </span></span></p>
        </div>
      </div>
      <!--END PARTICIPATE-->
    </div>
    <!--END SPORT WISE SECTION-->
    <!--PERFORMANCE SUMMARY SECTION-->
    <div class="statistics-performancesummary">
      <div class="statistics-performancesummaryhead">
        <h3 class="m-clear text-uppercase color-primary fjalla-one">PERFORMANCE SUMMARY</h3>
      </div>
      <div class="statistics-performancecard-holder">
        <!-- PERFORMANCE GRAPHS -->
        <div class="statistics-performance-graph">
            <round-progress max="100" current="schoolStats.contingent.winPercent" color="#0eda85" bgcolor="#f5f5f5" radius="20" stroke="5" semi="false" rounded="false" clockwise="false" responsive="true" duration="1000" animation="easeInOutQuart" animation-delay="0"></round-progress>
            <div class="statistics-performance-graphtext">
              <p class="m-clear lh1 text-uppercase">Win</p>
              <p class="m-clear lh1 color-primary teko-semibold statistics-performance-graphno">{{schoolStats.contingent.winPercent}} %</p>
            </div>
        </div>
        <!-- PERFORMANCE GRAPHS END -->
        <!-- PERFORMANCE MEDAL STATS -->
        <div class="statistics-performancecard">
          <!-- MEDALS COUNT -->
          <div class="statistics-performancemedal">
            <ul class="list-inline m-clear">
              <li class="v-mid">
                <div class="inline-block profile-bigmedals">
                  <img ng-src="{{'gold' | medalicon:'big'}}" alt="Gold Medals | Sports For All" class="img-responsive">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">{{schoolStats.medalsTally.medal.gold.count}}</p>
                </div>
                <div class="inline-block">
                  <div class="statistics-medalcontent text-uppercase">
                    <p class="m-clear">GOLD</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear statistics-medalno-total">{{schoolStats.medalsTally.medal.gold.totalGold}}</p>
                  </div>
                </div>
              </li>
              <li class="v-mid">
                <div class="inline-block profile-bigmedals">
                  <img ng-src="{{'silver' | medalicon:'big'}}" alt="Silver Medals | Sports For All" class="img-responsive">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">{{schoolStats.medalsTally.medal.silver.count}}</p>
                </div>
                <div class="inline-block">
                  <div class="statistics-medalcontent text-uppercase">
                    <p class="m-clear ">Silver</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear statistics-medalno-total">{{schoolStats.medalsTally.medal.silver.totalSilver}}</p>
                  </div>
                </div>
              </li>
              <li class="v-mid">
                <div class="inline-block profile-bigmedals">
                  <img ng-src="{{'bronze' | medalicon:'big'}}" alt="Bronze Medals | Sports For All" class="img-responsive">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">{{schoolStats.medalsTally.medal.bronze.count}}</p>
                </div>
                <div class="inline-block">
                  <div class="statistics-medalcontent text-uppercase">
                    <p class="m-clear">Bronze</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear statistics-medalno-total">{{schoolStats.medalsTally.medal.bronze.totalBronze}}</p>
                  </div>
                </div>
              </li>
              <li class="v-mid">
                <div class="inline-block v-mid trophyholder">
                  <img src="img/trophy-small.png" class="img-responsive" alt="School Rank | Sports For All">
                </div>
                <div class="sportreport-rankcardcontent inline-block lh1 v-mid">
                  <p class="m-clear statistics-school">School Rank</p>
                  <p class="m-clear color-primary"> <span class="statistics-schoolrank">{{schoolStats.schoolRank}}</span> <span class="statistics-schoolslash">/</span> <span class="statistics-schooltotal">{{schoolStats.totalSchoolCount}}</span></p>
                </div>
              </li>
            </ul>
          </div>
          <!-- MEDALS COUNT END -->
          <!-- MEDAL POINTS -->
          <div class="statistics-performancemedalpoints ">
            <ul class="list-inline text-uppercase">
              <li>
                <span>Gold</span><span>:</span> <span>{{schoolStats.medalsTally.perMedalPoints.gold}}</span> <span>Points</span>
              </li>
              <li>
                <span>Silver</span><span>:</span> <span>{{schoolStats.medalsTally.perMedalPoints.silver}}</span> <span>Points</span>
              </li>
              <li>
                <span>Bronze</span><span>:</span> <span>{{schoolStats.medalsTally.perMedalPoints.bronze}}</span> <span>Points</span>
              </li>
              <li>
                <span>Total</span><span>:</span> <span>{{schoolStats.medalsTally.totalPoints}}</span> <span>Points</span>
              </li>
              <li>
                <span>No show</span><span>:</span> <span>10%</span>
              </li>
            </ul>
          </div>
          <!-- MEDAL POINTS END -->
        </div>
        <!-- PERFORMANCE MEDAL STATS END -->
      </div>
    </div>
    <!--END PERFORMANCE SUMMARY SECTION-->
    <!--PERFORMANCE SECTION-->
    <div class="schooltop-performancesection">
      <div class="statistics-topperformance">
        <h3 class="color-primary fjalla-one">YOUR PERFORMANCE v/s TOP PERFORMANCE</h3>
      </div>
      <div class="statistics-topperformacetable table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="text-uppercase">
              <th>School Name</th>
              <th>CRITERIA</th>
              <th>TOP PERFORMANCE</th>
              <th>YOUR PERFORMANCE</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="school in schoolStats.performance track by $index">
              <td>{{school.topSchoolName}} </td>
              <td> {{school.criteria}}</td>
              <td> {{school.topPerformance}} </td>
              <td> {{school.myPerformance}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--END PERFORMANCE SECTION-->
  </div>
</div>
