<div class="schoolprofile-statistics">
  <div class="container">

    <!--SPORT REPORT SECTION-->
    <div class="schoolsport-reportsection">
      <!--Report head-->
      <div class="statistics-card">
        <div class="inline-block">
          <div class="schoolstatistics-reportyear">
            <p class="m-clear">2017</p>
          </div>
        </div>
        <div class="inline-block v-bottom">
          <div class="schoolstatistics-reporthead text-uppercase pull-left">
            <h2 class="m-clear color-primary fjalla-one">sport report</h2>
          </div>
        </div>
      </div>
      <!--end Report Head-->

      <!--Statistics-Card-->
      <div class="row">
        <!--RankCard-->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="sportreport-schoolrankcard">
            <div class="inline-block v-mid">
              <div class="sportreport-imagetrophy">
                <img src="img/trophy-small.png" class="img-responsive">
              </div>
            </div>
            <div class="inline-block v-mid">
              <div class="sportreport-rankcardcontent text-uppercase">
                <p class="m-clear statistics-school">School Rank</p>
                <p class="m-clear color-primary lh1"> <span class="statistics-schoolrank">19</span><span class="statistics-schooltotal">/652</span></p>
              </div>
            </div>
          </div>
          <!--End RankCard-->
        </div>
        <!--Gender Ratio-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="sportreport-totalathletescard">
            <div class="sportreport-totalathletecircle inline-block v-mid">
              <div class="sportreport-totalathletecirclecontent text-uppercase">
                <p class="m-clear">Total</p>
                <p class="m-clear">Athletes</p>
                <p class="m-clear report-circleno">321</p>
              </div>
            </div>
            <div class="inline-block v-mid">
              <div class="sportreport-genderratio">
                <ul class="list-inline m-clear">
                  <li class="v-mid">
                    <div class="sportreport-gendermale ">
                      <img ng-src="{{'male' | gendericon:'small'}}" alt="" class="img-responsive">
                    </div>
                  </li>
                  <li class="sportreport-gendermaleno v-mid">
                    <span>991</span>
                  </li>
                  <li class="v-mid">
                    <div class="sportreport-genderfemale">
                      <img ng-src="{{'female' | gendericon:'small'}}" alt="" class="img-responsive">
                    </div>
                  </li>
                  <li class="sportreport-genderfemaleno v-mid">
                    <span>992</span>
                  </li>
                </ul>
                <div class="text-uppercase genderratio-values">
                  <p class="m-clear"> <span>Gender Ratio</span> <span class="color-primary">3</span> : <span class="color-primary">2</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--End GenderRatio-->

        <!--25sport circle-->
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="sportcicle25">
            <div class="high25">
              <p class="m-clear">Medals Won</p>
              <p class="m-clear">300</p>
            </div>

          </div>
        </div>
        <!--end 25sportcircle-->

      </div>
      <!--Statistics-Card-End-->
    </div>
    <!--END SPORT REPORT SECTION-->

    <!--SPORT WISE SECTION-->
    <div class="sportwise-statisticssection">

      <!--Sport Wise head-->
      <div class="sportstatistics-sportwisehead">
        <h3 class="text-uppercase color-primary fjalla-one">
          SPORT-WISE STATISTICS
        </h3>
      </div>
      <!--Sport Wise head end-->

      <!--Sport wise card-->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="s in customCards">

          <div class="sportwise-statisticscard relate">
            <div class="statistics-cardhead clearfix ">
              <div class="statisticscard-sporttitle inline-block">
                <p class="m-clear text-uppercase">Archery</p>
              </div>
              <div class="statisticscard-sportrank inline-block pull-right lh1">
                <p class="m-clear"><span class="stats-yourrank">30</span><span class="stats-outofrank">/300</span></p>
              </div>
              <div class="statisticscard-sportimg absolute">
                <img src="img/8_Football.png" alt="" class="img-responsive">
              </div>
            </div>
            <div class="statistics-cardcontent">
              <div class="sportstatistics-matchdetailtable">
                <table class="table">
                  <tbody>
                    <tr class="sportstatistics-br">
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">123</p>
                          <span>Played</span>
                        </div>
                      </td>
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">456</p>
                          <span>Won</span>
                        </div>
                      </td>
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">789</p>
                          <span>LOst</span>
                        </div>
                      </td>
                      <td>
                        <div class="sportwise-statisticstype">
                          <p class="m-clear">03</p>
                          <span>Draw</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="statistics-contingentstrength">
                <p class="m-clear text-uppercase">Contingent Strenght : 300</p>
                <div class="progress progress-statistics">
                  <div class="progress-bar male-statistics" role="progressbar" style="width:60%">
                    <!--<span class="statistics-progresgendermale">
                    <span class="male-statisticsimg"><img ng-src="{{'male' | gendericon:'progress'}}" alt="" class="img-responsive"></span>
                  <span class="male-statisticsnumber">200</span>
                  </span>-->
                    <ul class="list-inline pull-right m-clear">
                      <li class="v-mid p-clear male-statisticsimg">
                        <img ng-src="{{'male' | gendericon:'progress'}}" alt="" class="img-responsive" width="12px">
                      </li>
                      <li class="p-clear male-statisticsnumber v-mid">
                        <span>200</span>
                      </li>
                    </ul>
                  </div>
                  <div class="progress-bar female-statistics" role="progressbar" style="width:40%">
                    <!--<span class="statistics-progresgenderfemale">
                    <span class="female-statisticsimg"><img src="img/sf-girl-blue.png" alt=""></span>
                  <span class="female-statisticsnumber">200</span>
                  </span>-->
                    <ul class="list-inline pull-left m-clear">
                      <li class="v-mid">
                        <img ng-src="{{'female' | gendericon:'progress'}}" alt="" class="img-responsive" width="12px">
                      </li>
                      <li class="p-clear female-statisticsnumber v-mid">
                        <span>200</span>
                      </li>
                    </ul>
                  </div>
                </div>


              </div>
              <div class="statistics-medalwon">
                <p class="m-clear text-uppercase">Medal Won</p>
                <div class="inline-block v-top">
                  <ul class="list-inline">
                    <li>
                      <div class="inline-block">

                        <div class="profile-bluemedals">
                          <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Gold</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">

                        <div class="profile-bluemedals">
                          <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Silver</span>
                      </div>
                    </li>
                    <li>
                      <div class="inline-block">

                        <div class="profile-bluemedals">
                          <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                        </div>
                      </div>
                      <div class="inline-block text-center">
                        <span class="color-primary">999</span><br/>
                        <span>Bronze</span>
                      </div>
                    </li>
                  </ul>
                  <!--<div class="statistics-noshow">
                    <p class="m-clear text-uppercase">no show</p>
                  </div>-->
                  <div class="progressbar-holder">

                    <div class="progress">
                      <div class="progress-bar stats-noshowbar" role="progressbar" style="width:60%">

                        <span class="progress-hovertip">60%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inline-block statistics-winpercentagewidth v-top">
                  <div class="statistics-winpercentage">
                    <p class="m-clear">win</p>
                    <p class="m-clear">27%</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End sport wise card-->



      <!--DID NOT PARTICIPATE-->
      <div class="statistics-didnotparticipate">
        <div class="statistics-notparticipatehead">
          <h4 class="text-uppercase color-primary">Did not participate in</h4>
          <p class="m-clear">Throwball, Hockey, Kho Kho, Kabaddi, Football, Badminton, Squash, Boxing, Sport MMA, Archery, Swimming, Waterpolo,
            Carrom
          </p>
        </div>
      </div>
      <!--END PARTICIPATE-->

    </div>
    <!--END SPORT WISE SECTION-->



    <!--PERFORMANCE SUMMARY SECTION-->
    <div class="statistics-performancesummary">
      <div class="statistics-performancesummaryhead">
        <h3 class="m-clear text-uppercase color-primary fjalla-one">PERFORMANCE SUMMARY</h3>
      </div>
      <div class="statistics-performancemedal">
        <ul class="list-inline m-clear">
          <li class="v-mid">
            <div class="inline-block profile-bigmedals">
              <img ng-src="{{'gold' | medalicon:'big'}}" alt="" class="img-responsive">
            </div>
            <div class="inline-block">
              <p class="m-clear statistics-medalno">1234</p>
            </div>
            <div class="inline-block">
              <div class="statistics-medalcontent text-uppercase">
                <p class="m-clear">GOLD</p>
                <p class="m-clear">OUT OF</p>
                <p class="m-clear">1528</p>
              </div>

            </div>

          </li>
          <li class="v-mid">
            <div class="inline-block profile-bigmedals">
              <img ng-src="{{'silver' | medalicon:'big'}}" alt="" class="img-responsive">
            </div>
            <div class="inline-block">
              <p class="m-clear statistics-medalno">5678</p>
            </div>
            <div class="inline-block">
              <div class="statistics-medalcontent text-uppercase">
                <p class="m-clear ">Silver</p>
                <p class="m-clear">OUT OF</p>
                <p class="m-clear">1528</p>
              </div>

            </div>

          </li>
          <li class="v-mid">
            <div class="inline-block profile-bigmedals">
              <img ng-src="{{'bronze' | medalicon:'big'}}" alt="" class="img-responsive">
            </div>
            <div class="inline-block">
              <p class="m-clear statistics-medalno">9012</p>
            </div>
            <div class="inline-block">
              <div class="statistics-medalcontent text-uppercase">
                <p class="m-clear">Bronze</p>
                <p class="m-clear">OUT OF</p>
                <p class="m-clear">1528</p>
              </div>

            </div>

          </li>
          <li class="v-mid">
            <div class="sportreport-rankcardcontent lh1">
              <p class="m-clear statistics-school">School Rank</p>
              <p class="m-clear color-primary"> <span class="statistics-schoolrank">19</span> <span class="statistics-schoolslash">/</span> <span class="statistics-schooltotal">652</span></p>
            </div>
          </li>


        </ul>
      </div>
      <div class="statistics-performancemedalpoints">
        <ul class="list-inline text-uppercase">
          <li>
            <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
          </li>
          <li>
            <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
          </li>
          <li>
            <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
          </li>
          <li>
            <span>Total</span><span>:</span> <span>5</span> <span>Points</span>
          </li>
          <li>
            <span>No show</span><span>:</span> <span>5%</span>
          </li>
        </ul>
      </div>
    </div>
    <!--END PERFORMANCE SUMMARY SECTION-->




    <!--PERFORMANCE SECTION-->
    <div class="schooltop-performancesection">
      <div class="statistics-topperformance">
        <h3 class="color-primary fjalla-one">YOUR PERFORMANCE v/s TOP PERFORMANCE</h3>
      </div>
      <div class="statistics-topperformacetable table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="text-uppercase">
              <th>School Name</th>
              <th>CRITERIA</th>
              <th>TOP PERFORMANCE</th>
              <th>YOUR PERFORMANCE</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="s in topTable track by $index">
              <td>{{s.schoolName}} </td>
              <td> {{s.criteria}}</td>
              <td> {{s.tperf}} </td>
              <td> {{s.yperf}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--END PERFORMANCE SECTION-->



  </div>

</div>