<div class="schoolprofile-statistics">
  <div class="container">
    <!--Report head-->
    <div class="row">
      <div class="inline-block">
        <div class="schoolstatistics-reportyear">
          <h1 class="m-clear">2017</h1>
        </div>
      </div>
      <div class="inline-block v-bottom">
        <div class="schoolstatistics-reporthead text-uppercase pull-left">
          <h3 class="m-clear">sport report</h3>

        </div>
      </div>
    </div>
    <!--end Report Head-->
    <div class="statistics-card">
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <!--RankCard-->
        <div class="sportreport-schoolrankcard">
          <div class="inline-block">
            <div class="sportreport-imagetrophy">
              <img src="img/sf-cup.png" class="img-responsive">
            </div>
          </div>
          <div class="inline-block">
            <div class="sportreport-rankcardcontent">
              <p class="m-clear statistics-school">School Rank</p>
              <p class="m-clear color-primary"> <span class="statistics-schoolrank">19</span> <span class="statistics-schoolslash">/</span> <span class="statistics-schooltotal">652</span></p>
            </div>
          </div>
        </div>
        <!--End RankCard-->
      </div>
      <!--Gender Ratio-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="sportreport-totalathletescard">
          <div class="inline-block v-mid">
            <div class="sportreport-totalathletecircle text-uppercase">
              <p class="m-clear">Total</p>
              <p class="m-clear">Athletes</p>
              <p class="m-clear report-circleno">321</p>
            </div>
          </div>
          <div class="inline-block v-mid">
            <div class="sportreport-genderratio">
              <ul class="list-inline">
                <li>
                  <div class="sportreport-gendermale">
                    <img src="img/sf-boys-blue.png" alt="" class="img-responsive">
                  </div>
                  <span>999</span>
                </li>
                <li>
                  <div class="sportreport-genderfemale">
                    <img src="img/sf-boys-blue.png" alt="" class="img-responsive">
                  </div>
                  <span>999</span>
                </li>
              </ul>
              <div class="">
                <p class="m-clear">Gender Ratio <span>3</span> : <span>2</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--End GenderRatio-->

      <!--25sport circle-->
      <div class="col-md-5 col-xs-12">
        <div class="sportcicle25">
          <div class="high25">
            <p class="m-clear">Medals Won</p>
            <p class="m-clear">300</p>
          </div>

        </div>
      </div>
      <!--end 25sportcircle-->

    </div>
    <!--Sport Wise Stats-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>
          SPORT-WISE STATISTICS
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="s in customCards">

        <div class="sportwise-statisticscard relate">
          <div class="statistics-cardhead clearfix ">
            <div class="statisticscard-sporttitle inline-block">
              <p class="m-clear text-uppercase">Archery</p>
            </div>
            <div class="statisticscard-sportrank inline-block pull-right">
              <p class="m-clear"><span class="stats-yourrank">30</span><span class="stats-outofrank">/300</span></p>
            </div>
            <div class="statisticscard-sportimg absolute">
              <img src="img/8_Football.png" alt="" class="img-responsive">
            </div>
          </div>
          <div class="statistics-cardcontent">
            <div class="sportstatistics-matchdetailtable">
              <table class="table">
                <tbody>
                  <tr class="sportstatistics-br">
                    <td>
                      <div class="sportwise-statisticstype">
                        <p class="m-clear">19</p>
                        <span>Played</span>
                      </div>
                    </td>
                    <td>
                      <div class="sportwise-statisticstype">
                        <p class="m-clear">19</p>
                        <span>Won</span>
                      </div>
                    </td>
                    <td>
                      <div class="sportwise-statisticstype">
                        <p class="m-clear">19</p>
                        <span>LOst</span>
                      </div>
                    </td>
                    <td>
                      <div class="sportwise-statisticstype">
                        <p class="m-clear">19</p>
                        <span>Draw</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="statistics-contingentstrength">
              <p class="m-clear text-uppercase">Contingent Strenght : 300</p>
              <div class="progress progress-statistics">
                <div class="progress-bar male-statistics" role="progressbar" style="width:60%">
                  <span class="statistics-progresgendermale">
                    <span class="male-statisticsimg"><img src="img/sf-boys-blue.png" alt=""></span>
                  <span class="male-statisticsnumber">200</span>
                  </span>


                </div>
                <div class="progress-bar female-statistics" role="progressbar" style="width:40%">
                  <span class="statistics-progresgenderfemale">
                    <span class="female-statisticsimg"><img src="img/sf-girl-blue.png" alt=""></span>
                  <span class="female-statisticsnumber">200</span>
                  </span>
                </div>
              </div>


            </div>
            <div class="statistics-medalwon">
              <p class="m-clear text-uppercase">Medal Won</p>
              <div class="inline-block v-top">
                <ul class="list-inline">
                  <li>
                    <div class="inline-block">

                      <img src="img/sf-gold-sec.png " class="img-responsive ">
                    </div>
                    <div class="inline-block">
                      <span class="color-primary">999</span><br/>
                      <span>Gold</span>
                    </div>
                  </li>
                  <li>
                    <div class="inline-block">

                      <img src="img/sf-silver-sec.png " class="img-responsive ">
                    </div>
                    <div class="inline-block">
                      <span class="color-primary">999</span><br/>
                      <span>Gold</span>
                    </div>
                  </li>
                  <li>
                    <div class="inline-block">

                      <img src="img/sf-bronze-sec.png " class="img-responsive ">
                    </div>
                    <div class="inline-block">
                      <span class="color-primary">999</span><br/>
                      <span>Gold</span>
                    </div>
                  </li>
                </ul>
                <div class="statistics-noshow">
                  <p class="m-clear text-uppercase">no show</p>
                </div>
                <div class="progressbar-holder">

                  <div class="progress">
                    <div class="progress-bar stats-noshowbar" role="progressbar" style="width:60%">

                      <span class="progress-hovertip">60%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inline-block statistics-winpercentagewidth v-top">
                <div class="statistics-winpercentage">
                  <p class="m-clear">win</p>
                  <p class="m-clear">27%</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Sport Wise-->

      <!--DID NOT PARTICIPATE-->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="text-uppercase">Did not participate in</h4>
          <p class="m-clear">Throwball, Hockey, Kho Kho, Kabaddi, Football, Badminton, Squash, Boxing, Sport MMA, Archery, Swimming, Waterpolo,
            Carrom
          </p>
        </div>
      </div>
      <!--END PARTICIPATE-->
      <!--Performace summary-->
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-performancesummary">
            <h3>PERFORMANCE SUMMARY</h3>
          </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-performancemedal">

            <ul class="list-inline">
              <li>
                <div class="inline-block">
                  <img src="img/sf-gold-sec.png " class="img-responsive ">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">08</p>
                </div>
                <div class="inline-block ">
                  <div class="statistics-medalcontent">
                    <p class="m-clear">GOLD</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear">1528</p>
                  </div>

                </div>

              </li>
              <li>
                <div class="inline-block">
                  <img src="img/sf-gold-sec.png " class="img-responsive ">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">08</p>
                </div>
                <div class="inline-block ">
                  <div class="statistics-medalcontent">
                    <p class="m-clear">GOLD</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear">1528</p>
                  </div>

                </div>

              </li>
              <li>
                <div class="inline-block">
                  <img src="img/sf-gold-sec.png " class="img-responsive ">
                </div>
                <div class="inline-block">
                  <p class="m-clear statistics-medalno">08</p>
                </div>
                <div class="inline-block ">
                  <div class="statistics-medalcontent">
                    <p class="m-clear">GOLD</p>
                    <p class="m-clear">OUT OF</p>
                    <p class="m-clear">1528</p>
                  </div>

                </div>

              </li>
              <li>
                <div class="sportreport-rankcardcontent">
                  <p class="m-clear statistics-school">School Rank</p>
                  <p class="m-clear color-primary"> <span class="statistics-schoolrank">19</span> <span class="statistics-schoolslash">/</span> <span class="statistics-schooltotal">652</span></p>
                </div>
              </li>


            </ul>
          </div>
          <div class="statistics-performancemedalpoints">
            <ul class="list-inline text-uppercase">
              <li>
                <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
              </li>
              <li>
                <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
              </li>
              <li>
                <span>Gold</span><span>:</span> <span>5</span> <span>Points</span>
              </li>
              <li>
                <span>Total</span><span>:</span> <span>5</span> <span>Points</span>
              </li>
              <li>
                <span>No show</span><span>:</span> <span>5%</span>
              </li>
            </ul>
          </div>
        </div>


      </div>
      <!--End performance-->

      <!--Table-->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-topperformance">
            <h3>YOUR PERFORMANCE v/s TOP PERFORMANCE</h3>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="statistics-topperformacetable">
            <table class="table table-striped">
              <thead>
                <tr class="text-uppercase">
                  <th>School Name</th>
                  <th>CRITERIA</th>
                  <th>TOP PERFORMANCE</th>
                  <th>YOUR PERFORMANCE</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="s in topTable track by $index">
                  <td>{{s.schoolName}} </td>
                  <td> {{s.criteria}}</td>
                  <td> {{s.tperf}} </td>
                  <td> {{s.yperf}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--End Table-->



    </div>

  </div>