<div class="schoolprofile-team">
  <div class="container">
    <!--SUMMARY SECTION-->
    <div class="schoolprofile-summarysection">
      <div class="schoolprofile-summaryhead  titledescription-holder">
        <h3 class="color-primary fjalla-one text-uppercase">YEAR-ON-YEAR SUMMARY</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsum sint voluptatum voluptates facilis veritatis
          ullam esse, totam aliquid eveniet consequuntur. Nostrum possimus nemo vel dolores dolorum molestias officia deserunt.</p>
      </div>
      <!--FLEX-SLIDER-->
      <div class="schoolprofile-tablelist  sfa-flexslider sfa-swiper relate">
        <!--<flex-slider flex-slide="n in Sumsportstable track by $index" prev-text="" next-text="">-->

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="n in Sumsportstable track by $index">
              <div class="school-yearsummarytableswiper">
                <div class="school-yearsummary">
                  <div class="school-yearsummaryhead">
                    <div class="school-yearsummaryimg relate" style=" background-image: url(../{{ n.name|sporticon: 'header'}});">
                      <div class="school-yearsummarycontent">
                        <p class="m-clear fjalla-one text-uppercase">{{n.name}}</p>
                      </div>
                      <div class="school-yearsummarysportimg">
                        <img ng-src="{{n.name | sporticon:'icon'}}" alt="" class="img-responsive">
                      </div>
                    </div>
                  </div>
                  <div class="school-yearsummarytable table-responsive">
                    <table class="table">
                      <thead>
                        <th></th>
                        <th>
                          <div class="">
                            <p class="m-clear">M</p>
                            <p class="m-clear" hidden>R</p>
                            <p class="m-clear" hidden>A</p>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <p class="m-clear">W</p>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <p class="m-clear">
                              L
                            </p>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <p class="m-clear">D</p>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <p class="m-clear">
                              W%
                            </p>
                          </div>
                        </th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="t in summaryTable track by $index">
                          <td>
                            <div class="">
                              {{t.year}}
                            </div>
                          </td>
                          <td>
                            <div class="">
                              {{t.match}}
                            </div>
                          </td>
                          <td>
                            <div class="">
                              {{t.win}}
                            </div>
                          </td>
                          <td>
                            <div class="">
                              {{t.loss}}
                            </div>
                          </td>
                          <td>
                            <div class="">
                              {{t.draw}}
                            </div>
                          </td>
                          <td>
                            <div class="">
                              {{t.wper}}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev school-yearsummarytableswiper-prev"><span class="fa fa-chevron-left"></span></div>
        <div class="swiper-button-next school-yearsummarytableswiper-next"><span class="fa fa-chevron-right"></span></div>
        <!--</flex-slider>-->
      </div>
      <!--END-FLEX-SLIDER-->
    </div>
    <!--END SUMMARY-->


    <!--DETAIL SECTION -->
    <div class="schoolprofile-detailstatisticssection">
      <!--STATITICS SECTION-->
      <div class="schoolprofile-teamstatitics titledescription-holder">
        <h3 class="text-uppercase color-primary fjalla-one">DETAILED TEAM STATITICS</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit ullam sapiente rerum laboriosam et eius ut repellat,
          minus voluptatem enim modi beatae minima atque, dolores maiores perspiciatis ipsam! Saepe, iure?</p>
      </div>
      <div class="schoolprofile-teamfilter">
        <ul class="list-inline">
          <li>
            <p>View by year</p>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!--END-STATITICS-SECTION->

      <!-YEAR-->
      <div class="team-currentyear">
        <p class="m-clear ">2017</p>
      </div>
      <!--YEAR-->

      <!--cards-list-->
      <div class="schoolprofile-teamsportlistcard">
        <div class="schoolprofile-teamsportlist" ng-repeat="s in teamCards track by $index">
          <sport-card></sport-card>
        </div>
      </div>
      <!--end cardlist-->

    </div>
    <!--END DETAIL SECTION-->

    <!--SPORT TABLE SECTION-->
    <div class="schoolteam-tablesection">
      <!--SELECTED SPORT TABLE-->
      <div class="schoolprofile-selectsporthead">
        <h3 class="text-uppercase color-primary fjalla-one">Basketball</h3>
        <ul class="list-inline">
          <li>Gender</li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
              </ul>
            </div>
          </li>
          <li>Age category</li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="selectedsport-tablecard">
        <div class="selectedsport-tablecardcontent">
          <div class="schoolprofile-teamsportdetails">
            <p><span>Boys</span> | <span>U-8</span> | <span>MT 1113</span></p>
            <div class="">
              <ul class="list-inline">
                <li class="lh1">
                  <p class="m-clear teamslected-matchdetail teko-semibold">999</p>
                  <p class="m-clear"> Played </p>
                </li>
                <li class="lh1">
                  <p class="m-clear teamslected-matchdetail teko-semibold">999</p>
                  <p class="m-clear"> Won </p>
                </li>
                <li class="lh1">
                  <p class="m-clear teamslected-matchdetail teko-semibold">999</p>
                  <p class="m-clear"> Lost </p>
                </li>
                <li class="lh1">
                  <p class="m-clear teamslected-matchdetail teko-semibold">999</p>
                  <p class="m-clear"> Draw </p>
                </li>
              </ul>
            </div>
            <div class="inline-block">

            </div>
            <!--table-->
            <div class="schoolprofile-teamsporttable table-responsive">
              <table class=" table table-striped">
                <thead>
                  <tr class="bg-blue text-uppercase">
                    <th>
                      <div class="schoolprofileteam-head">
                        Round
                      </div>
                    </th>
                    <th></th>
                    <th>
                      <div class="schoolprofileteam-head">
                        Opponent
                      </div>
                    </th>
                    <th>
                      <div class="schoolprofileteam-head text-center">
                        score

                      </div>
                    </th>
                    <th>
                      <div class="schoolprofileteam-head text-center">

                        Result
                      </div>
                    </th>
                    <th>
                      <div class="schoolprofileteam-head">

                        video
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in selectedsportTable track by $index">
                    <td>{{item.round}} </td>
                    <td>
                      <div class="">
                        vs
                      </div>
                    </td>
                    <td>
                      <div class="inline-block schoolprofile-teamsportimg v-mid ">
                        <img src="img/oldSfa/icon/2.png" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block opponent-schoolname v-mid">
                        <p class="m-clear"> {{item.schoolname}}</p>
                      </div>

                    </td>
                    <td>
                      <div class="text-center">{{item.score}}</div>

                    </td>
                    <td>
                      <div class=" text-center">
                        <p class="m-clear">{{item.result}}
                        </p>
                        <div class="teamsporttable-medalholder profile-bluemedals">
                          <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                        </div>
                      </div>
                    </td>
                    <td>
                      <a fancybox fancybox-box class="fancybox.iframe" href="https://www.youtube.com/embed/Gfhf2uWIg98?autoplay=1;rel=0&amp;controls=0frameborder=0"
                        title-position="over" title="YOLO">
                        <div class="inline-block v-mid">

                          <div class="videotableteam-imgholder relate">
                            <img src="img/day-04.png" class="img-responsive">
                            <div class="absolute video-playbtn">
                              <div class="teamvideo-customplay">
                                <span>
                          <i class="fa  fa-play"></i>
                          </span>
                                <!--<i class="fa fa-play-circle" aria-hidden="true"></i>-->
                              </div>
                            </div>
                          </div>

                        </div>
                      </a>
                      <div class="inline-block v-mid schoolprofile-teamvideos">
                        <p class="m-clear">You can also watch </p>
                        <a class="display-block ">Match highlights </a>
                        <a class="display-block ">Analyzed videos</a>
                      </div>

                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
            <!--End table-->
          </div>
        </div>
        <div class="selcetedsport-tablecardfooter">
          <div class="selectedsport-medaldetails">
            <ul class="list-inline">
              <li class="v-mid">
                <div class="selectedsport-sportnameage">
                  Football Boys U-16 Champions 2017:
                </div>
              </li>
              <li class="v-mid">
                <div class="">
                  <div class="inline-block v-top profile-bluemedals">
                    <img ng-src="{{'gold' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block winingschool-width">
                    <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                  </div>
                </div>

              </li>
              <li class="v-mid">
                <div class="">
                  <div class="inline-block v-top profile-bluemedals">
                    <img ng-src="{{'silver' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block winingschool-width">
                    <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                  </div>
                </div>

              </li>
              <li class="v-mid">
                <div class="">
                  <div class="inline-block v-top profile-bluemedals">
                    <img ng-src="{{'bronze' | medalicon:'white'}}" alt="" class="img-responsive">
                  </div>
                  <div class="inline-block winingschool-width">
                    <p class="m-clear">Dr. Sarvepalli Radhakrishnan Hindi School (Andheri)</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--END SELECTED SPORT TABLE-->
    </div>
    <!--END SPORT TABLE SECTION-->

    <!--ACCORDIAN-->

    <div class="schoolteam-accordianholder viewteam-accordion">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="s.open" ng-repeat="s in teamAccor |limitTo:1 track by $index">
          <uib-accordion-heading class="clearfix">

            <a href="">View Team <i class="fa " ng-class="{'fa-chevron-up': s.open, 'fa-chevron-down': !s.open}"></i></a>
          </uib-accordion-heading>
          <div class="viewteam-accordioncontent">
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="n in s.img track by $index">
                <div class="viewteam-medalcard">
                  <medal-card></medal-card>

                </div>
              </div>
            </div>
          </div>


        </div>
      </uib-accordion>
    </div>
    <!--END ACCORDIAN-->

  </div>
</div>