<!-- Slider main container -->
<div class="container">
  <div class="sfa-swiper relate">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" ng-repeat="s in customCards track by $index">
          <team-card></team-card>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"><span class="fa fa-chevron-left"></span></div>
    <div class="swiper-button-next"><span class="fa fa-chevron-right"></span></div>
  </div>

</div>