<div class="schoolprofile-trackrecord">

  <div class="container">
    <!--SCHOOL-TRACKRECORD-->
    <div class="schooltrackrecord-head">
      <div class="schooltrackrecord-content titledescription-holder">
        <h2 class="fjalla-one text-uppercase">YEAR-ON-YEAR TRACK RECORD</h2>
        <p>A year-on-year summary of the school's overall performance at SFA Championships.
        </p>
      </div>
      <div class="schooltrackrecord-table">
        <table class=" table table-striped">
          <thead>
            <tr>
              <th>
                <div class="text-uppercase">
                  SFA Champions
                </div>
              </th>
              <th ng-repeat="y in yearTable ">
                <div>
                  {{y.year}}
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                  <p class="m-clear">
                    contingent strength
                  </p>
                </div>
              </td>
              <td ng-repeat="detail in contentT">
                <div>
                  <p class="m-clear">
                    <span>{{detail.total}}</span> <span>Athletes</span> <span>(</span><span>M</span> <span>{{detail.male}}</span>
                    <span>F</span> <span>{{detail.female}}</span><span>)</span>

                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <p class="m-clear">
                    sports participated
                  </p>
                </div>
              </td>
              <td ng-repeat="d in videos | limitTo:3">
                <div class="text-center">
                  <p class="m-clear">
                    <span ng-repeat="sport in SumTable track by $index"> 
                            {{sport.name}}<span>,</span>
                    </span>

                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <p class="m-clear">medal won</p>
                </div>
              </td>
              <td ng-repeat="z in videos | limitTo:3">
                <div class="">
                  <ul class="list-inline f14">
                    <li class="v-mid">
                      <div class="inline-block v-bottom profile-bluemedals">

                        <img ng-src="{{'gold' | medalicon:'blue'}}" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block ">
                        <span class="color-primary">999</span>
                        <span>Gold</span>
                      </div>
                    </li>
                    <li class="v-mid">
                      <div class="inline-block v-bottom profile-bluemedals">

                        <img ng-src="{{'silver' | medalicon:'blue'}}" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block">
                        <span class="color-primary">999</span>
                        <span>Silver</span>
                      </div>
                    </li>
                    <li class="v-mid">
                      <div class="inline-block v-bottom profile-bluemedals">

                        <img ng-src="{{'bronze' | medalicon:'blue'}}" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block">
                        <span class="color-primary">999</span>
                        <span>Bronze</span>
                      </div>
                    </li>




                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="">
                  <p class="m-clear">
                    special award
                  </p>
                </div>
              </td>
              <td ng-repeat="y in videos | limitTo:3">
                <div class="">

                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="">
                  rank
                </div>
              </td>
              <td ng-repeat="x in sumRank">
                <div class="">
                  <p class="m-clear">
                    <span>{{x.schoolrank}}</span><span>/{{x.total}}</span>
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="">
                  <p class="m-clear">sports co-ordinator </p>
                </div>
              </td>
              <td ng-repeat="w in corName">
                <div class="">
                  <p class="m-clear">
                    {{w.name}}
                  </p>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!--END-SCHOOL-TRACKRECORD-->

    <!--DetailTeam-Statistics-->

    <div class="detailteam-statisticssection">

      <!--DETAIL-TEAM-->
      <div class="detailteam-statistics titledescription-holder">
        <div class="detailstatistics-head text-uppercase">
          <h2 class="fjalla-one">
            DETAILED TEAM STATITICS
          </h2>
        </div>
        <div class="detailstatistics-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit modi deserunt quam sunt soluta. Esse ducimus deleniti
            pariatur cumque. Autem dolorum, ea eaque nemo consectetur officia voluptate ullam commodi recusandae.</p>
        </div>
      </div>
      <!--END-DETAIL-TEAM-->

      <!--TRACK-FILTER-->
      <div class="trackrecord-filter">
        <div class="row">
          <div class="col-md-3 col-sm-4 co-xs-12">
            <div class="inline-block">
              <label for="">View for sports</label>
            </div>
            <div class="inline-block">
              <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
            </div>

          </div>
          <div class="col-md-3 col-sm-4 co-xs-12">
            <div class="inline-block">
              <label for="">View for sports</label>
            </div>
            <div class="inline-block">
              <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 co-xs-12">
            <div class="inline-block">
              <label for="">View for sports</label>
            </div>
            <div class="inline-block">
              <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <!--END-TRACK-FILTER-->

      <!--YEAR-BLUE-DIV-->
      <div class="trackrecord-year">
        <div class="inline-block v-mid">
          <p class="m-clear trackrecord-currentyear">2017</p>
        </div>
        <div class="inline-block v-mid trackrecord-detailwidth">
          <div class="trackrecord-detail">
            <ul class="list-inline m-clear">
              <li class="f18 v-mid">
                <span>School Rank</span> <span>120/300</span>
              </li>
              <li class="f18 v-mid">
                <div class="inline-block v-mid">
                  <span>CONTINGENT</span> <span>200</span>
                </div>
                <div class="inline-block  f18">
                  <ul class="list-inline">

                    <!--<li>(<img ng-src="{{'male' | gendericon:'white'}}" alt=""> <span>200</span></li>
                        <li><img ng-src="{{'male' | gendericon:'white'}}" alt=""><span>200)</span></li>-->
                    <!--<li>
                          <span>(</span>
                        </li>-->
                    <li class="v-mid">
                      <div class="inline-block">
                        <span>(</span>
                      </div>
                      <div class="inline-block trackrecordprofile-greygender v-mid">
                        <img ng-src="{{'male' | gendericon:'white'}}" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block v-mid">
                        <span>200</span>
                      </div>
                    </li>
                    <li>

                      <div class="inline-block trackrecordprofile-greygender v-mid">
                        <img ng-src="{{'female' | gendericon:'white'}}" alt="" class="img-responsive">
                      </div>
                      <div class="inline-block v-mid">
                        <span>200</span>
                      </div>
                      <div class="inline-block">
                        <span>)</span>
                      </div>
                    </li>

                  </ul>

                </div>

              </li>
              <li>
                <ul class="list-inline f14">
                  <li class="v-mid">
                    <div class="inline-block v-bottom profile-bluemedals">

                      <img ng-src="{{'gold' | medalicon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block ">
                      <span class="color-warning ">999</span>
                      <span>Gold</span>
                    </div>
                  </li>
                  <li class="v-mid">
                    <div class="inline-block v-bottom profile-bluemedals">

                      <img ng-src="{{'silver' | medalicon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block">
                      <span class="color-warning ">999</span>
                      <span>Silver</span>
                    </div>
                  </li>
                  <li class="v-mid">
                    <div class="inline-block v-bottom profile-bluemedals">

                      <img ng-src="{{'bronze' | medalicon:'white'}}" alt="" class="img-responsive">
                    </div>
                    <div class="inline-block">
                      <span class="color-warning ">999</span>
                      <span>Bronze</span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--YEAR-BLUE-DIV-END-->

      <!--SPORT-CARDS-->
      <div class="text-center listof-sportlistcardschool">
        <div class="sporttrack-sportlistcard" ng-repeat="s in customCards track by $index">
          <sport-card></sport-card>
        </div>
      </div>
      <!--END-SPORT-CARD-->

      <!--ACCORDIAN-SPORT-NAME-->
      <div class="schooltrack-sportname text-uppercase">
        <h3 class="color-primary fjalla-one">Archery</h3>
      </div>
      <!--END-ACCORDIAN-SPORT-NAME-->

      <!--ACCORDIAN-HOLDER-->
      <div class="schooltrack-accordianholder">
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" is-open="s.open" ng-repeat="s in myAccordian track by $index">
            <uib-accordion-heading class="clearfix">
              <i class="pull-right fa" ng-class="{'fa-minus': s.open, 'fa-plus': !s.open}"></i>
              <ul class="list-inline text-uppercase">
                <li>{{s.gender}} </li>
                <li>|</li>
                <li>{{s.agegroup}} </li>
                <li>|</li>
                <li>{{s.event}} </li>
              </ul>

            </uib-accordion-heading>
            <div class="">
              <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="n in s.img track by $index">
                <div class="trackrecord-athletelistcard">

                  <profile-athlete-card></profile-athlete-card>
                </div>
              </div>
            </div>

          </div>
        </uib-accordion>
      </div>
      <!--ACCORDIAN-HOLDER-END-->

    </div>

    <!--DetailTeam-Statistics-END-->
  </div>
</div>