<div class="schoolprofile-trackrecord">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="schooltrackrecord-content">
            <h3>YEAR-ON-YEAR TRACK RECORD</h3>
            <p>A year-on-year summary of the school's overall performance at SFA Championships.
            </p>
            <!--<div class="schooltrackrecord-table">
              <table class=" table ">
                <thead>
                  <tr>
                    <th>
                      <div>
                        SFA Champions
                      </div>
                    </th>
                    <th>
                      <div>
                        2017
                      </div>
                    </th>
                    <th>
                      <div class="">
                        2016
                      </div>
                    </th>
                    <th>
                      <div class="">
                        2015
                      </div>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in schoolTrackTable track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.gold}} </td>
                    <td>{{item.silver}} </td>

                  </tr>

                </tbody>
              </table>
            </div>-->
          </div>
        </div>
      </div>
      <!--DetailTeam-Statistics-->
      <div class="detailteam-statistics">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="detailstatistics-head">
              <h3>
                DETAILED TEAM STATITICS
              </h3>
            </div>
            <div class="detailstatistics-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit modi deserunt quam sunt soluta. Esse ducimus
                deleniti pariatur cumque. Autem dolorum, ea eaque nemo consectetur officia voluptate ullam commodi recusandae.</p>
            </div>
          </div>
        </div>

        <div class="trackrecord-filter">
          <div class="row">
            <div class="col-md-3 col-sm-4 co-xs-12">
              <div class="inline-block">
                <label for="">View for sports</label>
              </div>
              <div class="inline-block">
                <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
              </div>

            </div>
            <div class="col-md-3 col-sm-4 co-xs-12">
              <div class="inline-block">
                <label for="">View for sports</label>
              </div>
              <div class="inline-block">
                <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 co-xs-12">
              <div class="inline-block">
                <label for="">View for sports</label>
              </div>
              <div class="inline-block">
                <select name="" id="" class="form-control">
                <option value=""> Football</option>
                <option value=""> Football</option>
                <option value=""> Football</option>
              </select>
              </div>
            </div>
          </div>

        </div>

        <div class="trackrecord-year">
          <div class="row">
            <div class="col-md-1">
              <p class="m-clear">2017</p>
            </div>
            <div class="col-md-11">
              <div class="trackrecord-detail">
                <ul class="list-inline">
                  <li class="f18">
                    <span>School Rank</span> <span>120/300</span>
                  </li>
                  <li class="f18">
                    <div class="inline-block">

                      <span>CONTINGENT</span> <span>200</span>
                    </div>
                    <div class="inline-block f18">
                      <ul class="list-inline">
                        <!--<li>(</li>-->
                        <li>(<img src="img/sf-boys-blue.png"> <span>200</span></li>
                        <li><img src="img/sf-boys-blue.png"><span>200)</span></li>
                        <!--<li>)</li>-->
                      </ul>

                    </div>

                  </li>
                  <li>
                    <ul class="list-inline f14">
                      <li>
                        <div class="inline-block v-bottom">

                          <img src="img/sf-gold-sec.png " class="img-responsive ">
                        </div>
                        <div class="inline-block ">
                          <span>999</span>
                          <span>Gold</span>
                        </div>
                      </li>
                      <li>
                        <div class="inline-block v-bottom">

                          <img src="img/sf-silver-sec.png " class="img-responsive ">
                        </div>
                        <div class="inline-block">
                          <span>999</span>
                          <span>Silver</span>
                        </div>
                      </li>
                      <li>
                        <div class="inline-block v-bottom">

                          <img src="img/sf-bronze-sec.png " class="img-responsive ">
                        </div>
                        <div class="inline-block">
                          <span>999</span>
                          <span>Bronze</span>
                        </div>
                      </li>




                    </ul>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <div class="sporttrack-sportlistcard" ng-repeat="s in customCards track by $index">
                <sport-card></sport-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm12 col-xs-12">
                <div class="schooltrack-sportname">
                  <h3>Archery</h3>
                </div>
              </div>
            </div>
            <div class="schooltrack-accordianholder">
              <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="s.open" ng-repeat="s in myAccordian track by $index">
                  <uib-accordion-heading class="clearfix">
                    <i class="pull-right fa" ng-class="{'fa-minus': s.open, 'fa-plus': !s.open}"></i>
                    <ul class="list-inline">
                      <li>{{s.gender}} </li>
                      <li>|</li>
                      <li>{{s.agegroup}} </li>
                      <li>|</li>
                      <li>{{s.event}} </li>
                    </ul>

                  </uib-accordion-heading>
                  <div class="">
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="n in s.img track by $index">
                      <div class="trackrecord-athletelistcard">

                        <profile-athlete-card></profile-athlete-card>
                      </div>
                    </div>
                  </div>

                </div>
              </uib-accordion>
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>

</div>