<div class="schoolprofile-videos">
  <div class="container">
    <div class="schoolvideo-intro titledescription-holder">
      <h3 class="schoolvideo-introhead color-primary fjalla-one">Match Videos</h3>
      <div class="">
        <p>Welcome to your E-locker.</p>
        <p>Professional athletes revisit their matches to support their on ground training with a visual recap that gives them insight into what aspect of the game they need to focus on. Use these videos to analyze your contingent's performance, help identify their weakness and strength, and as a tool for technical off court training.</p>
        <p>There are a total of <span>300 Matche Videos</span> of athletes from your school.</p>
        <p>SFA Tip: Check out the videos of your opponents and championship winning games for new techniques and strategies.</p>
      </div>
    </div>
    <!-- FILTERS -->
    <div class="athletevideo-filter schoolvideo-filter">
      <div class="row">
        <div class="col-md-4">
          <p>View by sports</p>
        </div>
        <div class="col-md-4">
          <p>View by year</p>
        </div>
      </div>
    </div>
    <!-- FILTERS END -->
    <!-- YEARWISE VIDEO HOLDER -->
    <div class="athletevideo-content schoolvideo-content">
      <div class="athletevideo-yearwise schoolvideo-yearwise" ng-repeat="videoholder in videoArray track by $index">
        <!-- YEAR TITLE  -->
        <div class="athletevideo-yearholder schoolvideo-yearholder text-uppercase">
          <p class="athletevideo-year schoolvideo-year">{{videoholder.year}}</p>
          <p class="opensans-semibold">Total match videos {{videoholder.totalVideos}}</p>
        </div>
        <!-- YEAR TITLE END -->
        <!-- SPORTWISE VIDEO HOLDER -->
        <div class="athletevideo-sportholder schoolvideo-sportholder" ng-repeat="sport in videoholder.sport track by $index">
          <!-- SPORT NAME AND COUNTS  -->
          <div class="athetevideo-sporttitle schoolvideo-sporttitle text-uppercase">
            <h3 class="m-clear blue-header-title">{{sport.name}}</h3>
            <p class="">{{sport.videoCount}} videos</p>
          </div>
          <!-- SPORT NAME AND COUNTS END -->
          <!-- SPORTWISE VIDEO CARD ON REPEAT -->
          <div class="athletevideo-sportvideos schoolvideo-sportvideos">
            <!-- <div class="row"> -->
            <!-- <div class="col-md-3" ng-repeat="video in sport.videos track by $index"> -->
            <div class="athletevideo-videocard schoolvideo-videocard" ng-repeat="video in sport.videos track by $index">
              <video-card></video-card>
            </div>
            <!-- </div> -->
            <!-- </div> -->
          </div>
          <!-- SPORTWISE VIDEO CARD ON REPEAT END -->
          <!-- SPORTWISE VIEW ALL PAGINATION CALL -->
          <div class="athletevideo-sportviewall  schoolvideo-sportviewall">
            <a class="btn-videoviewall">View All</a>
          </div>
          <!-- SPORTWISE VIEW ALL PAGINATION CALL END -->
        </div>
        <!-- SPORTWISE VIDEO HOLDER END -->
      </div>
    </div>
    <!-- YEARWISE VIDEO HOLDER END -->
  </div>
</div>
