<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>School</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <h3>List of Registered School
              <span class="tableTotal ">(Total : {{totalItems}}) </span>
            </h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="mtp5">
                    <div class="dropdown">
                      <button class="btn default btn-md dropdown-toggle" type="button" data-toggle="dropdown">Filter
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu filter-athlete-dropdown">
                        <li>
                          <input type="radio" id="radio1" ng-model="formData.type" ng-change="changeAll()" value="">
                          <label for="radio1">All</label>
                        </li>
                        <li>
                          <input type="radio" id="radio7" ng-model="formData.type" value="Date">
                          <label for="radio7">Date</label>
                        </li>
                        <li>
                          <input type="radio" id="radio2" ng-model="formData.type" ng-change="changeInput()" value="SFA-ID">
                          <label for="radio2">SFA-ID</label>
                        </li>
                        <li>
                          <input type="radio" id="radio3" ng-model="formData.type" ng-change="changeInput()" value="School Name">
                          <label for="radio3">School Name
                          </label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio9" ng-model="formData.type" value="UTM_Source" ng-change="changeInput()">
                          <label for="radio9">UTM_Source</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio10" ng-model="formData.type" value="UTM_Medium" ng-change="changeInput()">
                          <label for="radio10">UTM_Medium</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio11" ng-model="formData.type" value="UTM_Campaign" ng-change="changeInput()">
                          <label for="radio11">UTM_Campaign</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio4" ng-model="formData.type" ng-change="changeInput()" value="Payment Mode">
                          <label for="radio4">Payment Mode</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio5" ng-model="formData.type" ng-change="changeInput()" value="Payment Status">
                          <label for="radio5">Payment Status</label>
                        </li>
                        <li class="hide">
                          <input type="radio" id="radio6" ng-model="formData.type" ng-change="changeInput()" value="Verified Status">
                          <label for="radio6">Verified Status</label>
                        </li>
                      </ul>
                    </div>
                    <div class="row" ng-if="formData.type == 'Date'">
                      <div class="col-md-4">
                        <span>From:</span>
                        <input-date ng-model="formData.startDate" placeholder="From"></input-date>
                      </div>
                      <div class="col-md-4">
                        <span>To:</span>
                        <input-date ng-model="formData.endDate" placeholder="To"></input-date>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-sm mrtp school" type="button" ng-click="filterSchool(formData)">Go</button>
                      </div>
                    </div>
                    <div class="row" ng-if="formData.type != 'Date' && formData.type != '' && formData.type!='payuStatus'">
                      <div class="col-md-6 mtp5">
                        <input type="text" ng-model="formData.input" class="form-control" placeholder="Enter {{formData.type}}">
                      </div>
                      <div class="col-md-4 mtp5">
                        <button class="btn btn-sm school" type="button" ng-click="filterSchool(formData)">Go</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 hide ">
                <div class="pull-right">
                  <form class="search-form mr-form ">
                    <input type="text " ng-keydown="$event.keyCode === 13 && searchInSchool(search) " placeholder="Search Here...
                                 " ng-model="search" />
                  </form>
                  <a class="btn btn-success" ng-click="loginPopup(formData,'excel')">Excel Export</a>
                  <a class="btn btn-danger" ng-click="logout()" ng-if="!showAccess && jSchoolops!=null">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="table-responsive ">-->
          <div class="table-responsive table-font reduce-tablepadding" ng-show="totalItems>0 ">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    SFA-ID
                  </th>
                  <th>
                    School Name
                  </th>
                  <th>
                    Mobile No
                  </th>
                  <th>
                    Email
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in items">
                  <!--<tr>-->
                  <!--<td>{{$index + 1}}</td>-->
                  <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td>
                  <td>{{item.sfaID}}</td>
                  <td>{{item.schoolName}}</td>
                  <td>
                    <input type="text" ng-model="item.mobile" class="form-control" placeholder="Enter Mobile No">
                  </td>
                  <td>
                    <input type="text" ng-model="item.email" class="form-control" placeholder="Enter Email ID">
                  </td>
                  <td>
                    <a class="btn btn-success" style="margin: 0px 5px;" target="_new" ng-click="saveData(item._id,item.mobile,item.email)">Save</button>
                      <a class="btn btn-info" target="_new" ui-sref="detailschool({id:item._id})">
                        <i class="fa fa-eye"></i>
                      </a>
                      <a class="btn btn-link hide" ng-click="transferToWebsite(item._id)" target="_new" ng-if="showAccess">
                        <i class="fa  fa-user"></i> Access
                      </a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="filterSchool();" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="formData.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul>
        </div>
      </div>
    </div>
  </div>
</div>